    <div class="text-left om-title">Trade</div>

  <ul class="row nav nav-pills" ng-init="setActiveCurrencyPair()">
      <li ng-repeat="currencyPair in currPairs" ng-class="isActiveCurrencyPair(currencyPair)">
        <a href="" ng-click="setActiveCurrencyPair(currencyPair)"> {{currencyPair[0]}} / {{currencyPair[1]}} </a>
      </li>
      <li ng-hide="true" ><a href=""> +Add </a></li> <!-- hidden until user currencies are born -->
  </ul>

  <div class="row" ng-show="onTradeView">
    <h3> <strong> {{ currAcronyms[ activeCurrencyPair[0] ] }} / {{ currAcronyms[ activeCurrencyPair[1] ] }} </strong> </h3> 
    <!--  <button type="button" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-signal"></span>
      </button>
      &nbsp;
      <button type="button" class="btn btn-default disabled">Last Price <br> <small> 0.00000000 </small> </button>
      &nbsp;
      <div class="btn-group">
      <button type="button" class="btn btn-default disabled">High <br> <small> 0.00000000 </small> </button>
      <button type="button" class="btn btn-default disabled">Low <br> <small> 0.00000000 </small> </button>
      <button type="button" class="btn btn-default disabled">Avg Price <br> <small> 0.00000000 </small> </button>
      <button type="button" class="btn btn-default disabled">Volume <br> <small> 0.00000000 </small> </button>
      <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
              24 hours 
              <span class="caret"></span> <br> &nbsp;
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Dropdown link</a></li>
              <li><a href="#">Dropdown link</a></li>
            </ul>
          </div>
        </div>  -->
  </div>
  <div class="row" ng-controller="WalletTradeOverviewController" ng-init="global.getData()">
    <div class="row" >
      <div class="col-xs-9">
        <div class="row">
          <!-- <h3 class="col-xs-7"> <strong> Buy {{ currAcronyms[ activeCurrencyPair[1] ] }} </strong>
              <select ng-model="currPair" ng-options="pairObject as pairObject for pairObject in pairs"
              ng-change="getData(selectedAddress)">
            <option value="">-- choose currency pair --</option>
            </select> 
              for
            <select ng-model="selectedAddress" ng-options="addrObject.address as addrObject.address for addrObject in addresses" 
              ng-change="getData(selectedAddress)">
            <option value="">-- choose address --</option>
            </select> -->
          </h3>
      </div>
        <h1 class="col-xs-9"> Active Offers </h1> 
      </div>
      <br/>
      <br/>
      <br/>
        <div class="col-xs-9">
          
        </div>
        <div class="col-xs-3">
          <h3> <strong> Sell {{ currAcronyms[ activeCurrencyPair[1] ] }} </strong> </h3>
        </div>
        <div class="col-xs-9">
          <div ng-show="showNoCoinAlert" class="alert alert-danger alert-dismissible missing-dex-alert" role="alert">
            <button type="button" class="close" ng-click="hideNoCoinAlert();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            Sorry, you don't have any {{ currAcronyms[ activeCurrencyPair[1] ] }}'s available to sell
          </div>
        </div>
        <div class="col-xs-3">
          <button class="btn btn-primary" ng-click="setView('saleOffer')" type="submit">Start new sell offer</button>
          <br><br>
        </div>
    </div>

    <div class="col-xs-4">
      Time Frame: <select ng-model="selectedTimeframe"  
          ng-change="global.getData(selectedTimeframe)" ng-options="time.value as time.name for time in timeOptions">
      </select>
    </div>
    <h3 ng-show="orderbook.length == 0" class="text-center">Loading...<img src="/assets/img/spinner.gif"></h3>
    <br /><small><h4 ng-hide="orderbook.length == 0"><span class="text-info text-center"> {{orderbook.length}} Total Transacations </span></h4></small>
    <table ng-hide="orderbook.length == 0" class="table table-striped table-hover table-condensed" fixed-header>
      <thead>
          <tr>
            <th>Transaction hash</th>
            <th>Price ({{ activeCurrencyPair[0] + '/' + activeCurrencyPair[1] }}) </th>
            <th>Amount Remaining</th>
            <th>Cost</th>
            <th>Buyer Fee</th>
            <th>Payment Window (Blocks)</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
      <tr ng-repeat="transaction in orderbook" ng-hide="({{transaction.color=='bgc-expired'}} || {{transaction.color=='bgc-done'}} || {{transaction.formatted_amount_available * transaction.formatted_price_per_coin < .00005757}}) && inactive" class="check-element animate-hide">
        <td ng-click="setHashExplorer(transaction)"><a href="/explorer/inspector?view={{transaction.tx_hash}}">{{transaction.tx_hash_concat}}</a></td>
        <td class="number" title="{{transaction.formatted_price_per_coin}}" ng-bind-html="transaction.formatted_price_per_coin | numeraljs: '0,0.00000000'"></td>
        <td class="number" ng-show="{{transaction.color == 'bgc-new'}}" title="{{transaction.formatted_amount_available}}" ng-bind-html="transaction.formatted_amount_available | numeraljs: '0,0.00000000'"></td> 
        <td class="number" ng-show="{{transaction.color == 'bgc-new-accepted'}}" title="{{transaction.formatted_amount_available}}" ng-bind-html="transaction.formatted_amount_available | numeraljs: '0,0.00000000'"></td> 
        <td class="number" ng-show="{{transaction.color == 'bgc-accepted-done'}}" title="{{transaction.formatted_amount_available}}" ng-bind-html="transaction.formatted_amount_available | numeraljs: '0,0.00000000'"></td> 
        <td ng-show="{{transaction.color == 'bgc-expired'}}">User Ended</td> 
        <td ng-show="{{transaction.color == 'bgc-done'}}">Sold Out!</td> 
        <td class="number" title="{{transaction.formatted_amount_available * transaction.formatted_price_per_coin}}" ng-bind-html="transaction.formatted_amount_available*transaction.formatted_price_per_coin | numeraljs: '0,0.00000000'"></td>
        <td class="number" title="{{transaction.formatted_fee_required}}" ng-bind-html="transaction.formatted_fee_required | numeraljs: '0,0.00000000'"></td>
        <td class="number" title="{{transaction.formatted_block_time_limit}}" ng-bind-html="transaction.formatted_block_time_limit | numeraljs: '0,0'"></td>
        <td ng-show="(transaction.tx_hash.length == 64) && transaction.status == null && !(transaction.from_address == selectedAddress)">
          <button class="btn btn-primary btn-sm" ng-hide="{{transaction.color=='bgc-expired'}} || {{transaction.color=='bgc-done'}} || {{transaction.formatted_amount_available * transaction.formatted_price_per_coin < .00005757}}" ng-click="setView('buyOffer', transaction)" type="submit">Accept...</button>   
          <button class="btn btn-primary btn-sm" ng-show="({{transaction.color == 'bgc-new'}} || {{transaction.color == 'bgc-new-accepted'}} || {{transaction.color == 'bgc-accepted-done'}}) && {{transaction.formatted_amount_available * transaction.formatted_price_per_coin < .00005757}}" onclick="alert('We are sorry. The purchase price for the remaining amount falls below the network minimum and cannot be completed. Please choose a different offer.')" type="submit">Accept...</button>
          <td ng-show="transaction.from_address == selectedAddress"> Your offer/purchase </td>
      </td>
      </tr>
      </tbody>
    </table>  
    
  </div>
