<div class="row om-row">
  <div class="col-xs-12">
    <div class="text-left om-title" >
         {{ 'ABOUT.CONTACT.TITLE' | translate }}
    </div>
    <p> {{ 'ABOUT.CONTACT.WE' | translate }}
    </p>
    <p> {{ 'ABOUT.CONTACT.QUESTIONS' | translate }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="media media-panel">
      <div class="media-left media-middle">
        <a href="https://github.com/OmniLayer/omniwallet/milestones" target ="_new">
          <img class="media-object" src="/assets/img/icons/i-github.png" alt="{{ 'ABOUT.CONTACT.GITHUBTITLE' | translate }}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading om-subtitle">{{ 'ABOUT.CONTACT.GITHUBTITLE' | translate }}</h4>
        {{ 'ABOUT.CONTACT.GITHUBDESC' | translate }}
              <a href="https://developer.chrome.com/devtools/docs/console#opening-the-console" target="_new">{{ 'ABOUT.CONTACT.GITHUBLINK' | translate }}</a>)
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="media media-panel">
      <div class="media-left media-middle">
        <a href="http://support.omniwallet.org/" target ="_new">
          <img class="media-object" src="/assets/img/icons/i-kb.png" alt="{{ 'ABOUT.CONTACT.TALKTITLE' | translate }}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading om-subtitle">{{ 'ABOUT.CONTACT.TALKTITLE' | translate }}</h4>
        {{ 'ABOUT.CONTACT.TALKDESC' | translate }}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="media media-panel">
      <div class="media-left media-middle">
        <a href="mailto:info@omniwallet.org" target ="_new">
          <img class="media-object" src="/assets/img/icons/i-email.png" alt="{{ 'ABOUT.CONTACT.EMAILTITLE' | translate }}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading om-subtitle">{{ 'ABOUT.CONTACT.EMAILTITLE' | translate }}</h4>
        {{ 'ABOUT.CONTACT.EMAILDESC' | translate }}
              <a href="mailto:info@omniwallet.org" target="_new">info@omniwallet.org</a>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
  </div>
</div>
