<div class="row om-row">
  <div class="col-xs-12">
    <div class="text-left om-title" >
         {{ 'ABOUT.MASTERCOIN.TITLE' | translate }}
    </div>
  </div>
</div>
<div class="row">
   <div class="col-xs-12">
       <h3 class="om-subtitle">{{ 'ABOUT.MASTERCOIN.FOUNDATION.TITLE' | translate }}</h3>
       <p>
        {{ 'ABOUT.MASTERCOIN.FOUNDATION.FIRST' | translate }}
        </p>
        <p>
          {{ 'ABOUT.MASTERCOIN.FOUNDATION.SECOND' | translate }}
          <a href="http://www.mastercoin.org" target="_new"><b>
          {{ 'ABOUT.MASTERCOIN.FOUNDATION.LINK' | translate }}</b></a>.
         </p>
    </div>
</div>
<div class="row">
   <div class="col-xs-12">
       <h3 class="om-subtitle">
          {{ 'ABOUT.MASTERCOIN.PROTOCOL.TITLE' | translate }}</h3>
       <p>
          {{ 'ABOUT.MASTERCOIN.PROTOCOL.PARAGRAPH' | translate }}
          <a href="https://github.com/mastercoin-MSC/spec#the-master-protocol--mastercoin-complete-specification" target="_new"><b>{{ 'ABOUT.MASTERCOIN.PROTOCOL.LINK' | translate }}</b></a> {{ 'ABOUT.MASTERCOIN.PROTOCOL.ONGITHUB' | translate }}

       </p>
    </div>
</div>
<div class="row">
   <div class="col-xs-12">
       <h3 class="om-subtitle">{{ 'ABOUT.MASTERCOIN.TOKEN.TITLE' | translate }}</h3>
       <p>
        {{ 'ABOUT.MASTERCOIN.TOKEN.FIRST' | translate }} <a href="http://masterprotocoleducation.org/history-of-the-master-protocol/" target="_new"><b>{{ 'ABOUT.MASTERCOIN.TOKEN.HISTORY' | translate }}</b></a> {{ 'ABOUT.MASTERCOIN.TOKEN.ARTICLE' | translate }}
      </p>
    </div>
</div>

<div class="row">
 <div class="col-xs-12 muted credit"><p> {{ 'ABOUT.MASTERCOIN.INFO' | translate }}<a href="http://masterprotocoleducation.org/" target="_new"><b>{{ 'ABOUT.MASTERCOIN.EDUCATION' | translate }}</b></a></p></div>
</div>
