<div class="row om-row">
  <div class="col-xs-12">
    <div class="text-left om-title" >
         {{ 'ABOUT.MASTERCOIN.TITLE' | translate }}
    </div>
    </div>
</div>
<div class="row">
   <div class="col-xs-12">
       <h3 class="om-subtitle">{{ 'ABOUT.MASTERCOIN.FOUNDATION.TITLE' | translate }}</h3>
       <p>
        {{ 'ABOUT.MASTERCOIN.FOUNDATION.FIRST' | translate }}
        </p>
        <p>
          {{ 'ABOUT.MASTERCOIN.FOUNDATION.SECOND' | translate }}
          <a href="http://www.mastercoin.org" target="_new"><b>
          {{ 'ABOUT.MASTERCOIN.FOUNDATION.LINK' | translate }}</b></a>.
         </p>
    </div>
</div>
<div class="row">
   <div class="col-xs-12">
       <h3 class="om-subtitle">
          {{ 'ABOUT.MASTERCOIN.PROTOCOL.TITLE' | translate }}</h3>
       <p>
          {{ 'ABOUT.MASTERCOIN.PROTOCOL.PARAGRAPH' | translate }}
          {{ 'ABOUT.MASTERCOIN.PROTOCOL.LINK' | translate }}

       </p>
    </div>
</div>
<div class="row">
   <div class="col-xs-12">
       <h3 class="om-subtitle">{{ 'ABOUT.MASTERCOIN.TOKEN.TITLE' | translate }}</h3>
       <p>
        {{ 'ABOUT.MASTERCOIN.TOKEN.FIRST' | translate }}         
      </p>
    </div>
</div>

<div class="row">
 <div class="col-xs-12 muted credit"><p> {{ 'ABOUT.MASTERCOIN.TOKEN.LINK' | translate }}.</p></div>
</div>
