<div class="row om-row">
  <div class="col-xs-12">
    <div class="text-left om-title" >
         {{ 'ABOUT.OMNI.TITLE' | translate }}
    </div>
  </div>
</div>
<div class="row">
   <div class="col-xs-12">
       <h3 class="om-subtitle">{{ 'ABOUT.OMNI.FOUNDATION.TITLE' | translate }}</h3>
       <p>
        {{ 'ABOUT.OMNI.FOUNDATION.FIRST' | translate }}
        </p>
        <p>
          {{ 'ABOUT.OMNI.FOUNDATION.SECOND' | translate }}
          <a href="http://www.omnilayer.org" target="_new"><b>
          {{ 'ABOUT.OMNI.FOUNDATION.LINK' | translate }}</b></a>.
         </p>
    </div>
</div>
<div class="row">
   <div class="col-xs-12">
       <h3 class="om-subtitle">
          {{ 'ABOUT.OMNI.PROTOCOL.TITLE' | translate }}</h3>
       <p>
          {{ 'ABOUT.OMNI.PROTOCOL.PARAGRAPH' | translate }}
          <a href="https://github.com/OmniLayer/spec#omni-protocol-specification-formerly-mastercoin" target="_new"><b>{{ 'ABOUT.OMNI.PROTOCOL.LINK' | translate }}</b></a> {{ 'ABOUT.OMNI.PROTOCOL.ONGITHUB' | translate }}

       </p>
    </div>
</div>
<div class="row">
   <div class="col-xs-12">
       <h3 class="om-subtitle">{{ 'ABOUT.OMNI.TOKEN.TITLE' | translate }}</h3>
       <p>
        {{ 'ABOUT.OMNI.TOKEN.FIRST' | translate }} 
      </p>
    </div>
</div>
