<div class="col-xs-10">
    <div class="text-left om-title" >
       About Omniwallet
    </div>
</div>
<div class="om-body col-xs-10">
<row>
        <div class="col-xs-12">
                <h3>Current Status</h3>
		<p><strong>Beta Code:</strong> What does this mean? We strive to make sure the features available are working as expected, <br />
                           however <span class="text-danger"><b>you should still exercise caution</b></span> when working with anything of substantial value.</p>
                <p><strong></strong>Omniwallet is in full-speed development. Our vision and goal are well defined, and we are working hard to develop the functionality and continually improve the features.</p>
                <p>We would like to get your involvement in the development effort! So go ahead and:</p>
                <ol>
                <li>Play around with it and give us suggestions.</li>
                <li><a href="https://github.com/mastercoin-MSC/omniwallet/issues">Report bugs on github</a>.</li>
                <li>Code up and send in pull requests that fix some of these issues.</li>
                </ol>
                <p>Contributions are eligible for the <a href="http://mastercointalk.org/index.php?topic=121.0">bounties we have in place</a>&nbsp;- so please be sure to submit any contribution you make to the bounty thread.</p>
        </div>
</row>


<row >
  <div class="col-xs-12">
     <h3> Aim </h3>
     <h4>Omniwallet is a new type of web wallet which aims to combine security, usability and multi-currency support.</h4>
  </div>
</row>
<row>
        <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail landing-thumbnail">
                        <img src="/assets/img/secure1.png" width="100px" height="100px" />
                        <div class="caption">
                                <h3>Best in class security</h3>
                                <p>
                                        <ol>
                                        <li><span style="font-size:14px;line-height:1.5em;"><b>Private keys</b> are never sent to the server except in an encrypted form.</span></li>
                                        <li>Everything is <a href="https://github.com/mastercoin-MSC/omniwallet">open source from the ground up</a>!</li>
                                        <li>You can deploy the Omniwallet on your own server and host your own instance, or use one of the service providers that will host it for you - your money, your choice.</li>
                                        </ol>
                                </p>
                        </div>
                </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail landing-thumbnail">
                        <img src="/assets/img/ok.png" width="100px" height="100px" />
                        <div class="caption">
                                <h3>Baked in usability</h3>
                                <p>
                                        <ol>
                                        <li>No software to download or install, no blockchain to synchronize and verify - it just works, lightning fast.</li>
                                        <li>Carefully planned layout, with common operations emphasized</li>
                                        <li>Beautiful and intuitive User Interface</li>
                                        <li>Special care is taken to smooth out operational edge cases to prevent mistakes and ensure a painless experience for the user</li>
                                        </ol>
                                </p>
                        </div>
                </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail landing-thumbnail">
                        <img class="alignnone size-full wp-image-492" alt="MultiOmni" src="/assets/img/multiomni1.png" width="100px" height="100px" />
                        <div class="caption">
                                <h3>Multi-currency support</h3>
                                <p>
                                        <ol>
                                        <li>Omniwallet comes with a pre-built support for Bitcoin, Mastercoin and Test Mastercoin</li>
                                        <li>Native support for Smart Property and User-Generated Currencies</li>
                                        <li>Alt-coin support  - Omniwallet has plans to support coins that go outside of the usual Mastercoin ecosystem, such as Litecoin, Peercoin and more.</li>
                                        </ol>
                                </p>
                        </div>
                </div>
        </div>
</row>
</div>
