<div class="row om-row">
  <div class="col-xs-12">
    <div class="text-left om-title" >
        {{ 'ABOUT.OMNIWALLET.TITLE' | translate }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ 'ABOUT.OMNIWALLET.AIM' | translate }}
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail landing-thumbnail">
        <div class="caption">
            <h3 class="om-subtitle text-center"><strong>{{ 'ABOUT.OMNIWALLET.SECURITY.TITLE' | translate }}</strong></h3>
        </div>
        <img src="/assets/img/icons/i-security.png" width="110px" height="110px" />
        <div class="caption">
                
                <p>
                        <ol>
                            <li>{{ 'ABOUT.OMNIWALLET.SECURITY.KEYS' | translate }}</li>
                            <li>{{ 'ABOUT.OMNIWALLET.SECURITY.OPEN' | translate }}</li>
                            <li>{{ 'ABOUT.OMNIWALLET.SECURITY.REPLICATE' | translate }}</li>
                        </ol>
                </p>
        </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail landing-thumbnail">
        <div class="caption">
            <h3 class="om-subtitle text-center"><strong>{{ 'ABOUT.OMNIWALLET.USABILITY.TITLE' | translate }}</strong></h3>  
        </div>
        <img src="/assets/img/icons/i-usability.png" width="110px" height="110px" />
        <div class="caption">
            <p>
                <ol>
                    <li>{{ 'ABOUT.OMNIWALLET.USABILITY.ONLINE' | translate }}</li>
                    <li>{{ 'ABOUT.OMNIWALLET.USABILITY.PLANNED' | translate }}</li>
                    <li>{{ 'ABOUT.OMNIWALLET.USABILITY.INTUITIVE' | translate }}</li>
                    <li>{{ 'ABOUT.OMNIWALLET.USABILITY.SPECIAL' | translate }}</li>
                </ol>
            </p>
        </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail landing-thumbnail">
        <div class="caption">
            <h3 class="om-subtitle text-center"><strong>{{ 'ABOUT.OMNIWALLET.MULTICURRENCY.TITLE' | translate }}</strong></h3>
        </div>
        <img src="/assets/img/icons/i-multi-currency.png" width="100px" height="100px" />
        <div class="caption">
            <p>
                <ol>
                    <li>{{ 'ABOUT.OMNIWALLET.MULTICURRENCY.BUILT' | translate }}</li>
                    <li>{{ 'ABOUT.OMNIWALLET.MULTICURRENCY.SUPPORT' | translate }}</li>
                </ol>
            </p>
        </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h3 class="om-subtitle">{{ 'ABOUT.OMNIWALLET.STATUS.TITLE' | translate }}</h3>
        <p>{{ 'ABOUT.OMNIWALLET.STATUS.SPEED' | translate }}</p>
        <p>{{ 'ABOUT.OMNIWALLET.STATUS.INVOLVEMENT' | translate }}</p>
        <ol>
        <li>{{ 'ABOUT.OMNIWALLET.STATUS.SUGGESTIONS' | translate }}</li>
        <li><a href="https://github.com/OmniLayer/omniwallet/issues">{{ 'ABOUT.OMNIWALLET.STATUS.BUGS' | translate }}</a>.</li>
        <li>{{ 'ABOUT.OMNIWALLET.STATUS.CODE' | translate }}</li>
        </ol>
        <!-- <p>{{ 'ABOUT.OMNIWALLET.STATUS.CONTRIBUTIONS' | translate }} <a href="http://mastercointalk.org/index.php?topic=121.0">{{ 'ABOUT.OMNIWALLET.STATUS.BOUNTIES' | translate }}</a>&nbsp;- {{ 'ABOUT.OMNIWALLET.STATUS.SUBMIT' | translate }}</p> -->
        <p><strong>{{ 'ABOUT.OMNIWALLET.STATUS.BETA' | translate }}</strong> {{ 'ABOUT.OMNIWALLET.STATUS.MEAN' | translate }} <span class="text-danger"><b>{{ 'ABOUT.OMNIWALLET.STATUS.CAUTION' | translate }}</b></span> {{ 'ABOUT.OMNIWALLET.STATUS.VALUE' | translate }}</p>   
    </div>
</div>
