<div class="input-group dropdown" style="position:relative">
  <span class="input-group-addon">{{label}}</span>
  <input type="text" ng-model="modelValue" ng-change="filter()" ng-focus="open()" ng-blur="close()" class="form-control" placeholder="{{placeholder}}"/>
  <div class="input-group-btn">
    <button class="btn" type="button" ng-click="open()">
      <span class="caret"></span>
    </button>
  </div>
  <ul class="dropdown-menu" role="menu">
    <li role="presentation" ng-repeat="option in filteredList"><a role="menuitem" tabindex="-1" href="#" ng-click="optionSelected(option)">{{option}}</a></li>
  </ul>
</div>