<div ng-controller="ExplorerAssetsController">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
      <div class="text-left om-title" >
        {{'COMMON_ASSETS' | translate}}
      </div>
    </div>
    <div class="col-xs-1 col-sm-9 col-md-8 col-lg-8">
      <form class="pull-right form-inline">
        <div class="form-group">
          <label>{{ 'ECOSYSTEM.LABEL' | translate}}</label>
          <div class="btn-group">
            <button type="button" class="hidden-xs btn btn-tertiary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-if="ecosystem==1">
              {{ 'ECOSYSTEM.PRODUCTION' | translate}}  <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <button type="button" class="hidden-xs btn btn-tertiary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-if="ecosystem==2">
              {{ 'ECOSYSTEM.TEST' | translate}} <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="#" ng-click="setEcosystem(1)">{{ 'ECOSYSTEM.PRODUCTION' | translate}}</a></li>
              <li><a href="#" ng-click="setEcosystem(2)">{{ 'ECOSYSTEM.TEST' | translate}}</a></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div ng-include="'/views/assets/partials/table_all.html'">
  </div>
</div>