ecdsa==0.13.3
email_validator==1.0.5
pycoin==0.25
simplekv==0.8.4
pycryptodome==3.7.0
requests==2.20.0
pybitcointools==1.1
bitcoin-python==0.3
psycopg2==2.8.4
recaptcha-client==1.0.6
Flask>=1.0.0
Flask-SocketIO==4.2.1
MarkupSafe==0.23
Werkzeug==0.16.0
gevent==1.0
gevent-websocket==0.9.2
greenlet==0.4.2
itsdangerous==0.24
ujson==5.4.0
pyotp==2.2.1
redis==2.10.5
uWSGI==2.0.18
