ecdsa==0.10
pycoin==0.25
simplekv==0.8.4
pycryptodome==3.7.0
requests==2.20.0
pybitcointools==1.1
bitcoin-python==0.3
psycopg2==2.5.4
recaptcha-client==1.0.6
Flask==0.12.4
Flask-SocketIO==2.7.1
MarkupSafe==0.18
Werkzeug==0.15.3
gevent==1.0
gevent-websocket==0.9.2
greenlet==0.4.2
itsdangerous==0.23
ujson==1.33
pyotp==2.2.1
redis==2.10.5
