<div class="main-container" ng-controller="ExplorerAssetsController">
  <div class="row hidden-xs">
    <div class="col-xs-2 om-title">{{ 'WALLET_ASSETS_MYASSETS' | translate }}</div>
    <div class="col-xs-offset-9 col-xs-1 pull-right btn-group">
      <button type="button" class="btn btn-main dropdown-toggle" data-toggle="dropdown" id="MyAssets-dropdown" aria-expanded="false">{{ 'WALLET_ASSETS_CREATE' | translate }}<span class="caret"></span></button>
      <ul class="dropdown-menu assets-dropdown" role="menu" aria-labelledby="MyAssets-dropdown">
        <button type="button" class="btn btn-main assets-dropdown-element"><a role="menuitem" tabindex="-1" href="/assets/issue">{{ 'WALLET_ASSETS_SMARTPROPERTY' | translate }}</a></button>
        <li class="divider"></li>
        <button type="button" class="btn btn-main assets-dropdown-element"><a role="menuitem" tabindex="-1" href="/assets/crowdsale">{{ 'WALLET_ASSETS_CROWDSALE' | translate }}</a></button>
      </ul>
    </div>
  </div>
  <div class="row visible-xs">
    <div class="col-xs-2 om-title">{{ 'WALLET_ASSETS_ASSETS' | translate }}</div>
    <div class="col-xs-offset-9 col-xs-1 pull-right btn-group">
      <button type="button" class="btn btn-main dropdown-toggle" data-toggle="dropdown" id="MyAssets-dropdown" aria-expanded="false">{{ 'WALLET_ASSETS_CREATE' | translate }}<span class="caret"></span></button>
      <ul class="dropdown-menu assets-dropdown" role="menu" aria-labelledby="MyAssets-dropdown">
        <button type="button" class="btn btn-main assets-dropdown-element"><a role="menuitem" tabindex="-1" href="/assets/issue">{{ 'WALLET_ASSETS_SMARTPROPERTY' | translate }}</a></button>
        <li class="divider"></li>
        <button type="button" class="btn btn-main assets-dropdown-element"><a role="menuitem" tabindex="-1" href="/assets/crowdsale">{{ 'WALLET_ASSETS_CROWDSALE' | translate }}</a></button>
      </ul>
    </div>
  </div>
</div>