<div class="row text-left om-title">History</div>

  <div class="row" ng-controller="WalletHistoryController">
    
      <h4 class="pull-right"> Full Wallet History for
        <div class="btn-group btn-tertiary">
          <button class="btn btn-clear dropdown-toggle" type="button" id="chooseAddress" data-toggle="dropdown" aria-expanded="true">
            {{selectedAddress.hash}} 
            <span class="caret pull-right"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="chooseAddress">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="#" ng-click="changeAddress(null)">-- All Addresses --</a>
            </li>
            <li role="presentation" ng-repeat="address in wallet.addresses">
              <a role="menuitem" tabindex="-1" href="#" ng-click="changeAddress(address)">{{address.hash}} </a>
            </li>
          </ul>
        </div> 
      </h4>

    <h3 ng-show="isLoading" class="text-center">Loading...<img src="/assets/img/spinner.gif"></h3>

    <table class="table table-hover table-condensed">
      <thead>
          <tr>
            <!-- <th>Transaction hash</th> -->
            <th>Currency</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Transaction time</th>
            <th>Transaction details</th>
          </tr>
      </thead>
      <tbody> 
      </tbody>

      <tr ng-repeat="transaction in history track by $index">
        <!-- <td ng-click="setHashExplorer(transaction)"> <a href="/explorer/inspector?view={{transaction.tx_hash}}">{{transaction.tx_hash_concat}}</a></td> -->
        <td>{{transaction.currency.name | truncate:14 }}</td>
        <td class="tx-{{transaction.role}}">{{ 'TX_TYPE_' + transaction.type | translate}}</td>
        <td ng-show="transaction.currency.divisible" class="number" title="{{transaction.amount}}" ng-bind-html="transaction.amount | numeraljs: '0,0.00000000'"></td>
        <td ng-hide="transaction.currency.divisible" class="number" title="{{transaction.amount}}" ng-bind-html="transaction.amount | numeraljs: '0,0'"></td> 
        <td>{{transaction.time | date:'dd MMM HH:mma Z'}}</td>
        <td>(details)
      </tr>
    </table>
  </div>
