<div ng-controller="WalletSendController" ng-if="wallet.loaded">
  <div class="row om-row">
    <div class="col-xs-12">
      <div class="text-left om-title">{{ 'WALLET_SEND_TITLE' | translate}}</div>
      <!-- <div ng-show="showErrors" class="alert alert-danger"> <strong> {{error}} </strong>  -->
    </div>
  </div> 
  <div class="row">
    <div class="col-sm-12">  
      <form name="sendForm">
        <div class="panel panel-form">
          <div class="panel-body">
            <div class="col-sm-6">
              <label for="chooseCoin" >{{ 'WALLET_SEND_CHOOSECOIN' | translate}}</label>
              <div class="btn-group send-asset-dropdown">
                <button class="btn btn-clear dropdown-toggle" type="button" id="chooseCoin" data-toggle="dropdown" aria-expanded="false">
                  {{selectedAsset.name}} <small ng-show="selectedAsset.id > 2">({{selectedAsset.id}})</small>
                  <span class="caret pull-right"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="chooseCoin">
                  <li role="presentation" ng-repeat="asset in wallet.assets" ng-if="asset.tradable && ((asset.id < 2147483648 && asset.id != 2) || showtesteco === 'true')">
                    <a role="menuitem" tabindex="-1" href="#" ng-click="setAsset(asset)">{{asset.name}} <small ng-show="selectedAsset.id > 2">({{asset.id}})</small></a>
                  </li>
                </ul>
              </div>
            </div> 
            <div class="col-sm-6">
              <label class="text-justify" >{{ 'WALLET_SEND_FROM' | translate}}</label>
              <div class="btn-group send-address-dropdown">
                <button class="btn btn-clear dropdown-toggle" type="button" id="chooseAddress" data-toggle="dropdown" aria-expanded="true">
                  {{selectedAddress.hash}} 
                  <span class="caret pull-right"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="chooseAddress">
                  <li role="presentation" ng-repeat="address in selectedAsset.tradableAddresses">
                    <a role="menuitem" tabindex="-1" href="#" ng-click="setAddress(address)">{{address.hash}} </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>  
        <div class="panel panel-form">
          <div class="panel-body">
            <div class="col-sm-6">
              <label for="chooseCoin" >
                {{ 'WALLET_SEND_AMOUNT' | translate}} ({{selectedAddress.getDisplayBalance(selectedAsset.id)}} {{selectedAsset.name}} <small ng-show="selectedAsset.id > 2">({{selectedAsset.id}})</small> {{ 'COMMON_AVAILABLE' | translate}})
              </label>
              <div class="input-group" ng-if="selectedAsset.symbol == 'BTC'">
                <span class="input-group-addon no-padding">
                  <div class="send-toggle">
                    <div class="btn-sendbyvalue">
                      <span></span>
                      <input type="checkbox" name="sendByValue" ng-init="sendByValue = false" ng-model="sendByValue">
                      <span></span>
                    </div>
                  </div>
                </span>
                <input id="amount" name="amount" type="number" ng-model="sendAmount" class="form-control" value="sendAmount"
                    placeholder="{{selectedAsset.divisible ? '1.00000000' : '1'}}" step="{{selectedAsset.divisible ? 0.00000001 : 1}}" 
                    min="{{selectedAsset.divisible ? 0.00000001 : 1}}" required>
              </div>
              <input ng-if="selectedAsset.symbol != 'BTC'" id="amount" name="amount" type="number" ng-model="sendAmount" 
                    class="form-control" value="sendAmount"
                    placeholder="{{selectedAsset.divisible ? '1.00000000' : '1'}}" step="{{selectedAsset.divisible ? 0.00000001 : 1}}" 
                    min="{{selectedAsset.divisible ? 0.00000001 : 1}}" required>
            </div> 
            <div class="col-sm-6">
              <label class="text-justify" >{{ 'WALLET_SEND_TO' | translate}}</label>
              <input name="reciever" type="text" ng-model="sendTo" class="form-control" required>
            </div>
          </div>
        </div>
        <p>
          {{ 'WALLET_SEND_COST' | translate}}: {{selectedAsset.symbol == 'BTC'? minersFee : minersFee + protocolFee}} BTC <button type="button" class="btn btn-xs"><span class="glyphicon glyphicon-pencil small"></span></button>
        </p>  
        <button type="submit" class="btn btn-main pull-right">{{ 'WALLET_SEND_SUBMIT' | translate}}</button>
      </form>
    </div>    
  </div>
</div>