<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
【平台基本配置参数】对象关系映射 配置
 @author AutoCode 309444359@qq.com
 @date 2019-06-14 10:53:53
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.lx.server.dao.FpConfigBaseParameterDao">

	<resultMap id="fpConfigBaseParameterResultMap" type="com.lx.server.pojo.FpConfigBaseParameter">
		<id property="id" column="id" />
				<result property="typeName" column="type_name" />
				<result property="paramValue" column="param_value" />
				<result property="createTime" column="create_time" />
				<result property="createBy" column="create_by" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="fpConfigBaseParameterResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="fpConfigBaseParameterResultMap"></resultMap>


	<insert id="insert" parameterType="com.lx.server.pojo.FpConfigBaseParameter" useGeneratedKeys="true" keyProperty="id" >
	   insert into t_fp_config_base_parameter (
	    <include refid="columns" />
	   )values (
	     #{id},
	     #{typeName},
	     #{paramValue},
	     #{createTime},
	     #{createBy}
	   )
	</insert>

	<update id="update" parameterType="com.lx.server.pojo.FpConfigBaseParameter">
		update t_fp_config_base_parameter
		<set>
		<if test="typeName != null">
			type_name=#{typeName},
		</if>
		<if test="paramValue != null">
			param_value=#{paramValue},
		</if>
		<if test="createTime != null">
			create_time=#{createTime},
		</if>
		<if test="createBy != null">
			create_by=#{createBy},
		</if>
		</set>
		<where>
			1=1
			<if test="id != null">
				and id=#{id}
			</if>
			<if test="n_typeName != null">
				and type_name=#{n_typeName}
			</if>
			<if test="n_paramValue != null">
				and param_value=#{n_paramValue}
			</if>
			<if test="n_createTime != null">
				and create_time=#{n_createTime}
			</if>
			<if test="n_createBy != null">
				and create_by=#{n_createBy}
			</if>
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from
	     t_fp_config_base_parameter
	   	where 
	    id=#{id}
	</delete>

	<select id="selectObject" parameterType="map" resultMap="fpConfigBaseParameterResultMap">
	   select
	<include refid="columns" />
	   from t_fp_config_base_parameter
	   where
	    id=#{id}
	</select>

	<select id="selectObjectList" parameterType="map" resultMap="fpConfigBaseParameterResultMap">
	   select
	<include refid="columns" />
	   from t_fp_config_base_parameter
	   <where>
	 <include refid="normalCondition"/>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select
	<include refid="columns" />
	   from t_fp_config_base_parameter
	   where
	    id=#{id}
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select
	<include refid="columns" />
	   from t_fp_config_base_parameter
	   <where>
	   <include refid="normalCondition"/>
	   </where>
	</select>

	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select
	<include refid="columns" />
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageBean" parameterType="map" resultMap="fpConfigBaseParameterResultMap">
	   select
	<include refid="columns" />
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>
	
	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from t_fp_config_base_parameter
	   <where>
			<include refid="normalCondition"/>
	   </where>
	</sql>

	<sql id="normalCondition">
		1=1
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="typeName != null">
			and type_name=#{typeName}
		</if>
		<if test="paramValue != null">
			and param_value=#{paramValue}
		</if>
		<if test="createTime != null">
			and create_time=#{createTime}
		</if>
		<if test="createBy != null">
			and create_by=#{createBy}
		</if>
		<if test="keyword != null">
			and (name LIKE CONCAT("%", #{keyword}, "%") )
		</if>
		order by  id  desc 
	</sql>
	<sql id="columns">
			id,
			type_name,
			param_value,
			create_time,
			create_by
	</sql>
</mapper>
