<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
【快速支付的用户的Omni充值地址】对象关系映射 配置
 @author AutoCode 309444359@qq.com
 @date 2019-06-14 10:53:56
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.lx.server.dao.FpUserOmniAddressDao">

	<resultMap id="fpUserOmniAddressResultMap" type="com.lx.server.pojo.FpUserOmniAddress">
		<id property="id" column="id" />
				<result property="fpUserId" column="fp_user_id" />
				<result property="omniAddress" column="omni_address" />
				<result property="createTime" column="create_time" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="fpUserOmniAddressResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="fpUserOmniAddressResultMap"></resultMap>


	<insert id="insert" parameterType="com.lx.server.pojo.FpUserOmniAddress" useGeneratedKeys="true" keyProperty="id" >
	   insert into t_fp_user_omni_address (
	    <include refid="columns" />
	   )values (
	     #{id},
	     #{fpUserId},
	     #{omniAddress},
	     #{createTime}
	   )
	</insert>

	<update id="update" parameterType="com.lx.server.pojo.FpUserOmniAddress">
		update t_fp_user_omni_address
		<set>
		<if test="fpUserId != null">
			fp_user_id=#{fpUserId},
		</if>
		<if test="omniAddress != null">
			omni_address=#{omniAddress},
		</if>
		<if test="createTime != null">
			create_time=#{createTime},
		</if>
		</set>
		<where>
			1=1
			<if test="id != null">
				and id=#{id}
			</if>
			<if test="n_fpUserId != null">
				and fp_user_id=#{n_fpUserId}
			</if>
			<if test="n_omniAddress != null">
				and omni_address=#{n_omniAddress}
			</if>
			<if test="n_createTime != null">
				and create_time=#{n_createTime}
			</if>
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from
	     t_fp_user_omni_address
	   	where 
	    id=#{id}
	</delete>

	<select id="selectObject" parameterType="map" resultMap="fpUserOmniAddressResultMap">
	   select
	<include refid="columns" />
	   from t_fp_user_omni_address
	   where
	    id=#{id}
	</select>

	<select id="selectObjectList" parameterType="map" resultMap="fpUserOmniAddressResultMap">
	   select
	<include refid="columns" />
	   from t_fp_user_omni_address
	   <where>
	 <include refid="normalCondition"/>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select
	<include refid="columns" />
	   from t_fp_user_omni_address
	   where
	    id=#{id}
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select
	<include refid="columns" />
	   from t_fp_user_omni_address
	   <where>
	   <include refid="normalCondition"/>
	   </where>
	</select>

	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select
	<include refid="columns" />
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageBean" parameterType="map" resultMap="fpUserOmniAddressResultMap">
	   select
	<include refid="columns" />
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>
	
	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from t_fp_user_omni_address
	   <where>
			<include refid="normalCondition"/>
	   </where>
	</sql>

	<sql id="normalCondition">
		1=1
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="fpUserId != null">
			and fp_user_id=#{fpUserId}
		</if>
		<if test="omniAddress != null">
			and omni_address=#{omniAddress}
		</if>
		<if test="createTime != null">
			and create_time=#{createTime}
		</if>
		<if test="keyword != null">
			and (name LIKE CONCAT("%", #{keyword}, "%") )
		</if>
		order by  id  desc 
	</sql>
	<sql id="columns">
			id,
			fp_user_id,
			omni_address,
			create_time
	</sql>
</mapper>
