<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
【用户钱包地址】对象关系映射 配置
 @author AutoCode 309444359@qq.com
 @date 2019-04-28 09:36:25
 -->
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.lx.server.dao.WalletAddressDao">

	<resultMap id="walletAddressResultMap" type="com.lx.server.pojo.WalletAddress">
		<id property="id" column="id" />
				<result property="userId" column="user_id" />
				<result property="address" column="address" />
				<result property="addressIndex" column="address_index" />
				<result property="addressName" column="address_name" />
				<result property="isEnable" column="is_enable" />
				<result property="createTime" column="create_time" />
				<result property="visible" column="visible" />
	</resultMap>
	<resultMap id="mapResultMap"  type="java.util.HashMap" extends="walletAddressResultMap"></resultMap>
	<resultMap id="pageResultMap"  type="java.util.HashMap" extends="walletAddressResultMap"></resultMap>


	<insert id="insert" parameterType="com.lx.server.pojo.WalletAddress" useGeneratedKeys="true" keyProperty="id" >
	   insert into t_wallet_address (
	    <include refid="columns" />
	   )values (
	     #{id},
	     #{userId},
	     #{address},
	     #{addressIndex},
	     #{addressName},
	     #{isEnable},
	     #{createTime},
	     #{visible}
	   )
	</insert>

	<update id="update" parameterType="com.lx.server.pojo.WalletAddress">
		update t_wallet_address
		<set>
		<if test="userId != null">
			user_id=#{userId},
		</if>
		<if test="address != null">
			address=#{address},
		</if>
		<if test="addressIndex != null">
			address_index=#{addressIndex},
		</if>
		<if test="addressName != null">
			address_name=#{addressName},
		</if>
		<if test="isEnable != null">
			is_enable=#{isEnable},
		</if>
		<if test="createTime != null">
			create_time=#{createTime},
		</if>
		<if test="visible != null">
			visible=#{visible},
		</if>
		</set>
		<where>
			1=1
			<if test="id != null">
				and id=#{id}
			</if>
			<if test="n_userId != null">
				and user_id=#{n_userId}
			</if>
			<if test="n_address != null">
				and address=#{n_address}
			</if>
			<if test="n_addressIndex != null">
				and address_index=#{n_addressIndex}
			</if>
			<if test="n_addressName != null">
				and address_name=#{n_addressName}
			</if>
			<if test="n_isEnable != null">
				and is_enable=#{n_isEnable}
			</if>
			<if test="n_createTime != null">
				and create_time=#{n_createTime}
			</if>
			<if test="n_visible != null">
				and visible=#{n_visible}
			</if>
		</where>
	</update>

	<delete id="delete" parameterType="map">
	   delete from
	     t_wallet_address
	   	where 
	    id=#{id}
	</delete>

	<select id="selectObject" parameterType="map" resultMap="walletAddressResultMap">
	   select
	<include refid="columns" />
	   from t_wallet_address
	   where
	    id=#{id}
	</select>

	<select id="selectObjectList" parameterType="map" resultMap="walletAddressResultMap">
	   select
	<include refid="columns" />
	   from t_wallet_address
	   <where>
	 <include refid="normalCondition"/>
	   </where>
	</select>

	<select id="selectMap" parameterType="map" resultMap="mapResultMap">
	   select
	<include refid="columns" />
	   from t_wallet_address
	   where
	    id=#{id}
	</select>

	<select id="selectMapList" parameterType="map" resultMap="mapResultMap">
	   select
	<include refid="columns" />
	   from t_wallet_address
	   <where>
	   <include refid="normalCondition"/>
	   </where>
	</select>

	<select id="page" parameterType="map" resultMap="pageResultMap">
	   select
	<include refid="columns" />
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>

	<select id="pageBean" parameterType="map" resultMap="walletAddressResultMap">
	   select
	<include refid="columns" />
	<include refid="pageCondition" />
	limit #{offset},#{rows}
	</select>
	
	<select id="pageCount" parameterType="map" resultType="int">
	   select count(1)
	   <include refid="pageCondition" />
	</select>

	<sql id="pageCondition">
	   from t_wallet_address
	   <where>
			<include refid="normalCondition"/>
	   </where>
	</sql>

	<sql id="normalCondition">
		1=1
		<if test="id != null">
			and id=#{id}
		</if>
		<if test="userId != null">
			and user_id=#{userId}
		</if>
		<if test="address != null">
			and address=#{address}
		</if>
		<if test="addressIndex != null">
			and address_index=#{addressIndex}
		</if>
		<if test="addressName != null">
			and address_name=#{addressName}
		</if>
		<if test="isEnable != null">
			and is_enable=#{isEnable}
		</if>
		<if test="createTime != null">
			and create_time=#{createTime}
		</if>
		<if test="visible != null">
			and visible=#{visible}
		</if>
		<if test="keyword != null">
			and (name LIKE CONCAT("%", #{keyword}, "%") )
		</if>
		order by  id  desc 
	</sql>
	<sql id="columns">
			id,
			user_id,
			address,
			address_index,
			address_name,
			is_enable,
			create_time,
			visible
	</sql>
</mapper>
