<div class="col-xs-6">
	<div class="row">
		<div class="col-xs-6">
			<strong> BUY {{orderbook.tradingPair.property.propertyName}} </strong>
		</div>
		<div class="col-xs-6">
			Your balance: {{orderbook.getBalance(orderbook.buyOrder.address, orderbook.tradingPair.pair)}}MSC
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="buy_form" ng-submit="orderbook.submitBuyOffer(orderbook.buyOrder)" class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-2" for="buy_address">Address:</label>
					<select name="buy_address" class="form-control col-xs-10" ng-model="orderbook.buyOrder.address" 
						ng-options="address.address for address in orderbook.addresses" required>
		                <option value=""> -- Choose Address -- </option>
		            </select>
				</div>
				<div class="form-group">
					<label class="col-xs-3" for="buy_amount_desired">Amount (SPT):</label>
					<div class="input-group col-xs-9">
						<input type="number" class="form-control" id="buy_amount_desired" placeholder="Enter desired amount" ng-model="orderbook.buyOrder.amounts.property" step="0.00000001" min="0.00000001">
						<span class="input-group-addon">SPT</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3" for="buy_price">Price Per SPT:</label>
					<div class="input-group col-xs-9">
						<input type="number" class="form-control" id="buy_price" ng-model="orderbook.buyOrder.price" placeholder="Enter price" ng-change="updateAmounts(orderbook.buyOrder, orderbook.buyOrder.price)" step="0.00000001" min="0.00000001">
						<span class="input-group-addon">MSC</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 text-align-right" for="buy_amount_offered">Total price:</label>
					<div class="col-xs-4">
						<p class="form-control-static">{{orderbook.buyOrder.amounts.pair}}</p>
					</div>
					<button type="submit" class="btn btn-default col-xs-3" >
						Buy {{orderbook.tradingPair.property.propertyName}}
		            </button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="col-xs-6">
	<div class="row">
		<div class="col-xs-6">
			<strong> SELL {{orderbook.tradingPair.property.propertyName}} </strong>
		</div>
		<div class="col-xs-6">
			Your balance: {{orderbook.getBalance(orderbook.sellOrder.address, orderbook.tradingPair.property.currencyId)}}SPT
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="sell_form" ng-submit="orderbook.submitSellOffer(orderbook.sellOrder)" class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-2" for="sell_address">Address:</label>
					<select name="sell_address" class="form-control col-xs-10" ng-model="orderbook.sellOrder.address" 
						ng-options="address.address for address in orderbook.addresses" required>
		                <option value=""> -- Choose Address -- </option>
		            </select>
				</div>
				<div class="form-group">
					<label class="col-xs-3" for="sell_amount_desired">Amount (SPT):</label>
					<div class="input-group col-xs-9">
						<input type="number" class="form-control" id="sell_amount_desired" placeholder="Enter desired amount" ng-model="orderbook.sellOrder.amounts.property" step="0.00000001" min="0.00000001">
						<span class="input-group-addon">SPT</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3" for="sell_price">Price Per SPT:</label>
					<div class="input-group col-xs-9">
						<input type="number" class="form-control" id="sell_price" ng-model="orderbook.sellOrder.price"  placeholder="Enter price" ng-change="updateAmounts(orderbook.sellOrder, orderbook.sellOrder.price)" step="0.00000001" min="0.00000001">
						<span class="input-group-addon">MSC</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-5 text-align-right" for="sell_amount_offered">Total price:</label>
					<div class="col-xs-4">
						<p class="form-control-static">{{orderbook.sellOrder.amounts.pair}}</p>
					</div>
					<button type="submit" class="btn btn-default col-xs-3" >
						Sell {{orderbook.tradingPair.property.propertyName}}
		            </button>
				</div>
			</form>
		</div>
	</div>
</div>