<div class="om-table">
  <div class="row table-header hidden-xs">
        <div class="col-sm-3">{{ 'TABLES.OFFERS.HASH' | translate }}</div>
        <div class="col-sm-3">{{ 'TABLES.OFFERS.PRICE' | translate }}</div>
        <div class="col-sm-2">{{ 'TABLES.OFFERS.AMOUNT' | translate }}</div>
        <div class="col-sm-2">{{ 'TABLES.OFFERS.TOTAL' | translate }}</div>
        <div class="col-sm-2">{{ 'TABLES.OFFERS.CANCEL' | translate }}</div>
  </div>
  <div class="row table-row" ng-repeat="transaction in filtered_sells">
    <div class="visible-xs col-xs-5">{{ 'TABLES.OFFERS.HASH' | translate }}</div>
    <div class="col-xs-7 col-sm-3" ng-click="setHashExplorer(transaction)"> <a href="/explorer/inspector?view={{transaction.tx_hash}}">{{transaction.tx_hash_concat}}</a></div>

    <div class="visible-xs col-xs-5">{{ 'TABLES.OFFERS.PRICE' | translate }}</div>
    <div class="col-xs-7 col-sm-3" class="number" title="{{transaction.formatted_price_per_coin}}" ng-bind-html="transaction.formatted_price_per_coin | bigjs: '0,0.00000000'"></div> 

    <div class="visible-xs col-xs-5">{{ 'TABLES.OFFERS.AMOUNT' | translate }}</div>
    <div class="col-xs-7 col-sm-2" class="number" title="{{transaction.formatted_amount}}" ng-bind-html="transaction.formatted_amount | bigjs: '0,0.00000000'"></div> 

    <div class="visible-xs col-xs-5">{{ 'TABLES.OFFERS.TOTAL' | translate }}</div>
    <div class="col-xs-7 col-sm-2" class="number" title="{{transaction.bitcoin_required}}" ng-bind-html="transaction.bitcoin_required | bigjs: '0,0.00000000'"></div> 

    <div class="visible-xs col-xs-5">{{ 'TABLES.OFFERS.CANCEL' | translate }}</div>
    <div class="col-xs-7 col-sm-2"><button class="btn btn-secondary btn-sm" ng-click="confirmCancel(transaction)" type="submit">{{ 'EXCHANGE.MYOFFERS.CANCEL' | translate }}</button></div>
  </div>
</div>