<div class="col-xs-6">
	<table class="orderbook-orders-table bids">
		<caption>Bids</caption>
		<thead>
			<th>Order Count</th>
			<th>Price</th>
			<th>Amount</th>
			<th>Total</th>
		</thead>
		<tbody>
			<tr ng-show="orderbook.bidBook.length == 0" >
				<td colspan="4">
			      	<h3 class="text-center">{{ 'OMNIDEX.ORDERBOOK.EMPTY' | translate }}</h3>
			      </td>
		    </tr>
			<tr ng-repeat="order in orderbook.bidBook" ng-class="{pending:order.hasPending}">
				<td><a href="" ng-click="modalManager.showOrderInfo(order)">{{order.offers.length}}</a></td>
				<td>{{order.price.toFixed(8)}}</td>
				<td>{{order.totaldesired.toFixed(8)}}</td>
				<td>{{orderbook.bidCumulative(order).toFixed(8)}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="col-xs-6">
	<table class="orderbook-orders-table asks">
		<caption>Asks</caption>
		<thead>
			<th>Order Count</th>
			<th>Price</th>
			<th>Amount</th>
			<th>Total</th>
		</thead>
		<tbody>
			<tr ng-show="orderbook.askBook.length == 0" >
				<td colspan="4">
		      <h3 class="text-center">{{ 'OMNIDEX.ORDERBOOK.EMPTY' | translate }}</h3>
		      </td>
		    </tr>
			<tr ng-repeat="order in orderbook.askBook" ng-class="{pending:order.hasPending}">
				<td><a href="" ng-click="modalManager.showOrderInfo(order)">{{order.offers.length}}</a></td>
				<td>{{order.price.toFixed(8)}}</td>
				<td>{{order.remainingforsale.toFixed(8)}}</td>
				<td>{{orderbook.askCumulative(order).toFixed(8)}}</td>
			</tr>
		</tbody>
	</table>
</div>
