<div ng-controller="DExOrderbookController">
	<h4>
      <a href="/dex/overview"> <strong> &lt; {{ 'COMMON.BACK' | translate}}  </strong> </a>
    </h4>
    <div class="row">
	    <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4 text-left om-title">
		    {{ 'OMNIDEX.ORDERBOOK.TITLE' | translate:{currency: orderbook.tradingPair.selling.name} }}
		</div>
	</div>
    <div class="row" ng-include="'/views/DEx/orderbook_orders.html'">
		
	</div>
	<div class="row" ng-include="'/views/DEx/orderbook_form.html'">
		
	</div>
	<div class="row" ng-include="'/views/DEx/orderbook_book.html'">
		
	</div>
</div>