<div class="col-xs-6">
	<div class="row">
		<div class="col-xs-6">
			<strong> {{ 'OMNIDEX.ORDERBOOK.BUY' | translate}} {{orderbook.tradingPair.selling.name}} </strong>
		</div>
		<div class="col-xs-6">
			{{ 'OMNIDEX.ORDERBOOK.BALANCE' | translate}}: {{orderbook.getBalance(orderbook.buyOrder.address, orderbook.tradingPair.desired.propertyid)}} {{orderbook.tradingPair.desired.name}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" >
			<form role="form" name="buy_form" ng-show="orderbook.buyAddresses.length > 0" ng-submit="orderbook.submitBuyOffer(orderbook.buyOrder)" class="form-horizontal">
				<div class="panel panel-form">
          			<div class="panel-body">
						<div class="form-group">
							<label class="col-xs-2" for="buy_address">{{ 'COMMON.ADDRESS' | translate}}:</label>
				            <div class="btn-group send-address-dropdown">
				                <button class="btn btn-clear dropdown-toggle" type="button" id="chooseAddress" data-toggle="dropdown" aria-expanded="true">
				                  {{orderbook.buyOrder.address.hash}} 
				                  <span class="caret pull-right"></span>
				                </button>
				                <ul class="dropdown-menu" role="menu" aria-labelledby="chooseAddress">
				                  <li role="presentation" ng-repeat="address in orderbook.buyAddresses">
				                    <a role="menuitem" tabindex="-1" href="#" ng-click="orderbook.setBuyAddress(address)">{{address.hash}} </a>
				                  </li>
				                </ul>
				              </div>
						</div>
						<div class="form-group">
							<label class="col-xs-3" for="buy_amount_desired">{{ 'OMNIDEX.ORDERBOOK.AMOUNT' | translate}}  ({{orderbook.tradingPair.selling.name}}):</label>
							<div class="input-group col-xs-9">
								<input type="number" class="form-control" id="buy_amount_desired" placeholder="Enter desired amount" ng-model="orderbook.buyOrder.amounts.selling" ng-change="orderbook.updateAmount(orderbook.buyOrder)" step="0.00000001" min="0.00000001">
								<span class="input-group-addon">{{orderbook.tradingPair.selling.name}}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3" for="buy_price">{{ 'OMNIDEX.ORDERBOOK.UNITPRICE' | translate}} {{orderbook.tradingPair.selling.name}}:</label>
							<div class="input-group col-xs-9">
								<input type="number" class="form-control" id="buy_price" ng-model="orderbook.buyOrder.price" placeholder="Enter price" ng-change="orderbook.updateAmount(orderbook.buyOrder)" step="0.00000001" min="0.00000001">
								<span class="input-group-addon">{{orderbook.tradingPair.desired.name}}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 text-align-right" for="buy_amount_offered">{{ 'OMNIDEX.ORDERBOOK.TOTALPRICE' | translate}}:</label>
							<div class="col-xs-4">
								<p class="form-control-static">{{orderbook.buyOrder.amounts.desired}}</p>
							</div>
						</div>
						<button type="submit" class="btn btn-default" >
							{{ 'OMNIDEX.ORDERBOOK.BUY' | translate}} {{orderbook.tradingPair.selling.name}}
			            </button>
		            </div>
	            </div>
			</form>
		</div>
	</div>
</div>
<div class="col-xs-6">
	<div class="row">
		<div class="col-xs-6">
			<strong> {{ 'OMNIDEX.ORDERBOOK.SELL' | translate}} {{orderbook.tradingPair.selling.name}} </strong>
		</div>
		<div class="col-xs-6">
			{{ 'OMNIDEX.ORDERBOOK.BALANCE' | translate}}: {{orderbook.getBalance(orderbook.sellOrder.address, orderbook.tradingPair.selling.propertyid)}} {{orderbook.tradingPair.selling.name}}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form role="form" name="sell_form" ng-show="orderbook.sellAddresses.length > 0" ng-submit="orderbook.submitSellOffer(orderbook.sellOrder)" class="form-horizontal">
				<div class="panel panel-form">
          			<div class="panel-body">
						<div class="form-group">
							<label class="col-xs-2" for="sell_address">{{ 'COMMON.ADDRESS' | translate}}:</label>
				            <div class="btn-group send-address-dropdown">
				                <button class="btn btn-clear dropdown-toggle" type="button" id="chooseAddress" data-toggle="dropdown" aria-expanded="true">
				                  {{orderbook.sellOrder.address.hash}} 
				                  <span class="caret pull-right"></span>
				                </button>
				                <ul class="dropdown-menu" role="menu" aria-labelledby="chooseAddress">
				                  <li role="presentation" ng-repeat="address in orderbook.sellAddresses">
				                    <a role="menuitem" tabindex="-1" href="#" ng-click="orderbook.setSellAddress(address)">{{address.hash}} </a>
				                  </li>
				                </ul>
				              </div>
						</div>
						<div class="form-group">
							<label class="col-xs-3" for="sell_amount_desired">{{ 'OMNIDEX.ORDERBOOK.AMOUNT' | translate}}  ({{orderbook.tradingPair.selling.name}}):</label>
							<div class="input-group col-xs-9">
								<input type="number" class="form-control" id="sell_amount_desired" placeholder="Enter desired amount" ng-model="orderbook.sellOrder.amounts.selling" ng-change="orderbook.updateAmounts(orderbook.sellOrder)" step="0.00000001" min="0.00000001">
								<span class="input-group-addon">{{orderbook.tradingPair.selling.name}}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3" for="sell_price">{{ 'OMNIDEX.ORDERBOOK.UNITPRICE' | translate}} {{orderbook.tradingPair.selling.name}}:</label>
							<div class="input-group col-xs-9">
								<input type="number" class="form-control" id="sell_price" ng-model="orderbook.sellOrder.price"  placeholder="Enter price" ng-change="orderbook.updateAmounts(orderbook.sellOrder)" step="0.00000001" min="0.00000001">
								<span class="input-group-addon">{{orderbook.tradingPair.desired.name}}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-5 text-align-right" for="sell_amount_offered">{{ 'OMNIDEX.ORDERBOOK.TOTALPRICE' | translate}}:</label>
							<div class="col-xs-4">
								<p class="form-control-static">{{orderbook.sellOrder.amounts.desired}}</p>
							</div>
						</div>
						<button type="submit" class="btn btn-default" >
							{{ 'OMNIDEX.ORDERBOOK.SELL' | translate}} {{orderbook.tradingPair.selling.name}}
			            </button>
		            </div>
	            </div>
			</form>
		</div>
	</div>
</div>