<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init="setView('wallet')">
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-10" ng-controller="DExOverviewController">
    <div class="panel-default">
        <div class="text-left panel-body om-title">
            DEx Phase 2
        </div>
        <div class="row">
            <a href="/dex/sale" class="btn btn-primary btn-sm" ng-show="isLoggedIn">Sale</a>
        </div>
        <div class="row">
          <table>
          <th> block </th><th> address </th> <th> amount_desired </th><th> amount_original </th><th> property_desired </th><th> property_owned </th><th> txid </th><th> ecosystem </th>
          <tr ng-repeat="item in orders.orders">
          <td> {{item.block}} </td><td> {{item.address}} </td> <td> {{item.amount_desired}} </td><td> {{item.amount_original}} </td><td> {{item.property_desired}} </td><td> {{item.property_owned}} </td><td> {{item.txid}} </td><td> {{item.ecosystem}} </td>
          </tr>
          </table>
        </div>
    </div>
</div>
