<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init="setView('wallet')">
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-12" ng-controller="DExOverviewController">
    <div class="container-fluid">
        <div class="text-left panel-body om-title">
            DEx Phase 2
        </div>
        <div class="row">
        	<div class="col-xs-12">
        		<form name="switch" role="form" ng-submit="switchOrderbook(property)" class="form-horizontal">
	            	<div class="form-group col-xs-9">
	            		<label class="col-xs-3" for="propertyId">Exchange {{property.propertyName}}/MSC</label>
                        <div class="col-xs-8">
                            <select id="propertyId" class="form-control" name="currencyDesired" ng-init="ecosystem=2;setEcosystem()" ng-model="property"
                              ng-options="currency as formatCurrencyDisplay(currency) for currency in availableTokens">
                            </select>
                        </div>
	    				<button type="submit" class="btn btn-default col-xs-1">Switch</button>
	    			</div>
                    <div class="form-group col-xs-3">
                        <div class="input-group pull-right">
                            <span class="input-group-addon"> Environment: </span>
                            <select name="ecosystem" class="form-control" ng-model="ecosystem" ng-change="setEcosystem()">
                              <option value="1"> Production </option>
                              <option value="2"> Testing </option>
                            </select>
                        </div>
                    </div>
                </form>
            	<a href="/dex/sale" class="btn btn-primary btn-sm" ng-show="isLoggedIn" hidden>Test Sale</a>
			</div>
        </div>
        <div class="row">
        	<div class="col-xs-12">
        		<tabset>
		        	<tab ng-repeat="orderbook in orderbooks"  heading="{{orderbook.title}}" active="orderbook.active" disabled="orderbook.disabled">
		        		<div class="container-fluid" ng-include="'/views/DEx/orderbook.html'">
		        		</div>
		        	</tab>
		        </tabset>
        	</div>
        </div>
    </div>
</div>