<div ng-controller="DExSaleController">
    <h4>
        <a href="/dex/overview"> <strong> &lt; {{ 'COMMON.BACK' | translate}}  </strong> </a>
      </h4>
    <div class="row om-row">
    <div class="col-xs-12">
      <div class="text-left om-title">{{ 'OMNIDEX.SALE.TITLE' | translate}}</div>
    </div>
  </div> 
    <div class="row">
            <div class="col-xs-12">
                <form name="dexSaleForm" ng-submit="validateDexSaleForm()">
                    <div class="panel panel-form">
                        <div class="panel-body">
                            <div class="col-sm-6">
                              <label class="text-justify" >{{ 'WALLET.SEND.FROM' | translate}}</label>
                              <div class="btn-group send-address-dropdown">
                                <button class="btn btn-clear dropdown-toggle" type="button" id="chooseAddress" data-toggle="dropdown" aria-expanded="true">
                                  {{selectedAddress.hash}} 
                                  <span class="caret pull-right"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="chooseAddress">
                                  <li role="presentation" ng-repeat="address in wallet.tradableAddresses()">
                                    <a role="menuitem" tabindex="-1" href="#" ng-click="setAddress(address)">{{address.hash}} </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <label for="chooseCoin" >{{ 'WALLET.SEND.CHOOSECOIN' | translate}}</label>
                              <div class="btn-group send-asset-dropdown">
                                <button class="btn btn-clear dropdown-toggle" type="button" id="chooseCoin" data-toggle="dropdown" aria-expanded="false">
                                  {{selectedAsset.name | truncate:14}} <small class="text-muted" ng-show="selectedAsset.id > 0">({{selectedAsset.id}})</small>
                                  <span class="caret pull-right"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="chooseCoin">
                                  <li role="presentation" ng-repeat="asset in selectedAddress.balance" ng-if="asset.tradable && ((asset.id < 2147483648 && asset.id != 2) || showtesteco === 'true')">
                                    <a role="menuitem" tabindex="-1" href="#" ng-click="setAsset(asset)">{{asset.name | truncate:14}} <small class="text-muted" ng-show="asset.id > 0">({{asset.id}})</small></a>
                                  </li>
                                </ul>
                              </div>
                            </div> 
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div ng-show="showErrors" class="alert alert-danger">
                        <strong> {{error}} </strong>
                    </div>
                </div>
            </div>
    </div>