<div ng-controller="CreateCrowdsaleController">
  <div class="row">
     <div class="col-xs-12 text-left om-title">{{'ASSET_CROWDSALE_TITLE' | translate}}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form name="issuanceForm">
        <div class="container-fluid" ng-include="'/views/assets/partials/form_details.html'">
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="om-subtitle" >{{'ASSET_CROWDSALE_SUBTITLE' | translate}}</h3>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-6">
              <label for="deadline">{{'ASSET_CROWDSALE_DEADLINE' | translate}}</label>
              <div class="input-group" style="margin-top:11px;">
                <input name="deadline" type="text" class="form-control" datepicker-append-to-body="true" datepicker-popup="{{format}}" ng-model="deadline"
                  is-open="opened" min-date="today" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button> 
                </span>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-5">
                <timepicker ng-model="deadline"></timepicker>
              </div>
              <div class="col-xs-7" style="margin-top: 45px">
                {{'ASSET_CROWDSALE_UTC' | translate}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-6">
              <label for="percentage">{{'ASSET_CROWDSALE_FORISSUER' | translate}} 
                <a href=""
                  tooltip="{{'ASSET_CROWDSALE_FORISSUER_TOOLTIP' | translate}}"
                  tooltip-append-to-body="true"
                  tooltip-placement="top"> <strong>(?)</strong>
                </a>
              </label>
              <input name="percentage" type="number" step="1" min="0" max="255" ng-model="percentageForIssuer" class="form-control" ensure-integer ensure-over="percentageForIssuer" ensure-if="true" class="text-right" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-xs-6">
                <label for="early">{{'ASSET_CROWDSALE_EARLYBONUS' | translate}} 
                  <a href=""
                    tooltip="{{'ASSET_CROWDSALE_EARLYBONUS_TOOLTIP' | translate}}"
                    tooltip-append-to-body="true"
                    tooltip-placement="top"> <strong>(?)</strong>
                  </a>
                </label>
                <input name="early" type="number" step="1" min="0" max="255" ng-model="earlyBirdBonus" class="form-control" ensure-integer ensure-over="earlyBirdBonus" ensure-if="true" class="text-right" required>
              </div>
            </div>
            <p class="help-block" ng-show="earlyBirdBonus > 0">{{'ASSET_CROWDSALE_EARLYESTIMATE' | translate}} 
                <a href=""
                  tooltip="{{'ASSET_CROWDSALE_EARLYESTIMATE_TOOLTIP' | translate}}"
                  tooltip-append-to-body="true"
                  tooltip-placement="top"> <strong>(?)</strong>
                </a> {{initialEarlyBirdBonus}}%</p>
          </div>
          <div class="row">
            <div class="form-group col-xs-12">
              <label for="currencyDesired">{{ 'ASSET_CROWDSALE_RATES' | translate}}</label>
              <div class="panel panel-form" ng-repeat="investment in currenciesDesired">
                <div class="panel-body form-inline">
                  <div class="form-group col-xs-5">
                    <input name="amount" type="text" ng-model="investment.numberOfTokens" big-number step="{{tokenStep}}" min="{{tokenMin}}" max="{{tokenMax}}" ensure-integer ensure-over="investment.numberOfTokens" ensure-if="!isDivisible()" class="form-control" placeholder="{{ 'ASSET_CROWDSALE_TOKENRATE' | translate}}" required>
                  </div>
                  <div class="form-group col-xs-7">
                    <span>{{'ASSET_CROWDSALE_PER' | translate}}</span>
                    <select class="form-control" name="currencyDesired" ng-model="investment.selectedCurrency"
                      ng-options="currency as formatCurrencyDisplay(currency) for currency in investment.availableTokens"
                      ng-change="setAvailableTokens(investment)">
                    </select>
                    <span>{{'ASSET_CROWDSALE_INVESTED' | translate}}</span>
                  </div>
                  <button type="button" class="close" aria-hidden="true" ng-hide="singleCurrency" ng-click="removeCurrencyDesired(investment)">
                    &times;
                  </button>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="panel panel-form" ng-hide="true">
                <div class="panel-body">
                  <button type="button" class="btn btn-link" ng-click="addCurrencyDesired()">
                    {{'ASSET_CROWDSALE_ADDCURRENCY' | translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-include="'/views/assets/partials/form_addressfee.html'">
          </div>
          <div class="row">
            <div class="col-xs-12 text-right">
              <a class="btn btn-tertiary" href="/wallet/assets">{{'COMMON_CANCEL' | translate }}</a>
              <input class="btn btn-main" type="submit" value="{{'COMMON_NEXT' | translate }}" ng-click="confirm()">
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div ng-show="showErrors" class="alert alert-danger">
         <strong> {{error}} </strong>
        </div>
      </div>
    </div>
  </div>
</div>