<div ng-controller="AssetsDetailsController">
  <div class="row">
  	<div class="col-xs-8">
      <div class="row"> 
        <div class="col-xs-12">
          <h2 class="om-title">{{property.name}} <span class="label label-asset-id" >(#{{propertyId}})</span></h2>
        </div>
      </div>
      <div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-12">
          <p>
            {{property.data}}
          </p>
        </div>
      </div>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12">
          <p>
            For more details visit: <a target="_blank" href="{{property.url}}">{{property.url}}</a>
          </p>
        </div>
      </div>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12">
          <p>
            Issuance Address: <a href="https://blockchain.info/address/{{property.issuer}}?sort=0">{{property.issuer}}</a>
          </p>
        </div>
     </div>
     <div class="row" style="margin-bottom: 30px;">
        <div class="col-xs-12">
          <p>
            Accepted Currency: <span class="label">{{currency.name}} / Rate ({{currency.rate}})</span>
          </p>
        </div>
      </div>
	  <div class="row">
	    Share this page:
	      <span> 
	        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{shareUrl}}&title=Checkout%20this%20Crowdsale!&summary=&source=" target="_new">
	        	<i class="icon-linkedin"></i> 
	        </a> 
	        <a href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}" target="_new"><i class="icon-facebook"></i> </a> 
	        <a href="https://twitter.com/home?status={{shareUrl}}" target="_new"><i class="icon-twitter"></i></a>
	        <a href="https://plus.google.com/share?url={{shareUrl}}" target="_new"><i class="icon-google"></i> </a>
	      </span>
	    </h4>
	  </div>
	  <div class="row" ng-include="'/views/assets/partials/history.html'">
	  </div>
	</div>
	<div class="col-xs-4">
	  
	  <div class="row show-grid bg-active" ng-if="!property.fixedissuance">
	    <div class="col-xs-12">
	      <h3><span ng-show="isOwner">Your </span>{{crowdsale.active | crowdsaleStatus}} crowdsale</h3>
	      <p ng-show="crowdsale.active">
	        Time until closing:
	      </p>
	      <div id="timerWrapper"></div>
	    </div>
	  </div>
	  <div class="row show-grid"  ng-if="!property.fixedissuance">
	    <div class="col-xs-12">
	      Crowdsale started {{formatedStartDate}} (~{{daysAgo}} days ago)
	    </div>
	  </div>
	  <div class="row show-grid bg-active" ng-if="!property.fixedissuance && crowdsale.active" >
	    <div class="col-xs-12">
	      <span class="pull-left shout-label" >Current early bird bonus:</span> <div class="shout pull-right"><span>+{{earlyBirdBonus}}%</span></div>
	    </div>
	  </div>
	  <div class="row show-grid bg-active" ng-if="!property.fixedissuance">
	    <div class="col-xs-12">
	      <div class="tag" ng-if="!property.divisible" ng-bind-html="crowdsale.participanttokens.toString() | numeraljs: '0,0'"></div>
	      <div class="tag" ng-if="property.divisible" ng-bind-html="crowdsale.participanttokens.toString() | numeraljs: '0,0.00000000'"></div>
	      <span class="help-block">Tokens already bought by participants</span>
	      <div class="tag" ng-if="!property.divisible" ng-bind-html="crowdsale.issuertokens.toString() | numeraljs: '0,0'"></div>
	      <div class="tag" ng-if="property.divisible" ng-bind-html="crowdsale.issuertokens.toString() | numeraljs: '0,0.00000000'"></div>
	      <span class="help-block">Tokens created for the issuer ({{crowdsale.percenttoissuer}}%)</span>
	    </div>
	  </div>
	  <div class="row show-grid bg-active" ng-if="property.fixedissuance">
	    <div class="col-xs-12">
	      <div class="tag" ng-if="!property.divisible" ng-bind-html="property.totaltokens | numeraljs: '0,0'"></div>
	      <div class="tag" ng-if="property.divisible" ng-bind-html="property.totaltokens | numeraljs: '0,0.00000000'"></div>
	      <span class="help-block">Total tokens</span>
	    </div>
	  </div>
	  <div class="row show-grid bg-active" ng-show="estimatedWorth > 0">
	    <div class="col-xs-12">
	      <h4 class="text-muted">Invested Funds</h4>
	    </div>
	    <div class="col-xs-7">
	      <span>Estimated total worth invested in this crowdsale:</span>
	    </div> 
	    <div class="col-xs-12" >
	      <span class="tag">{{estimatedWorth}}</span> Dollars
	    </div>
	  </div>
	</div>
  </div>
</div>