<div ng-controller="WalletAssetsFormController">
  <div ng-controller="TransactionGenerationController">
    <div ng-controller="PropertyIssuanceController">
      <h4>
        <a href="/wallet/assets"> <strong> &lt; {{ 'COMMON_BACK' | translate }} </strong> </a>
      </h4>
      <div class="row">
         <div class="col-xs-12 text-left om-title">{{ 'ASSET_ISSUANCE_TITLE' | translate}}</div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <form name="issuanceForm" ng-submit="validateIssuanceForm()">
            <h3 class="om-subtitle">{{'ASSET_ISSUANCE_DETAILS_SUBTITLE' | translate}}</h3>
            <hr>
            <div class="form-group col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"> {{ 'COMMON_NAME' | translate }} ({{ 'ASSET_ISSUANCE_DETAILS_NAME_HINT' | translate }}): </span>
                <input name="name" type="text" ng-model="propertyName" class="form-control" placeholder="ex: BobCoin" maxlength="255" ng-maxlength="255" required>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"> {{ 'ASSET_ISSUANCE_DETAILS_DIVISIBLE' | translate }}: </span>
                <select name="type" class="form-control" ng-model="propertyType" ng-change="typeChanged()" required>
                  <option value="2"> {{ 'COMMON_YES' | translate }} </option>
                  <option value="1"> {{ 'COMMON_NO' | translate }} </option>
                </select>
              </div>
            </div>
            <div class="form-group col-sm-6">
              <combobox name="category" model-value="propertyCategory" placeholder="{{ 'COMMON_SELECT' | translate }}" label="{{ 'ASSET_ISSUANCE_DETAILS_CATEGORY' | translate }}:"
              option-list="categories" value-selected="loadSubcategories(category)"></combobox>
            </div>  
            <div class="form-group col-sm-6" ng-show="propertyCategory != ''">
              <combobox name="subcategory" model-value="propertySubcategory" placeholder="{{ 'COMMON_SELECT' | translate }}" label="{{ 'ASSET_ISSUANCE_DETAILS_SUBCATEGORY' | translate }}:"
              option-list="subcategories"></combobox>
            </div>
            <div class="form-group col-sm-6">
              <div class="input-group">
                <span class="input-group-addon"> {{ 'ASSET_ISSUANCE_DETAILS_URL' | translate }}: </span>
                <input name="url" type="url" ng-model="propertyUrl" class="form-control" placeholder="Enter a web address for the user to get more info on the Smart Property" maxlength="255" ng-maxlength="255" >
              </div>
            </div>
            <div class="form-group col-sm-12">
              <textarea class="form-control" ng-model="propertyData" maxlength="255" ng-maxlength="255" placeholder="Enter Smart Property description." rows="3"></textarea>
              <div style="position: absolute;right: 15px;bottom: 0px;color: #ccc;">{{254 - propertyData.length}} {{'ASSET_ISSUANCE_DETAILS_DESCRIPTION_HINT' | translate}}</div>
            </div>
            <!--
            <br ng-hide="isNewProperty">
            <div class="input-group" ng-hide="isNewProperty">
            <span class="input-group-addon"> Previous Property Id: </span>
            <input name="previous" type="text" ng-model="previousPropertyId" class="form-control" placeholder="0 for a new smart property (or the existing property ID if replacing or appending)" ng-required="!isNewProperty">
            </div>
            <br>-->
            <h3 class="om-subtitle">{{'ASSET_ISSUANCE_SUBTITLE' | translate}}</h3>
            <hr>
            <div class="form-group col-xs-6">
              <div class="input-group">
                <span class="input-group-addon"> {{'ASSET_ISSUANCE_AMOUNT' | translate}}: </span>
                <input name="amount" type="number" step="1" ng-model="numberProperties" step="{{tokenStep}}" min="{{tokenMin}}" max="{{tokenMax}}" ensure-integer ensure-over="numberProperties" ensure-if="!isDivisible()" class="form-control" placeholder="Enter desired amount" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"> {{'ASSET_ISSUANCE_ISSUER' | translate}}: </span>
                <select name="issuer" class="form-control" ng-model="walletAssets.selectedAddress"
                ng-options="address for address in addressList"
                ng-change="setBalance()" ng-init="setBalance()" required>
                  <option value=""> -- Choose Address -- </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"> {{'ASSET_ISSUANCE_DETAILS_FEESSUBTITLE' | translate}}: </span>
                <input name="fees" type="number" ng-model="minerFees" class="form-control"
                placeholder="0.0001 suggested minimum" step="0.0001" min="0.0001" ng-change="calculateTotal(minerFees)" required>
                <span class="input-group-addon" > Available Bitcoin: {{ balanceData[1] }} BTC </span>
              </div>
            </div>
            <div class="row">
              <input class="btn btn-primary btn-lg col-xs-push-3 col-xs-6" type="submit" value="Create" ng-click="validateForm()">
            </div>
          </form>
          <div class="row">
            <div ng-show="showErrors" class="alert alert-danger">
              <strong> {{error}} </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>