<div class="row" ng-hide="transactionSuccess  || readyToSign">
    <button ng-disabled="clicked" class="btn btn-main" ng-click="confirm()">
        {{confirmText | translate}}
    </button>
    <img class="" src="/assets/img/spinner.gif" ng-show="waiting">
</div>
<div class="row">
    <div ng-show="readyToSign">
        <h4 class="pull-left" style="color:green;">Your transaction was generated successfully, now save the text above and sign it on your Armory offline computer. Come back with the signed text to broadcast it.  
          </h4>
        <button ng-click="openBroadcastTransactionForm(fromAddress)" class="btn btn-secondary" ng-if="signOffline">Broadcast</button>
        <button ng-click="saveUnsigned(unsignedTransaction)" class="btn btn-main" ng-hide="saved">Save</button>
        <a href="/wallet/overview">
            <button ng-click="close()" class="btn" ng-class="{'btn-tertiary':unsaved,'btn-main':saved}">Close</button>
        </a>
    </div>
    <div ng-show="transactionSuccess">
        <h4 class="pull-left" style="color:green"> {{successMessage}}, 
        check your transaction <a target="_blank" href="{{url}}">here.</a></h4>
        <a href="{{successRedirect}}">
            <button class="btn btn-main" ng-click="cancel()">Close</button>
        </a>
    </div>
    <div ng-show="transactionError">
        <h4 class="col-xs-12" style="color:red;"> {{errorMessage}}: 
         {{error}} </h4>
    </div>
</div>