<div ng-include="'/views/modals/partials/asset_details.html'"></div>
<div>
  <div class="modal-row">
    <div class="description-title">{{'ASSET_CROWDSALE_EARLYESTIMATE' | translate}}:</div>
    <span class="description-text">{{earlyBirdBonus}}%</span>
  </div>
  <div class="modal-row">
    <div class="description-title">{{'ASSET_CROWDSALE_FORISSUER' | translate}}:</div>
    <span class="description-text">{{percentageForIssuer}}%</span>
  </div>
  <div class="modal-row">
    <div class="description-title">{{'ASSET_CROWDSALE_DEADLINE' | translate}}:</div>
    <span class="description-text">{{deadline}}</span>
  </div>
  <div class="modal-row">
    <div class="description-title">{{'ASSET_FORM_ISSUER' | translate}}:</div>
    <span class="description-text"><a href="{{explorerUrl}}{{fromAddress}}" target="_blank">{{fromAddress}}</a></span>
  </div>
  <div class="modal-row">
    <div class="description-title">{{'ASSET_CROWDSALE_ACCEPTEDCURRENCY' | translate}}:</div>
    <span class="description-text"> 
      {{selectedCurrency.propertyName}}<small ng-show="selectedCurrency.currencyId > 2">({{selectedCurrency.currencyId}})</small> / {{'ASSET_CROWDSALE_RATE' | translate}}({{numberOfTokens}})
    </span>
  </div>
</div>