<div class="modal-row">
  <div class="description-title">From:</div><span class="description-text">{{address}}</span>
</div>
<div class="modal-row">
  <div class="description-title-xlarge">Property for sale:</div><span class="description-text">{{saleCurrency}}</span>
</div>
<div class="modal-row">
  <div class="description-title-xlarge">Amount for sale:</div><span class="description-text">{{saleAmount}}</span>
</div>
<div class="modal-row">
  <div class="description-title-xlarge">Property desired:</div><span class="description-text">{{desiredCurrency}}</span>
</div>
<div class="modal-row">
  <div class="description-title-xlarge">Amount desired:</div><span class="description-text">{{desiredAmount}}</span>
</div>
<div class="modal-row">
  <div class="description-title">Action:</div><span class="description-text">{{action}}</span>
</div>
<hr>
<span class="send-fee">Transaction fees: {{totalCost}} bitcoins</span>
<hr>
