<div class="row">
  <div class="form-group col-xs-12">
    <label for="inputUUID">Wallet ID</label>
    <input type="text" class="form-control" ng-disabled="loginInProgress || login.disable" ng-model="login.uuid" id="inputUUID" value="{{ uuid }}">
  </div>
</div>
<div class="row">
  <div class="form-group col-xs-12">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" ng-disabled="loginInProgress" ng-model="login.password" id="inputPassword">
  </div>
</div>