<div class="control-group">
  <div class="controls">
    <button type="button" class="btn btn-tertiary" ng-disabled="loginInProgress" ng-click="dismiss('cancel')">{{ 'COMMON.CANCEL' | translate}}</button>
    <input type="submit" class="btn btn-main" value="{{button}}" ng-disabled="loginInProgress || loginInvalid" ng-click="open(login)" >        
  </div>
</div>
<img ng-show="loginInProgress" src="/assets/img/spinner.gif" alt="loading">
<div ng-show="missingUUID" style="color:red">{{ 'MODALS.LOGIN.INVALID1' | translate}} <br /> {{ 'MODALS.LOGIN.INVALID2' | translate}} <a href="https://github.com/OmniLayer/omniwallet/wiki" target="_new">{{ 'ABOUT.CONTACT.TALKTITLE' | translate}}</a></div>
<div ng-show="badPassword" style="color:red">{{ 'MODALS.LOGIN.INVALID1' | translate}} <br /> {{ 'MODALS.LOGIN.INVALID2' | translate}} <a href="https://github.com/OmniLayer/omniwallet/wiki" target="_new">{{ 'ABOUT.CONTACT.TALKTITLE' | translate}}</a></div>
<div ng-show="serverError" style="color:red">{{ 'COMMON.SERVERERROR' | translate}}</div>
