<div class="modal-row">
  <div class="description-title">{{ 'WALLET_SEND_TOKEN' | translate}}:</div><span class="description-text">{{token}}</span>
</div>

<div class="modal-row">
  <div class="description-title">{{ 'WALLET_SEND_MODAL_AMOUNT' | translate}}:</div><span class="description-text">{{sendAmount}} <span ng-show="symbol=='BTC'">(<span title="{{sendValue}}" ng-bind-html="sendValue | numeraljs: '$0,0.00':true"></span>)</span></span>
</div>

<div class="modal-row">
  <div class="description-title">{{ 'WALLET_SEND_MODAL_FROM' | translate}}:</div><span class="description-text">{{fromAddress}}</span>
</div>

<div class="modal-row">
  <div class="description-title">{{ 'WALLET_SEND_MODAL_TO' | translate}}:</div><span class="description-text">{{toAddress}}</span>
</div>

<div class="modal-row">
  <div class="description-title">{{ 'CROWDSALE_PARTICIPATION_MODAL_ESTIMATE' | translate}}:</div><span class="description-text">{{sendAmount * tokensperunit  + (earlybird * (sendAmount * tokensperunit) / 100}}</span>
</div>