<div class="modal-row">
  <div class="description-title-large">{{ 'EXCHANGE.SALE.CURRENCY' | translate}}:</div><div class="description-text">{{selectedCoin.name | truncate:15}}</div>
</div>

<div class="modal-row">
  <div class="description-title-large">{{ 'EXCHANGE.SALE.MODAL_FROM' | translate}}:</div><div class="description-text">{{fromAddress}}</div>
</div>

<div class="modal-row">
  <div class="description-title-large">{{ 'EXCHANGE.SALE.MODAL_AMOUNT' | translate}}:</div><div class="description-text">{{saleAmount}} </div>
</div>

<div class="modal-row">
  <div class="description-title-large">{{ 'EXCHANGE.SALE.PRICE' | translate}}:</div><div class="description-text">{{salePricePerCoin}}</div>
</div>

<div class="modal-row">
  <div class="description-title-xlarge">{{ 'EXCHANGE.SALE.BLOCKS' | translate}}:</div><div class="description-text">{{saleBlocks}}</div>
</div>

<div class="modal-row">
  <div class="description-title-xlarge">{{ 'EXCHANGE.SALE.BUYERSFEE' | translate}}:</div><div class="description-text">{{buyersFee}}</div>
</div>