<div class="modal-row">
  <div class="description-title-large">{{ 'EXCHANGE.SALE.CURRENCY' | translate}}:</div><span class="description-text">{{selectedCoin.name}}</span>
</div>

<div class="modal-row">
  <div class="description-title-large">{{ 'EXCHANGE.SALE.MODAL_FROM' | translate}}:</div><span class="description-text">{{fromAddress}}</span>
</div>

<div class="modal-row">
  <div class="description-title-large">{{ 'EXCHANGE.SALE.MODAL_AMOUNT' | translate}}:</div><span class="description-text">{{saleAmount}} </span>
</div>

<div class="modal-row">
  <div class="description-title-large">{{ 'EXCHANGE.SALE.PRICE' | translate}}:</div><span class="description-text">{{salePricePerCoin}}</span>
</div>

<div class="modal-row">
  <div class="description-title-large">{{ 'EXCHANGE.SALE.BLOCKS' | translate}}:</div><span class="description-text">{{saleBlocks}}</span>
</div>

<div class="modal-row">
  <div class="description-title-large">{{ 'EXCHANGE.SALE.BUYERSFEE' | translate}}:</div><span class="description-text">{{buyersFee}}</span>
</div>