<div class="modal-row">
  <div class="description-title">Token:</div><span class="description-text">{{token}}</span>
</div>

<div class="modal-row">
  <div class="description-title">Amount:</div><span class="description-text">{{sendAmount}} <span ng-show="symbol=='BTC'">(<span title="{{sendValue}}" ng-bind-html="sendValue | numeraljs: '$0,0.00':true"></span>)</span></span>
</div>

<div class="modal-row">
  <div class="description-title">From:</div><span class="description-text">{{fromAddress}}</span>
</div>

<div class="modal-row">
  <div class="description-title">To:</div><span class="description-text">{{toAddress}}</span>
</div>