<div class="modal-row">
  <div class="description-title">{{ 'WALLET.SEND.TOKEN' | translate}}:</div><span class="description-text">{{token}}</span>
</div>

<div class="modal-row">
  <div class="description-title">{{ 'WALLET.SEND.MODAL.AMOUNT' | translate}}:</div><span class="description-text">{{sendAmount}} <span ng-show="symbol=='BTC'">(<span title="{{sendValue}}" ng-bind-html="sendValue | numeraljs: '$0,0.00':true"></span>)</span></span>
</div>

<div class="modal-row">
  <div class="description-title">{{ 'WALLET.SEND.MODAL.FROM' | translate}}:</div><span class="description-text">{{fromAddress}}</span>
</div>

<div class="modal-row">
  <div class="description-title">{{ 'WALLET.SEND.MODAL.TO' | translate}}:</div><span class="description-text">{{toAddress}}</span>
</div>