<div class="col-xs-10">
    <div class="text-left om-title" >
         Contact Us
    </div>
</div>

<div class="om-body col-xs-10">
  <row>
    <div class="col-xs-10">
       <p> We are a group of developers constantly working to improve Omniwallet.  <br /><br />
            If you have any questions, issues or just want to provide some general feedback
            feel free to reach out to us at:
       </p>
       <ul class="list-group">
         <li class="list-group-item"><a href="https://github.com/mastercoin-MSC/omniwallet/issues/milestones" target ="_new">Github </a>(preferred): Search/see our 'Open Issues' and what we are 'Actively Working' on now.
                Don't see your specific topic? We encourage you to open a new issue to let us know. (Please include as many details as possible including 
                <a href="https://developer.chrome.com/devtools/docs/console#opening-the-console" target="_new">the output of the developer console</a>)</li>
         <li class="list-group-item"><a href="http://mastercointalk.org/index.php?board=31.0" target="_new">Mastercointalk</a>: There is a support category on the Mastercoin forums where you can 
                ask questions and engage the community for additional help</li>
         <li class="list-group-item">Email: You can also reach us directly with <img src="/assets/img/contact.png" width="150" height="28"> </li>
	 <li class="list-group-item"> <a href="http://www.hipchat.com/gIJc11cbH" target="_new">Live Chat</a>: Chat with the developers, share your ideas or ask questions.<br />
                                     <small>Availability varies, but we should generally be around <b>Mon-Fri 9-5 CDT</b></small></li>
       </ul>
    </div>
  </row>
</div>
