<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('about')>
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-10">
  <div class="panel-default">
    <div class="text-left panel-body om-title" >
      F.A.Q.
    </div>
  </div>
</div>

<div class="om-body col-xs-10">
  <row>
    <div class="col-xs-10">
       <ul class="list-group">
         <li class="list-group-item"><b>Wallet ID:</b> This is the only way we know which wallet is yours. When you create a new wallet we generate a brand new random Wallet ID for you. 
                                        Without this ID there is no way to login/access your wallet so <span class="text-danger"><b>Please BACKUP/SAVE your Wallet ID</b></span> somewhere safe.
                                        If you loose it we may be able to help you recover it by going through system logs, but there is no guarentee.</li>
         <li class="list-group-item"><b>Security:</b> We take wallet security very seriously. Please see <a href="http://mastercointalk.org/index.php?topic=712.0" target="_new">this post</a>
                                        on the Mastercoin forums for more information. You can also checkout <a href="http://mastercointalk.org/index.php?topic=263.msg1981#msg1981" target=_new">this post</a>
                                        for more information about the Security Bug Bounty program.</li>
         <li class="list-group-item"><b>Watch Only Addresses:</b> An address (in your wallet) which you can track its balances but does not have an associated private key.
                                        So your wallet can not create any transacations with it. You only view its balances. </li>
         <li class="list-group-item"><b>Private Key:</b> The private key is the secret key used to generate your Address (<a href="https://en.bitcoin.it/wiki/Private_key" target=_new">Wikipedia</a>). 
                                        It is also the key needed to sign any transacation before it can be broadcast to the network. 
                                        Omniwallet allows you to import your private key in several formats (hex, base64, Wallet Import Format, Wallet Import Format Compressed).
                                        The Wallet Import Format (WIP) is probably the most common format and the private key will always start with the number <i><b>5</b></i>.
                                        The My Address page displays a little padlock <span class="glyphicon glyphicon-lock"></span> for addresses with known private keys.</li>
         <li class="list-group-item"><b>Adding an Address to your wallet:</b> On the 'My Addresses' page of your wallet you can add either a Watch Address or the Private Key for your address.
                                        If you add the Private key for your address, you are giving your wallet the ability to manage/create transacations which move your coins 
                                        for that address. If you only add the address as a watch address, you will be able to view its balances and nothing more.</li>
         <li class="list-group-item"><b>Create new address:</b>Need a new address? On the My Address page simply click the 'Create New Address' button and we'll generate a
                                        completely new random bitcoin address/private key pair and add it to your wallet. You will be able to use it to send/receive coins immediately.
                                        <b>NOTE: Any time you add an address to your wallet you should make sure you backup/export your wallet.
                                        <span class="text-danger">If you loose your password/access to your wallet and don't have a backup your 
                                        funds/coins are GONE and there is nothing we can do to help you retrieve it.</span></b></li>
         <li class="list-group-item"><b>Backup Your Wallet:</b>On the My Addresses page you can export a copy of your wallet. This json file contains every address and 
                                        private key (if known) for the addresses in your wallet at the time of backup. <b> If you add new addresses to your wallet you should immediately
                                        create a new backup, replacing your old backup.</b></li>
         <li class="list-group-item"><b>MasterProtocol Transacation Cost</b> All Mastercoin transacations require bitcoin in order to send. This is because at the simpliest level
                                        a Mastercoin Transacation is a Bitcoin transacation, just with special data in the output. Omniwallet uses ~ 5757 satoshis for these outputs,
                                        so a Mastercoin Transacation requires ~ 35000 satoshis (.00035 BTC) to send. Since some of these outputs are part of a multisig output 
                                        (your sending address is always one of the outputs) part of this cost is recoverable. We are currently working to make
                                        <a href=https://github.com/mastercoin-MSC/omniwallet/issues/382" target ="_new">redeaming these costs</a> easier for you.</li>
         <li class="list-group-item"><b>Sending Coins:</b> Your wallet will allow you to send coins for any address with a known private key (see Private keys above).</li>
         <li class="list-group-item"><b>(DEx) Buying Coins:</b> Buying coins on the Distributed Exchange is a 2 part process. Part 1: On the Trade page find a Sale offer 
                                        and click 'Buy Coin'. On the Accept Order page fill in the amount you want to buy (take note of the payment Timeframe) and (after 
                                        confirming everything) click 'Send Reservation'. What happens now: Your order is sent to the network. If your order is accepted and validated
                                        (The buyer still has coins left for sale) then your reservation will show up on the Pending page as ready to pay. Part 2: Once accpeted, the 
                                        Pending page will display your order as ready for payment. Click the 'Pay now' button next to your order and confirm the details then send.
                                        <b>Note:</b> If you do not pay for the order within the Payment Timeframe mentioned above your order expires and becomes invalid. It is recommended to
                                        make sure you are buying coins that have an adequate amount of time (at least 10 blocks) for paying. Your payments may take 2-3 blocks before 
                                        they show up on the blockchain.</li>
         <li class="list-group-item"><b>(DEx) Selling Coins:</b> Just like buying coins you can sell your coins. On the Trade page click 'Start new Sale Offer'. Choose the 
                                        address/type of coin to sell (Currently only MSC is available until the MetaDEx launches). Set a price per coin, payment time frame 
                                        and buyers fee. Confirm the information and create your sale. If your sale is accepted/valid the Coin you put up for sale will be reserved
					from your available balance until it is sold.</li>
         <li class="list-group-item"><b>Additional Help:</b> See <a href="/about/contact"> Contact Us </a> for more details</li>
       </ul>
    </div>
  </row>
</div>


