<div class="col-xs-10">
    <div class="text-left om-title" >
      F.A.Q.
    </div>
</div>

<div class="om-body col-xs-10">
  <row>
    <div class="col-xs-10">
       <ul class="list-group">
 	 <li class="list-group-item"><b>What is an Address?</b> A crypto-currency address is like an account at a financial institution. It is a unique identifier that can own digital coins and tokens. People can transfer 
                                        digital coins and tokens to you by sending them to an address that belongs to you. Everyone is able to see the coins and tokens owned by an address, but you need your address Private Key (see below) in order to send something from 
                                        that address to another address.
         <li class="list-group-item"><b>What is a Wallet?</b> A Wallet is a convenient way for you to organize your crypto-currency addresses. You can think of a Wallet as a portfolio that contains multiple accounts. Each wallet has a Wallet ID. When you create a new wallet we generate a brand new random Wallet ID for you. 
                                        This ID enables you to login and access your wallet so <span class="text-danger"><b>Please BACKUP/SAVE your Wallet ID and your Wallet Password</b></span> somewhere safe, but separately.
                                        If you lose your Wallet ID or Wallet Password, you could lose the addresses and the funds in them.</li>
         <li class="list-group-item"><b>What is a Wallet ID?</b> Your Wallet ID is the way we know which wallet is yours. When you create a new wallet we generate a brand new random Wallet ID for you. 
                                        You need your Wallet ID to login and access your wallet, so <span class="text-danger"><b>Please BACKUP/SAVE your Wallet ID and your Wallet Password</b></span> somewhere safe, but separately.
                                        If you lose your Wallet ID or Wallet Password, you could lose the addresses and the funds in them.</li>
         <li class="list-group-item"><b>Does Omniwallet protect my Wallet?</b> We take wallet security very seriously. Please see <a href="http://mastercointalk.org/index.php?topic=712.0" target="_new">this post</a>
                                        on the Mastercoin forums for more information. You can also checkout <a href="http://mastercointalk.org/index.php?topic=263.msg1981#msg1981" target=_new">this post</a>
                                        for more information about the Security Bug Bounty program.</li>
         <li class="list-group-item"><b>What are Watch Only Addresses?</b> An address (in your wallet) which you can track its balances but does not have an associated private key.
                                        So your wallet can not create any transactions with it. You only view its balances. </li>
         <li class="list-group-item"><b>What are Armory Offline Addresses?</b> An address (in your wallet) which allows you to track your funds and create secure offline transactions. Your offline transaction can then be
                                        signed by your offline Armory client providing you the same security of an Armory offline wallet. 
                                        Take a look at the <a href="https://github.com/mastercoin-MSC/omniwallet/wiki/Armory-Offline-Addresses" target="_new">complete guide on our wiki</a>.</li>
         <li class="list-group-item"><b>What is a Private Key?</b> A Private Key is needed to send digital coins or tokens from an address you own. It's used to sign any transaction before it can be 
					broadcast to the network. The private key is the secret key used to generate your Address (<a href="https://en.bitcoin.it/wiki/Private_key" target="_new">Wikipedia</a>).               
                                        Omniwallet allows you to import your private key in several formats (hex, base64, Wallet Import Format, Wallet Import Format Compressed).
                                        The Wallet Import Format (WIP) is probably the most common format and its private key will always start with the number <i><b>5</b></i>.
                                        The My Address page displays a little padlock <a href="/about/faq"><span class="glyphicon glyphicon-lock" tooltip="Your Wallet has the Private key for this address"></span></a>
					for addresses with known private keys.</li>
         <li class="list-group-item"><b>How do I Add an Address to my Wallet?</b> On the 'My Addresses' page of your wallet you can add either a Watch Address or the Private Key for your address.
                                        If you add the Private key for your address, you are giving your wallet the ability to manage/create transactions which move your coins 
                                        that are in that address. If you only add the address as a Watch address, you will have a read-only view of its balances and transaction history.</li>
         <li class="list-group-item"><b>How do I Create a New Address?</b> Need a new address? On the 'My Addresses' page simply click the 'Create New Address' button and we'll generate a
                                        completely new random bitcoin address/private key pair and add it to your wallet. You will be able to use it to send and receive coins immediately.
                                        <b>NOTE: Any time you add an address to your wallet you should make sure you backup/export your wallet.
                                        <span class="text-danger">If you lose your password/access to your wallet and don't have a backup your 
                                        funds/coins are GONE and there is nothing we can do to help you retrieve it.</span></b></li>
         <li class="list-group-item"><b>How do I Backup My Wallet?</b>On the 'My Addresses' page you can export a copy of your wallet. This json file contains every address and 
                                        private key (if known) for the addresses in your wallet at the time of backup. <b> If you add new addresses to your wallet you should immediately
                                        create a new backup, replacing your old backup.</b></li>
         <li class="list-group-item"><b>What is MasterProtocol Transaction Cost?</b> All Mastercoin transactions require a service fee in bitcoins in order to processed and added to the Bitcoin blockchain. At the simplest level
                                        a MasterProtocol Transaction is a Bitcoin transaction, just with special data in the output. Omniwallet uses about .00005757 BTC (5757 satoshis) for each of these outputs,
                                        so a typical MasterProtocol Transaction ends up costing about .00035 BTC (35000 satoshis) to send. Since some of these outputs are part of a multisig output 
                                        (your sending address is always one of the outputs) part of this cost is recoverable. We are currently working to make
                                        <a href=https://github.com/mastercoin-MSC/omniwallet/issues/382" target ="_new">redeeming these costs</a> easier for you.</li>
         <li class="list-group-item"><b>How long does it take for a MasterProtocol Transaction to show up in Omniwallet?</b> When you send a MasterProtocol transaction, it has to be processed on the Bitcoin blockchain and confirmed 
                                        as a valid transaction. It usually takes about 10 minutes for a transaction to be confirmed once. Omniwallet displays a transaction when it has been confirmed
                                        so you can expect to see the transaction in about 5-10 minutes, but that time may vary. The exception to this is if the transaction was sent from Omni. If it was sent from Omni see the Unconfirmed/Pending Transaction Support section below.</li>
         <li class="list-group-item"><b>What is Unconfirmed or Pending Transaction (Tx) Support?</b> When you broadcast any type of Transaction (Tx) it is received by the Bitcoin network as unconfirmed or pending. 
                                        Unconfirmed or pending tx are not usable by the reciever until it has recieved at least 1 confirmations (this number varies by software). Typically 
                                        a wallet or another user will have no knowledge about this tx until it recieves at least one confirmation on the network. Every tx that Omni sends is recorded in our DB so we can display
                                        realtime updates about your balances. If you send a tx from Omni you will notice your balance decreases in Omni immediately and a new icon <span class="glyphicon glyphicon-export"></span> appears next to the address balance.
                                        This icon indicates you have a pending tx that has affected your overall usable balance. On the corresponding side, when an Omni user sends another Omni user something, the reciever will see
                                        a new icon <span class="glyphicon glyphicon-import"></span> and the unconfirmed amount under their address balance. Once confirmed this will be added to their usable balance and the unconfirmed line will disappear. 
         <li class="list-group-item"><b>How do I Receive Coins?</b> After you sign in to your wallet you may notice only a Bitcoin address displayed. All MasterProtocol Properties (coins) work with any Bitcoin address where you control the private key. So to receive any MasterProtocol Property simply provide a Bitcoin address from your Omniwallet to the remote sender. Once their send transaction has confirmed on the blockchain your updated balance will display within your wallet. </li>
         <li class="list-group-item"><b>How do I Send Coins?</b> After you sign in to your wallet, click the 'Send' link in the left sidebar to send coins from an address that has a private key in your wallet (see Private Keys above).</li>
         <li class="list-group-item"><b>(DEx) How do I Buy Coins?</b> Buying coins on the Distributed Exchange (DEx) is a 2 part process. Part 1: On the Trade page find a Sale offer 
                                        and click 'Buy Coin'. On the Accept Order page fill in the amount you want to buy (take note of the payment Timeframe) and (after 
                                        confirming everything) click 'Send Reservation'. What happens now: Your order is sent to the Bitcoin/Mastercoin network. If your order is accepted and validated
                                        (for instance, the seller still has coins left for sale) then your reservation will show up on the Pending page as ready for payment. Part 2: Click the 'Pay now' button next to your order and confirm the details then send your payment.
                                        <b>Note:</b> If you do not pay for the order within the Payment Timeframe mentioned above your order expires. It is recommended to
                                        make sure you are buying coins that have an adequate amount of time (at least 10 blocks) for paying. Your payments may take 2-3 blocks before 
                                        they show up on the blockchain.</li>
         <li class="list-group-item"><b>(DEx) How do I Sell Coins?</b> Just like buying coins, you can sell your coins. On the Trade page click 'Start new Sale Offer'. Choose the 
                                        type of coin to sell (currently only MSC is available until the MetaDEx launches) and the address you.re selling from. Set a price per coin, payment time frame 
                                        and buyer.s fee. Confirm the information and create your sale. If your sale is accepted/valid the number of coins you put up for sale will be reserved
					from your available balance until it is sold.</li>
         <li class="list-group-item"><b>Additional Help:</b> See <a href="/about/contact"> Contact Us </a> for more details</li>
       </ul>
    </div>
  </row>
</div>


