<div ng-controller="AddAddressController" ng-init="enumerateAddresses()" class="panel row">
<div class="col-md-12">
    <div class="col-md-4 text-left">
      <div class="dropdown">
        <a data-toggle="dropdown" href="#" class="btn btn-default">Import Address/Private Key</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="openImportWatchOnlyForm()">Watch Only Address</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="openImportPrivateKeyForm()">Private Key</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="openImportEncryptedKeyForm()">Encrypted Private Key</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <button class="btn btn-default" ng-click="createBTCAddress()">Create New BTC Address</button>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-default" ng-click="backupWallet()">Backup Wallet</button>
    </div>
</div>
</div>
