<div ng-controller="AddAddressController" ng-init="enumerateAddresses()" class="col-xs-12">
  <div ng-if="addresses.length == 0" class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    You don't currently have any cryptocurrency addresses in your wallet.  Why not import one, or create a new one?
  </div>

  <row>
    <div class="col-xs-3">
    <button class="btn btn-default" ng-click="openCreateAddressModal()">Create New BTC Address</button>
    </div>
    <div class="dropdown col-xs-3">
      <a data-toggle="dropdown" href="#" class="btn btn-default">Import Address/Private Key</a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="openImportWatchOnlyForm()">Watch Only Address</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="openImportPrivateKeyForm()">Private Key</a></li>
      <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="openImportEncryptedKeyForm()">Encrypted Private Key</a></li>-->
      </ul>
    </div>
  </row>
</div>
