<div class="modal-header">
    <h3>Add a new Mastercoin (MSC) address.</h3>
</div>
<div class="modal-body">
    <p>This is probably just a bitcoin address, but it's VERY important that you not use an address from a managed wallet service like Coinbase - they do interesting things with the bitcoin addresses, and you're all but guaranteed to lose any Mastercoins you send to them!</p>
    <p> Don't have a compatible address?  You can generate one (and its associated private key) over at <a href="https://www.bitaddress.org" target="_blank">bitaddress.org</a>.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
