<div class="modal-header">
    <h3>Add a new bitcoin address</h3>
</div>
<div class="modal-body">
    Don't have a bitcoin address already?  You can generate one (and its associated private key) over at <a href="https://www.bitaddress.org" target="_blank">bitaddress.org</a>.


	<form name=privkeyentry 
		class="priventry input-group" 
		style="margin-bottom:20px, margin-top:20px">
		<span class="input-group-addon">Enter Key (Send/Receive):</span>
		<input type="text" 
			name=privkey 
			class="form-control" 
			placeholder="enter your private key  |   formats: hex, b64, WIP, compressed WIP"
			ng-model="newAddressData.privKey">
		<input type="text" 
			name=password 
			class="form-control" 
			placeholder="enter passphrase to encrypt and store locally"
			ng-model="newAddressData.password">
	</form>

	<center>OR</center>

	<form name="addressentry" class="addressentry input-group" style="margin-bottom:20px, margin-top:20px">
		<span class="input-group-addon">Enter Address (Watch Only):</span>
		<input type="text" 
			name="address" 
			class="form-control" 
			placeholder="Enter your bitcoin address"
			ng-model="newAddressData.address">
	</form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok( newAddressData )">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
