<div class="row" >
  <div ng-if="balances.balances" class="col-md-5 col-sm-12 text-center">Portfolio Composition 
    <svg id="all-assets-graph"></svg>
  </div>
  <div class="col-md-7 col-sm-12">
    <div ng-if="balances.balances">
      <row>
        <div class="currency-name col-xs-8 text-left">
          Estimated Total Value
        </div>
        <div class="currency-value col-xs-4 text-right">
          {{total | currency}}
        </div>
      </row>
      <div class="asset-table">
        <div ng-repeat="currency in balances.balances">
          <row class="col-xs-12" ng-click="openCurrencyDetail( currency.symbol )">
            <div class="container-fluid">
              <div class="asset-item col-xs-4 text-left">
                <span>{{currency.name ? currency.name : currency.symbol}}</span>
              </div>
              <div class="asset-item col-xs-5 text-right">
                <span ng-if="currency.property_type != undefined && currency.property_type == 1" class="currency">{{ currency.balance }} </span>
                <span ng-if="currency.property_type != undefined && currency.property_type == 2" class="currency">{{ ({ balance: currency.balance, symbol: currency.symbol } | cryptocurrency).toFixed(8) }}</span>
                <span ng-if="currency.property_type == undefined" class="currency">{{ { balance: currency.balance, symbol: currency.symbol } | cryptocurrency }} {{currency.name == "Bitcoin" ? "m" : ""}}{{ currency.symbol }}</span>
              </div>
              <div class="asset-item col-xs-3 text-right">
                <span>{{currency.value | currency}}</span>
              </div>
            </div>
          </row> 
        </div>
        <row class="col-xs-12 text-center"> 
          <h6>Click on assets for more detailed breakdown</h6>
        </row>

      </div>
    </div>
  </div>
</div>


