<script src="js/CreateWalletController.js"></script>
<div class="col-xs-10" ng-controller="CreateWalletController">
  <h1>Create a new Wallet</h1>
  <form novalidate class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <input type="text" ng-model="create.email" id="inputEmail">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="password" ng-model="create.password" id="inputPassword">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputRepeatPassword">Repeat Password</label>
      <div class="controls">
        <input type="password" ng-model="create.repeatPassword" id="inputRepeatPassword">
      </div>
    </div>
    <br />
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn" ng-click="createWallet(create)">Create Wallet</button>
      </div>
    </div>
  </form>
  <div class="help-block" ng-show="passwordCompare">Passwords do not match.</div>
  <div class="help-block" ng-show="serverError">Server Error, try again later</div>
</div
