<div class="modal-header">
    <h3>Asset Detail: {{currencyName}} ({{currencySymbol}})</h3>
</div>
<div class="modal-body">

	<table class="table table-striped table-hover table-condensed">
		<thead>
		  <tr>
		    <th>Address</th>
		    <th>Balance</th>
		    <th>Value</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="item in balances">
                    <td ng-hide={{item.address.privkey}}>{{item.address.address}}</td>
                    <td ng-show={{item.address.privkey}}>{{item.address.address}}<span class="glyphicon glyphicon-lock" tooltip="Your Wallet has the Private key for this address"></span></td>
		    <td class="currency">{{item.balance}}</td>
		    <td class="currency">{{ item.value | currency}}</td>
		  </tr>
		</tbody>
	</table>
</div>
