<div class="modal-header">
    <h3>Remove from your wallet: <br /> {{address}}</h3>
</div>
<div class="modal-body">
	<h3 class="text-center">Are you sure?</h3>
        <span ng-show={{private}}>
	<p>
		Removing this address from your wallet won't destroy any funds kept in it, but if this is the only 
		place you have your private key stored, you <b>will permanently lose</b> the ability to move or cash them in!
	</p>
	<h4 class="text-danger">Be VERY sure your keys are <a href="/about/faq" target=_new>backed up</a> and you mean to do this!</h4>
	</span>
	<span ng-hide={{private}}>
        <p>            
                Removing this WatchOnly address from your wallet only affects the displayed balances.
		All funds on this address will continue to remain on it and 
		you can add it back at anytime if you wish to track them again.
        </p>
	</span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Yes, Remove Address</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
