<br>
<br>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4>
    <strong>Warning: <u>Alpha</u> Software!</strong>
  </h4>
  <p>
  Omniwallet should be considered an alpha-level product, and you use it at your own risk.  Neither the Mastercoin Foundation nor the Omniwallet developers assumes any responsibility for funds misplaced, mishandled, lost, or misallocated.
  </p>
  <p>
  When Omniwallet is "launched" (moved from "Alpha" to "Beta"), it is our expectation that <strong>ALL EXISTING USER DATA WILL BE DELETED!</strong>
  </p>
  <p>
  Further, please note that this particular installation of the Omniwallet is installed on a testing server, and should be viewed as experimental.  Your wallet data may be lost, deleted, or corrupted, with or without warning.  If you want greater control over the Omniwallet, please consider <a href="https://github.com/mastercoin-MSC/omniwallet">downloading the code and hosting it yourself</a>.
  </p>
</div>

