<div class="col-xs-10" ng-controller="ExplorerAssetsController">
    <div class="text-left om-title" >
  Assets
  </div>
  <div class="row">
      <a href="/assets/issue" class="btn btn-primary btn-sm" ng-show="isLoggedIn">Create Smart Property</a>
      <a href="/assets/crowdsale" class="btn btn-primary btn-sm" ng-show="isLoggedIn">Start Crowdsale</a>
    </div>
     <table class="table table-striped table-hover table-condensed">
    <caption class="hide">| Assets Listing |</caption>
    

</table>
</div>
