<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('explorer')>
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-10" ng-controller="ExplorerAssetsController">
<div class="panel-default">
  <div class="col-xs-9 text-left panel-body om-title" >
    Assets
  </div>
  <div class="col-xs-3" style="padding-top: 20px">
    <div class="input-group pull-right">
      <span class="input-group-addon"> Environment: </span>
      <select name="ecosystem" class="form-control" ng-model="ecosystem" ng-change="setEcosystem()">
        <option value="1"> Production </option>
        <option value="2"> Testing </option>
      </select>
    </div>
  </div>
  <div class="row">
      <a href="/assets/issue" class="btn btn-primary btn-sm" ng-show="isLoggedIn">Create Smart Property</a>
      <a href="/assets/crowdsale" class="btn btn-primary btn-sm" ng-show="isLoggedIn">Start Crowdsale</a>
    </div>
     <table class="table table-striped table-hover table-condensed">
      <caption>Active Crowdsales</caption>
      <tr>
        <th>
          Name
        </th>
      </tr>
      <tr ng-repeat="crowdsale in crowdsales">
        <td><a href="/assets/details/{{crowdsale.propertyid}}">{{crowdsale.name}}</a></td>
      </tr>
    

</table>
</div>
</div>
