<div class="col-xs-10" ng-controller="ExplorerInspectorController">

  <h4>
    <a href="/{{pastLoc}}"> <strong> < Go back </strong> </a>
  </h4>
  <table class="table table-striped table-hover table-condensed">
    <caption>Transaction Inspector</caption>
    <thead>
        <tr>
          <th>Field Name</th>
          <th>Details</th>
        </tr>
    </thead>
    <tbody>
    </tbody>

  <tr ng-repeat="field in fieldlist track by $index">
   <td>{{field}}</td>
   <td>{{transactionData[tx_keys[$index]]}}</td>
  </tr>

</table>
</div>
