<div class="main-container" ng-controller="ExplorerAssetsController">
  <div class="row hidden-xs">
    <div class="col-xs-2"></div>
    <div class="col-xs-offset-9 col-xs-1 pull-right"></div>
  </div>
  <div class="row visible-xs">
    <div class="col-xs-2"></div>
    <div class="col-xs-offset-9 col-xs-1 pull-right"></div>
  </div>
</div>






/*
<div class="col-xs-10" ng-controller="ExplorerAssetsController">
<div class="panel-default">
    <div class="text-left panel-body om-title" >
  Assets
  </div>
  <div class="row">
      <a href="/assets/issue" class="btn btn-primary btn-sm" ng-show="isLoggedIn">Create Smart Property</a>
      <a href="/assets/crowdsale" class="btn btn-primary btn-sm" ng-show="isLoggedIn">Start Crowdsale</a>
    </div>
     <table class="table table-striped table-hover table-condensed">
    <caption class="hide">| Assets Listing |</caption>
    

</table>
</div>
</div>
*/