<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('explorer')>
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-10" ng-controller="ExplorerController" ng-init="getData()">
  <table class="table table-striped table-hover table-condensed">
    <caption>Latest 
      <select ng-model="currency" ng-options="currency for currency in currencies" ng-change="getData(currency)">
        <option value=""> -- choose currency -- </select>
      transactions</caption>
    <thead>
        <tr>
          <th>Transaction</th>
          <th>Details</th>
          <th>Amount</th>
          <th>Block time</th>
        </tr>
    </thead>
    <tbody>
    </tbody>

  <tr ng-repeat="trans in transactions">
   
   <td>{{trans.tx_hash}}</td>
   <td>{{trans.tx_type_str}}</td>
   <td>{{trans.formatted_amount}}</td>
    <td>{{trans.tx_time | date:'dd MMM HH:mm'}}</td>
  </tr>

</table>

</div>
