<div class="modal-header">
    <h3>Import an Encrypted BTC/MSC Private Key</h3>
</div>
<div class="modal-body">

	<form name=privkeyentry 
		class="priventry input-group" 
		style="margin-bottom:20px, margin-top:20px">
		<span class="input-group-addon">Enter Key (Send/Receive):</span>
		<input type="text" 
			name=privkey 
			class="form-control" 
			placeholder="enter your private key, formats: hex, b64, WIP, compressed WIP"
			ng-model="newAddressData.privKey"
      ng-required="!newAddressData.address">
	</form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok( newAddressData )" ng-disabled="(privkeyentry.$error.required || !validate( newAddressData.privKey ))">Add Address</button>
</div>
