<div class="modal-header">
  <h3>Import a Wallet Backup</h3>
</div>
<form name="bkpentry" class="form-horizontal" style="margin-bottom:20px, margin-top:20px" ng-submit="startImport()">
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-md-10 col-md-push-1">
        <label class="control-label">Enter backup file:</label>
        <input type="file" name="privkey" class="form-control" fileread="walletData" placeholder="enter your backup file in json format" ng-model="walletData" ng-required="true">
        <span style="color:red" ng-show="privkeyentry.walletData.$dirty && !validate(walletData)">Must be a valid Omnicore backup file.</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" value="Import Wallet">
    <progressbar ng-show="processing" style="margin-top:10px" animate="false" value="(completed * 100) / total" type="success" max="100"><b ng-show="completed > 0">{{completed}} / {{total}}</b></progressbar>
    <h4 style="color: green;">{{progressMessage}}</h4>
  </div>
</form>