<div class="modal-header">
    <h3>Import an Armory Offline Address</h3>
</div>
<form name="addressentry" class="form-horizontal" style="margin-bottom:20px, margin-top:20px" ng-submit="(validate(newAddressData) != false) && ok(newAddressData)">
	<div class="modal-body">
		<div class="row">
			<div class="form-group col-md-10 col-md-push-1">
				<label class="control-label">Enter Public Key (<a href="/about/faq" target="_new">Offline</a>):</label>
				<input type="text" name="pubkey" class="form-control" placeholder="Enter your offline address public key" ng-model="newAddressData.pubkey" required>
				<span ng-show="validate(newAddressData) != false">
					Address: {{newAddressData.address}}
				</span>
				<span style="color:red" ng-show="addressentry.pubkey.$dirty && !validate(newAddressData)">Must be a valid Bitcoin address</span>
				<span style="color:red" ng-show="addressentry.pubkey.$dirty && !addressNotListed(newAddressData.pubkey)">Bitcoin address is already listed</span>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<input type="submit" class="btn btn-primary" ng-disabled="validate(newAddressData) === false || addressNotListed(newAddressData.pubkey) === false" value="Add Address">
	</div>
</form>
