<div class="modal-header">
  <h3>Import a BTC/MSC Private Key</h3>
</div>
<form name="privkeyentry" class="priventry input-group" style="margin-bottom:20px, margin-top:20px" ng-submit="!privkeyentry.$error.required && ok(newAddressData)">
  <div class="modal-body">
    <span class="input-group-addon">Enter Key (Send/Receive):</span>
    <input type="text" name="privkey" class="form-control" placeholder="enter your private key, formats: hex, b64, WIP, compressed WIP" ng-model="newAddressData.privKey" ng-required="!newAddressData.address">
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" ng-disabled="privkeyentry.$error.required" value="Add Address">
  </div>
</form>
