<div class="modal-header">
    <h3>Import a Watch Only BTC/MSC Address</h3>
</div>
<form name="addressentry" class="addressentry input-group" style="margin-bottom:20px, margin-top:20px" ng-submit="(validate(newAddressData.address) != false) && ok(newAddressData)">
	<div class="modal-body">
		<span class="input-group-addon">Enter Address (Watch Only):</span>
		<input type="text"
			name="address" 
			class="form-control" 
			placeholder="Enter your bitcoin address"
			ng-model="newAddressData.address" required>

	</div>
	<div class="modal-footer">
		<input class="btn btn-primary" ng-disabled="validate(newAddressData.address) == false" value="Add Address">
	</div>
</form>
