<div class="modal-header">
    <h3>Import an Encrypted BTC/MSC Private Key</h3>
</div>
<form name=privkeyentry class="priventry input-group" style="margin-bottom:20px, margin-top:20px" ng-submit="!privkeyentry.$error.required && ok(newAddressData)">
  <div class="modal-body">
    <span class="input-group-addon">Enter Encrypted Key (Send/Receive):</span>
    <input type="text" name="privkey" class="form-control" placeholder="enter your encrypted private key" ng-model="newAddressData.encryptedPrivKey" required>
    <input type="password" name="password" class="form-control" placeholder="enter your passphrase" ng-model="newAddressData.password" required>
  </div>
  <div class="modal-footer">
    <input class="btn btn-primary" ng-disabled="privkeyentry.$error.required" value="Add Address">
  </div>
</form>
