<div class="modal-header">
    <h3>Import an Encrypted BTC/MSC Private Key</h3>
</div>
<form name=privkeyentry class="form-horizontal" style="margin-bottom:20px, margin-top:20px" ng-submit="!privkeyentry.$error.required && ok(newAddressData)">
  <div class="modal-body">
    <div class="row">
        <div class="form-group col-md-10 col-md-push-1">
          <label class="control-label">Enter Encrypted Key (Send/Receive):</label>
          <input type="text" name="privkey" class="form-control" placeholder="enter your encrypted private key" ng-model="newAddressData.encryptedPrivKey" required>
        </div>
    </div>
    <div class="row">
      <div class="form-group col-md-10 col-md-push-1">
        <input type="password" name="password" class="form-control" placeholder="enter your passphrase" ng-model="newAddressData.password" required>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" ng-disabled="privkeyentry.$error.required" value="Add Address">
  </div>
</form>
