<div class="modal-header text-center">
  <button type="button" class="close"  ng-click="dismiss('close')"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3>{{login.title}}</h3>
</div>
<form novalidate class="form-group" ng-submit="open(login)">
  <div><center><br /><b>Error Saving Wallet.</b><br />
          You've been logged out to protect your wallet. <br />
         This can happen when you try to have more than 1 active session to your wallet. 
  </center></div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-xs-10 col-xs-push-1">
        <label for="inputUUID">Wallet ID</label>
        <input type="text" class="form-control" ng-disabled="loginInProgress || login.disable" ng-model="login.uuid" id="inputUUID" value="{{ uuid }}">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-10 col-xs-push-1">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" ng-disabled="loginInProgress" ng-model="login.password" id="inputPassword">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn btn-primary" value="{{login.button}}" ng-disabled="loginInProgress" >        
        <button type="button" class="btn btn-warning" ng-disabled="loginInProgress" ng-click="dismiss('close')">Close</button>
      </div>
    </div>
    <img ng-show="loginInProgress" src="/assets/img/spinner.gif" alt="loading">
    <div ng-show="missingUUID" style="color:red">Please enter a valid wallet id and password</div>
    <div ng-show="badPassword" style="color:red">Please enter a valid wallet id and password</div>
    <div ng-show="serverError" style="color:red">Server error, please try again in 5 min</div>
  </div>
</form>

