<div class="modal-body">
    <h3 class="text-center"> Confirm Property Creation </h3>
    <h3>You're about to start a Crowdsale!</h3> <br/>
      <h4>This transaction will create a crowdsale with this data:</h4>
      <ul>
        <li>Name: {{propertyName}}</li>
        <li>Description: {{propertyData}}</li>
        <li>Divisible: {{divisible}}</li>
        <li>Category: {{propertyCategory}}</li>
        <li>Subcategory: {{propertySubcategory}}</li>
        <li>Url: {{propertyUrl}}</li>
        <li>Early bird initial bonus: %{{earlyBirdBonus}}</li>
        <li>Percentage for issuer: %{{percentageForIssuer}}</li>
        <li>Deadline: {{deadline}}</li>
        <li>Payouts: 
          <ul>
            <li ng-repeat="currency in currenciesDesired">
              {{currency.numberOfTokens}} per {{currency.selectedCurrency.propertyName}} ({{currency.selectedCurrency.currencyId}}) invested
            </li>
          </ul>
        </li>
      </ul>
  <p><br>
  If the above is correct, please press issue my Property.
  If you encounter an error, feel free to click away from the dialog and try again.
  </p>
<div class="modal-footer">
    <div class="row">
    <button ng-disabled="clicked" class="btn btn-primary" ng-click="ok()">Yes, issue my Property</button>
    <img class="" src="/assets/img/34-1.gif" ng-show="waiting">
    </div>
      <br>
    <div class="row">
      <div ng-show="issueSuccess">
        <h4 class="pull-right col-xs-12" style="color:green"> Assets issued successfully, 
        check your transaction <a target="_blank" href="{{url}}">here.</a></h4>
      </div>
      <div ng-show="issueError">
        <h4 class="col-xs-12" style="color:red;"> Assets could not be issued: 
         {{error}} </h4>
      </div>
    </div>
</div>
