<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('wallet')>
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-10">
  <div class="panel-default">
    <div class="text-left panel-body om-title">History</div>
  </div>

  <div ng-controller="WalletHistoryController" ng-init="getData(selectedAddress)">
    
      <h4> Full Wallet History for
        <select ng-model="selectedAddress" ng-options="addrObject.address as addrObject.address for addrObject in addresses" 
          ng-change="getData(selectedAddress)">
        <option value="">-- All Addresses --</option>
        </select> 
      </h4>

    <h3 ng-show="isLoading" class="text-center">Loading...<img src="/assets/img/spinner.gif"></h3>

    <table class="table table-hover table-condensed">
      <thead>
          <tr>
            <th>Transaction hash</th>
            <th>Currency</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Transaction time</th>
          </tr>
      </thead>
      <tbody>
      </tbody>

      <tr class="{{ transaction.color }}" ng-repeat="transaction in history track by $index" ng-show="transaction.tx_hash != undefined">
        <td ng-click="setHashExplorer(transaction)"> <a href="/explorer/inspector?view={{transaction.tx_hash}}">{{transaction.tx_hash_concat}}</a></td>
        <td>{{transaction.currency_str | truncate:14 }}</td>
        <td>{{transaction.tx_type_str}}</td>
        <td ng-show="transaction.color=='info'" class="number" title="-{{transaction.formatted_amount}}" ng-bind-html="transaction.formatted_amount | numeraljs: '-0,0.00000000'"></td>
        <td ng-show="transaction.color=='success'" class="number" title="{{transaction.formatted_amount}}" ng-bind-html="transaction.formatted_amount | numeraljs: '0,0.00000000'"></td>
        <td ng-show="transaction.color=='warning'" class="number" title="{{transaction.formatted_amount}}" ng-bind-html="transaction.formatted_amount | numeraljs: '0,0.00000000'"></td>
        <td>{{transaction.tx_time | date:'dd MMM HH:mma Z'}}</td>
      </tr>
    </table>
  </div>


</div>
