<div class="sidecar" ng-controller="SidecarController" ng-init="setView('explorer')">
  <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-12" ng-controller="AssetDetailsController">
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-body">
         <div class="row"> <h1>{{property.name}} </h1><span class="label label-default">#{{propertyId}}</span></div>
         <div class="row" style="margin-bottom: 30px;"> <span class="label label-default">{{property.category}} > {{property.subcategory}}</span></div>
         <div class="row" style="margin-bottom: 30px;">
          <p>
            {{property.data}}
          </p>
         </div>
         <div class="row" style="margin-bottom: 20px;">
          <p>
            For more details visit: <a href="{{data.propertyUrl}}">{{property.url}}</a>
          </p>
         </div>
         <div class="row" style="margin-bottom: 40px;">
          <p>
            Issuance Address: <span class="label label-success">{{property.issuer.substr(0,5)}}...{{property.issuer.substr(-5,5)}}</span>
          </p>
         </div>
         <div class="row">
          <div class="alert alert-info col-xs-8"></div>
          <button class="btn btn-success btn-lg">Participate</button>
         </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Accepted Currency</h3>
          <table class="table">
            <tr ng-repeat="currency in acceptedCurrencies">
              <td>{{currency.name}}</td>
              <td>Rate</td>
              <td>{{currency.rate}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row show-grid">
        <span>Share this page:</span>
        <span class="pull-right"> 
          <a href="#"><img src="/assets/img/social-icons/linkedIn-round.png" /> </a> 
          <a href="#"><img src="/assets/img/social-icons/facebook-round.png" /> </a> 
          <a href="#"><img src="/assets/img/social-icons/twitter-round.png" /> </a>
          <a href="#"><img src="/assets/img/social-icons/gplus-round.png" /> </a>
        </span>
      </div>
      <div class="row show-grid bg-active">
        <div class="col-xs-12">
          <h3><span ng-show="isOwner">Your </span>Active crowdsale</h3>
          <p>
            Time until closing:
          </p>
          <div id="timerWrapper"></div>
        </div>
      </div>
      <div class="row show-grid">
        <div class="col-xs-12">
          Crowdsale started {{formatedStartDate}} (~{{daysAgo}} days ago)
        </div>
      </div>
      <div class="row show-grid bg-active">
        <div class="col-xs-12">
          <span class="pull-left" style="padding-top: 41px">Current early bird bonus:</span> <div class="shout pull-right"><span>+{{earlyBirdBonus}}%</span></div>
        </div>
      </div>
      <div class="row show-grid bg-active">
        <div class="col-xs-12">
          <span class="tag">{{crowdsale.participanttokens}}</span>
          <span class="help-block">Tokens already bought by participants</span>
          <span class="tag">{{crowdsale.issuertokens}}</span>
          <span class="help-block">Tokens created for the issuer (%{{crowdsale.percenttoissuer}})</span>
        </div>
      </div>
      <div class="row bg-active">
        <div class="col-xs-12">
          <h4>Invested Funds</h4>
          <span>Estimated total worth invested in this crowdsale:</span>
          <span class="tag">{{estimatedWorth}}</span> Dollars
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Crowdsale history</h2>
    <span>Found {{history.total}} investment transactions</span>
    <div class="panel" ng-repeat="transaction in history.transactions">
      <div class="panel-body">
        Invested {{transaction.amountsent}} {{formatedCurrency}} got {{transaction.participanttokens}}
      </div>
      </panel>
    </div>
  </div>
