<div class="sidecar" ng-controller="SidecarController" ng-init="setView('explorer')">
  <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-12" ng-controller="AssetDetailsController">
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-default">
        <div class="panel-body">
         <div class="row"> <div class="col-xs-12"><h2>{{property.name}} <span class="label label-default" style="font-size: 12px;vertical-align: middle;">#{{propertyId}}</span></h2></div></div>
         <div class="row" style="margin-bottom: 30px;"> <div class="col-xs-12"><span class="label" style="background-color: #EEE;color: #666;">{{property.category}} > {{property.subcategory}}</span></div></div>
         <div class="row" style="margin-bottom: 30px;">
           <div class="col-xs-12">
            <p>
              {{property.data}}
            </p>
           </div>
         </div>
         <div class="row" style="margin-bottom: 20px;">
           <div class="col-xs-12">
            <p>
              For more details visit: <a href="{{data.propertyUrl}}">{{property.url}}</a>
            </p>
           </div>
         </div>
         <div class="row" style="margin-bottom: 20px;">
           <div class="col-xs-12">
            <p>
              Issuance Address: <span class="label label-success"><img src="/assets/img/miniomni.png">{{property.issuer.substr(0,5)}}...{{property.issuer.substr(-5,5)}}</span>
            </p>
           </div>
         </div>
         <div class="row">
          <div class="col-xs-12">
            <div class="alert alert-info col-xs-9 text-center">{{infoMessage}}</div>
            <button class="btn btn-success btn-lg" style="margin-top: 20px;font-size: 23px;">Participate</button>
          </div>
         </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Accepted Currency</h3>
          <table class="table">
            <tr ng-repeat="currency in acceptedCurrencies">
              <td>{{currency.name}}</td>
              <td>Rate</td>
              <td>{{currency.rate}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row show-grid">
        <span style="color: #ccc;font-size: large;">Share this page:</span>
        <span class="pull-right"> 
          <a href="#"><img src="/assets/img/social-icons/linkedIn-round.png" /> </a> 
          <a href="#"><img src="/assets/img/social-icons/facebook-round.png" /> </a> 
          <a href="#"><img src="/assets/img/social-icons/twitter-round.png" /> </a>
          <a href="#"><img src="/assets/img/social-icons/gplus-round.png" /> </a>
        </span>
      </div>
      <div class="row show-grid bg-active">
        <div class="col-xs-12">
          <h3><span ng-show="isOwner">Your </span>Active crowdsale</h3>
          <p>
            Time until closing:
          </p>
          <div id="timerWrapper"></div>
        </div>
      </div>
      <div class="row show-grid">
        <div class="col-xs-12">
          Crowdsale started {{formatedStartDate}} (~{{daysAgo}} days ago)
        </div>
      </div>
      <div class="row show-grid bg-active">
        <div class="col-xs-12">
          <span class="pull-left" style="padding-top: 41px">Current early bird bonus:</span> <div class="shout pull-right"><span>+{{earlyBirdBonus}}%</span></div>
        </div>
      </div>
      <div class="row show-grid bg-active">
        <div class="col-xs-12">
          <span class="tag">{{crowdsale.participanttokens}}</span>
          <span class="help-block">Tokens already bought by participants</span>
          <span class="tag">{{crowdsale.issuertokens}}</span>
          <span class="help-block">Tokens created for the issuer (%{{crowdsale.percenttoissuer}})</span>
        </div>
      </div>
      <div class="row bg-active">
        <div class="col-xs-12">
          <h4 style="color: #ccc">Invested Funds</h4>
        </div>
        <div class="col-xs-7">
          <span>Estimated total worth invested in this crowdsale:</span>
        </div> 
        <div class="col-xs-12" >
          <span class="tag">{{estimatedWorth}}</span> Dollars
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Crowdsale history</h2>
    <span>Found {{history.total}} investment transactions</span>
    <div class="panel panel-default" ng-repeat="transaction in history.transactions">
      <div class="panel-body">
        <div class="row" style="margin-bottom: 15px;">
          <div class="col-xs-4"><h6>{{formatTransactionTime(transaction.blocktime,"elapsed")}}</h6><span style="color: #ccc">{{formatTransactionTime(transaction.blocktime)}}</span></div>
          <div class="col-xs-8">
            <span class="pull-right" style="margin-right: 20px;">
              <div class="row" style="border: 1px solid #ccc;padding: 3px;border-radius: 5px;box-shadow: 0px 3px #ccc;"><img src="/assets/img/shouty.png" /> {{transaction.confirmations}} Confirmations</div>
              <div class="row"><a href="{{formatTransactionUrl(transaction.txid)}}">See transaction details</a></div>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-1 col-xs-11">
            <div><img src="/assets/img/miniomni.png">{{transaction.sendingaddress.substr(0,5)}}...{{transaction.sendingaddress.substr(-5,5)}}</div>
            Invested {{transaction.amountsent}} {{formatCurrencyName(transaction.propertyid)}} got {{transaction.participanttokens}}
          </div>
        </div>
      </div>
    </div>
  </div>
