<div class="sidecar" ng-controller="SidecarController" ng-init="setView('explorer')">
  <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-12" ng-controller="AssetDetailsController">
  <div class="row" ng-show="pendingThinking">
    <div class="row">
      <div class="col-xs-8">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row"> 
              <div class="col-xs-12">
                <h2>{{property.name}} <span class="label label-asset-id" >(#{{propertyId}})</span></h2>
              </div>
            </div>
            <div class="row" style="margin-bottom: 30px;"> 
              <div class="col-xs-12">
                <span class="label label-asset-category" >{{property.category}}</span>
                <span ng-if="property.subcategory" class="label label-asset-category">$gt; {{property.subcategory}}</span>
              </div>
            </div>
            <div class="row" style="margin-bottom: 30px;">
              <div class="col-xs-12">
                <p>
                  {{property.data}}
                </p>
              </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
              <div class="col-xs-12">
                <p>
                  For more details visit: <a target="_blank" href="{{property.url}}">{{property.url}}</a>
                </p>
              </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
              <div class="col-xs-12">
                <p>
                  Issuance Address: <span class="label"><a href="https://blockchain.info/address/{{property.issuer}}?sort=0">{{property.issuer.substr(0,5)}}...{{property.issuer.substr(-5,5)}}</a></span>
                </p>
              </div>
           </div>
           <div class="row">
            <div class="col-xs-12 standout">
              <div class="alert alert-standout text-center" ng-class="{'alert-info':standoutInfo, 'alert-danger':standoutError}">{{infoMessage}}</div>
              <button class="btn btn-success btn-lg btn-standout" ng-click="participate()" ng-show="canParticipate" >Participate</button>
            </div>
           </div>
          </div>
        </div>
        <div ng-show="!property.fixedissuance" class="panel panel-default">
          <div class="panel-body">
            <h3>Accepted Currency</h3>
            <table class="table">
              <tr ng-repeat="currency in acceptedCurrencies">
                <td>{{currency.name}}</td>
                <td>Rate</td>
                <td>{{currency.rate}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="row show-grid">
          <h4 class="text-muted">Share this page:
            <span class="pull-right"> 
              <a href="https://www.linkedin.com/shareArticle?mini=true&url={{shareUrl}}&title=Checkout%20this%20Crowdsale!&summary=&source=" target="_new"><img src="/assets/img/social-icons/linkedIn-round.png" /> </a> 
              <a href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}" target="_new"><img src="/assets/img/social-icons/facebook-round.png" /> </a> 
              <a href="https://twitter.com/home?status={{shareUrl}}" target="_new"><img src="/assets/img/social-icons/twitter-round.png" /> </a>
              <a href="https://plus.google.com/share?url={{shareUrl}}" target="_new"><img src="/assets/img/social-icons/gplus-round.png" /> </a>
            </span>
          </h4>
        </div>
        <div class="row show-grid bg-active">
          <div class="col-xs-12">
            <h3><span ng-show="isOwner">Your </span>{{crowdsale.active | crowdsaleStatus}} crowdsale</h3>
            <p ng-show="crowdsale.active">
              Time until closing:
            </p>
            <div id="timerWrapper"></div>
          </div>
        </div>
        <div class="row show-grid"  ng-show="!property.fixedissuance">
          <div class="col-xs-12">
            Crowdsale started {{formatedStartDate}} (~{{daysAgo}} days ago)
          </div>
        </div>
        <div class="row show-grid bg-active" ng-show="!property.fixedissuance && crowdsale.active" >
          <div class="col-xs-12">
            <span class="pull-left shout-label" >Current early bird bonus:</span> <div class="shout pull-right"><span>+{{earlyBirdBonus}}%</span></div>
          </div>
        </div>
        <div class="row show-grid bg-active" ng-show="!property.fixedissuance">
          <div class="col-xs-12">
            <span class="tag" ng-if="!property.divisible">{{crowdsale.participanttokens | numeraljs: '0,0'}}</span>
            <span class="tag" ng-if="property.divisible">{{crowdsale.participanttokens | numeraljs: '0,0.00000000'}}</span>
            <span class="help-block">Tokens already bought by participants</span>
            <span class="tag" ng-if="!property.divisible">{{crowdsale.issuertokens | numeraljs: '0,0'}}</span>
            <span class="tag" ng-if="property.divisible">{{crowdsale.issuertokens | numeraljs: '0,0.00000000'}}</span>
            <span class="help-block">Tokens created for the issuer ({{crowdsale.percenttoissuer}}%)</span>
          </div>
        </div>
        <div class="row show-grid bg-active" ng-show="property.fixedissuance">
          <div class="col-xs-12">
            <span class="tag" ng-if="!property.divisible">{{property.totaltokens | numeraljs: '0,0'}}</span>
            <span class="tag" ng-if="property.divisible">{{property.totaltokens | numeraljs: '0,0.00000000'}}</span>
            <span class="help-block">Total tokens</span>
          </div>
        </div>
        <div class="row show-grid bg-active" ng-show="estimatedWorth > 0">
          <div class="col-xs-12">
            <h4 class="text-muted">Invested Funds</h4>
          </div>
          <div class="col-xs-7">
            <span>Estimated total worth invested in this crowdsale:</span>
          </div> 
          <div class="col-xs-12" >
            <span class="tag">{{estimatedWorth}}</span> Dollars
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h2>{{property.fixedissuance | assetIssuedType}} history</h2>
      <span>Found {{history.total}} transactions</span>
      <div class="scroll">
        <div class="scroll-body" infinite-scroll='loadHistory()' infinite-scroll-disabled='history.loading || history.loaded' infinite-scroll-distance='3'>
          <div class="panel panel-asset-history" ng-repeat="transaction in history.transactions" 
            ng-class="{'panel-asset-history-purchase': transaction.isParticipation, 'panel-asset-history-close': transaction.isClose, 'panel-asset-history-create': transaction.isCreate}">
            <div ng-if="transaction.isParticipation" class="panel-body">
              <div class="row">
                <div class="col-xs-4"><h6 class="text-black">{{formatTransactionTime(transaction.blocktime,"elapsed")}}</h6><span class="text-muted">{{formatTransactionTime(transaction.blocktime)}}</span></div>
                <div class="col-xs-8">
                  <span class="assets-history-badge">
                    <div class="row badge" ng-hide="transaction.confirmations > 100"><img src="/assets/img/shouty.png" /> {{transaction.confirmations}} Confirmations</div>
                    <div class="row"><a href="{{formatTransactionUrl(transaction.txid)}}" target="_blank">See transaction details</a></div>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-offset-1 col-xs-11">
                  <div><img src="/assets/img/miniomni.png"><a href="https://blockchain.info/address/{{transaction.sendingaddress}}?sort=0">{{transaction.sendingaddress.substr(0,5)}}...{{transaction.sendingaddress.substr(-5,5)}}</a></div>
                  <div ng-if="!property.divisible">Invested {{transaction.amount | numeraljs: '0,0'}} {{formatCurrencyName(transaction.propertyid)}} got {{transaction.purchasedtokens}} {{transaction.purchasedpropertyname}} tokens.
                  </div>
                  <div ng-if="property.divisible">Invested {{transaction.amount | numeraljs: '0,0.00000000'}} {{formatCurrencyName(transaction.propertyid)}} got {{transaction.purchasedtokens}} {{transaction.purchasedpropertyname}} tokens.
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="transaction.isCreate" class="panel-body">
              <div class="row">
                <div class="col-xs-4"><h6 class="text-black">{{formatTransactionTime(transaction.blocktime,"elapsed")}}</h6><span class="text-muted">{{formatTransactionTime(transaction.blocktime)}}</span></div>
                <div class="col-xs-8">
                  <h5>Crowdsale was created</h5>
                </div>
              </div>
            </div>
            <div ng-if="transaction.isClose" class="panel-body">
              <div class="row">
                <div class="col-xs-4"><h6 class="text-black">{{formatTransactionTime(transaction.blocktime,"elapsed")}}</h6><span class="text-muted">{{formatTransactionTime(transaction.blocktime)}}</span></div>
                <div class="col-xs-8">
                  <img src="/assets/img/assets-history-icons/close.png" alt="{{transaction.type}}">
                  <h5>Crowdsale was closed from further participation</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default" ng-show='history.loading'>
            <div class="panel-body text-center">
              <img src="/assets/img/loading.gif"/>Loading transactions
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-hide="pendingThinking" ng-if="loggedIn">
    <h4>
      <a ng-click="goBack()"> <strong> < Go back </strong> </a>
    </h4>
    <div ng-controller="WalletAssetsFormController">
    <div ng-controller="TransactionGenerationController">
    <div ng-controller="WalletSendAssetsController">
      <div class="row">
        <h3 class="text-center" >Participate on {{property.name}} Crowdsale</h3>
        <br>
        <div ng-show="showErrors" class="alert alert-danger"> <strong> {{error}} </strong> </div> 
      </div>
      <form name="sendForm" ng-submit="validateForm()">
      <div class="row">
        <div class="col-xs-6">
          <h4 class="text-justify" >Send type of coin:</h4>
          <div class="form-inline">
              <select name="coin" class="form-control" ng-model="walletAssets.selectedCoin"
                ng-options="currency as currency.name for currency in currencyList"
                ng-change="setBalance()" ng-init="setBalance()" disabled>
                <option value=""> -- Choose Coin -- </option>
              </select>
            </div> 
          <h6 class="text-justify"> To participate on this crowdsale, you must send this specific coin.</h6> 
          <h4 class="text-justify" >Send from address:</h4>
          <div class="form-inline">
             <select name="sender" class="form-control" ng-model="walletAssets.selectedAddress"
                ng-options="address for address in addressList"
                ng-change="setBalance()" ng-init="setBalance()">
                <option value=""> -- Choose Address -- </option>
              </select>
            </div>
        </div>
      </div>
        <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"> Send funds to:</span>
            <input name="reciever" type="text" ng-model="sendTo" class="form-control" disabled>

          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"> Amount to send (in {{selectedCoin.symbol}}): </span>
              <input name="amount" type="number" class="form-control" 
              ng-model="sendAmount" step="{{tokenStep}}" min="{{tokenMin}}" max="{{tokenMax}}" ensure-integer ensure-over="sendAmount" ensure-if="!selectedCoin.divisible">
            <span class="input-group-addon" > 
              Available: {{balanceData[0]}} {{selectedCoin.symbol}}</span>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"> Transaction/Miner fees (in BTC): </span>
            <input name="fees" type="number" step="0.00000001" ng-model="minerFees" class="form-control" 
            placeholder="0.0001 minimum" required>
            <span class="input-group-addon" > 
              Available Bitcoin: {{ balanceData[1]}} BTC
              </span>
          </div>
        </div>
      </div>
        <br>
      <input class="btn btn-primary btn-lg col-xs-push-3 col-xs-6" type="submit" value="Participate">
      </form>
    </div>
    </div>
    </div>
  </div>
</div>