  <div class="col-xs-10" ng-controller="WalletTradePendingController" ng-init="getData(selectedTimeframe)">
    <div class="text-left om-title">My Offers</div>

  <div ng-show="pendingThinking">
     <!--
     <div class="col-xs-9">
          <select ng-model="selectedTimeframe"  
            ng-change="filterData(selectedTimeframe)" disabled>
          <option value="">-- choose timeframe --</option>
          <option value="86400"> 24 Hours </option>
          <option value="604800"> 1 week </option>
          <option value="2419200"> 1 month </option>
          <option value="7257600"> 3 months </option>
          </select>

          <a href=""> filter </a> 
     </div>
     -->


    <h3 ng-show="orderbook.length == 0" class="text-center">Loading...<img src="/assets/img/spinner.gif"></h3>
    <br>
    <h3 ng-hide="orderbook.length == 0"> Active Buy Offers </h3>
    <table ng-hide="orderbook.length == 0" class="table table-striped table-hover table-condensed">
      <thead>
          <tr>
            <th>Transaction hash</th>
            <th>Price per Coin </th>
            <th>Amount</th>
            <th>Total Cost</th>
            <th> Buy </th>
          </tr>
      </thead>
      <tbody>
      </tbody>

      <tr ng-repeat="transaction in filtered_buys">
        <td ng-click="setHashExplorer(transaction)"> <a href="/explorer/inspector?view={{transaction.tx_hash}}">{{transaction.tx_hash_concat}}</a></td>
        <td ng-if="transaction.formatted_price_per_coin" class="number" title="{{transaction.formatted_price_per_coin}}" ng-bind-html="transaction.formatted_price_per_coin | numeraljs: '0,0.00000000'"></td> 
        <td ng-if="transaction.formatted_amount" class="number" title="{{transaction.formatted_amount}}" ng-bind-html="transaction.formatted_amount | numeraljs: '0,0.00000000'"></td> 
        <td ng-if="transaction.bitcoin_required" class="number" title="{{transaction.bitcoin_required}}" ng-bind-html="transaction.bitcoin_required | numeraljs: '0,0.00000000'"></td> 
        <td ng-show="(transaction.tx_hash.length == 64 && transaction.payment_expired == false)">
        <button class="btn btn-primary btn-sm" ng-click="purchaseCoin(transaction)" type="submit">Purchase coin</button>
      </td>
        
        <td ng-show="(transaction.payment_expired == true)"> Offer Expired
      </td>
      </tr>

    </table>

    <h3 ng-hide="orderbook.length == 0"> Active Sell Offers</h3>
    <table ng-hide="orderbook.length == 0" class="table table-striped table-hover table-condensed">
      <thead>
          <tr>
            <th>Transaction hash</th>
            <th>Price per Coin </th>
            <th>Amount</th>
            <th>Total Cost</th>
            <th> Cancel </th>
          </tr>
      </thead>
      <tbody>
      </tbody>

      <tr ng-repeat="transaction in filtered_sells">
        <td ng-click="setHashExplorer(transaction)"> <a href="/explorer/inspector?view={{transaction.tx_hash}}">{{transaction.tx_hash_concat}}</a></td>
        <td class="number" title="{{transaction.formatted_price_per_coin}}" ng-bind-html="transaction.formatted_price_per_coin | numeraljs: '0,0.00000000'"></td> 
        <td class="number" title="{{transaction.formatted_amount}}" ng-bind-html="transaction.formatted_amount | numeraljs: '0,0.00000000'"></td> 
        <td class="number" title="{{transaction.bitcoin_required}}" ng-bind-html="transaction.bitcoin_required | numeraljs: '0,0.00000000'"></td> 
        <td><button class="btn btn-primary btn-sm" ng-click="confirmCancel(transaction)" type="submit">Cancel Offer</button></td>
      </tr>

    </table>

  </div>

  <div class="row" ng-hide="true"> <!-- debug mode is unhide -->
    <div ng-controller="WalletAssetsFormController">
    <div ng-controller="TransactionGenerationController">
    <div ng-controller="WalletSellAssetsController">
      <form name="saleForm" ng-submit="validateSaleForm()">
      <div ng-show="showErrors" class="alert alert-danger"> <strong> {{error}} </strong> </div> 
      <input class="form-control" ng-model="selectedCoin_extra" >
      <select class="form-control" ng-model="selectedAddress"
        ng-options="address for address in addressList"
        ng-change="setBalance()" ng-init="setBalance()"
        >
        <option value=""> -- Choose Address -- </option>
      </select>
      <input name="amount" type="number" ng-model="saleAmount" class="form-control" ng-init="saleAmount=0.0" required >
      <input name="ppc" type="number" ng-model="salePricePerCoin" class="form-control" ng-init="salePricePerCoin=0.0" required >
      <input name="blocks" type="number" ng-model="saleBlocks" class="form-control" ng-init="saleBlocks=10" required >
      <input name="buyerfee" type="number" ng-model="buyersFee" class="form-control" ng-init="buyersFee=0" required >
      <input name="fees" type="number" ng-model="minerFees" class="form-control" ng-init="minerFees=0.0001" min="0.0001" required >
      <span class="input-group-addon" > 
        Available Bitcoin: {{ balanceData[1]}} {{selectedCoin.symbol}}
        </span>
      <div ng-if="cancelTrig" ng-init="validateSaleForm()"></div> 
      </form>
    </div>
    </div>
    </div>
  </div>

  <div class="row" ng-hide="pendingThinking">
    <h4 ng-hide="pendingThinking">
      <a ng-click="pendingThinking = true"> <strong> < Go back </strong> </a>
    </h4>
    <div ng-controller="WalletAssetsFormController" ng-init="value=0;bitcoinValue=getBitcoinValue()">
    <div ng-controller="TransactionGenerationController">
    <div ng-controller="WalletSendAssetsController">
      <div class="row">
        <h3 class="text-center" >Send payment form</h3>
        <br>
        <div ng-show="showErrors" class="alert alert-danger"> <strong> {{error}} </strong> </div> 
      </div>
      <form name="sendForm" ng-submit="changeValue();validateForm()">
      <div class="row">
        <div class="col-xs-6">
          <h4 class="text-justify" >Send type of coin:</h4>
          <div class="form-inline">
              <select name="coin" class="form-control" ng-model="walletAssets.selectedCoin"
                ng-options="currency as currency.name for currency in currencyList"
                ng-change="setBalance()" ng-init="setBalance()" disabled>
                <option value=""> -- Choose Coin -- </option>
              </select>
            </div> 
          <h6 class="text-justify"> To complete a pending offer, you must make purchases in Bitcoin.</h6> 
          <h4 class="text-justify" >Send from address:</h4>
          <div class="form-inline">
             <select name="sender" class="form-control" ng-model="walletAssets.selectedAddress"
                ng-options="address for address in addressList"
                ng-change="setBalance()" ng-init="setBalance()" disabled>
                <option value=""> -- Choose Address -- </option>
              </select>
            </div> 
          <h6 class="text-justify">  
          Note that we allow you to only make payment from addresses with a valid private key. </h6>
        </div>
        <div class="col-xs-6">
          <h4>Blocks Remaining</h4>
          <span ng-class="{'text-primary' : remainingBlocks > 4, 'text-warning': remainingBlocks == 4, 'text-danger': remainingBlocks < 4}" tooltip="Your payment must be received within this many blocks to complete successfully">{{remainingBlocks}} blocks</span>
        </div>
      </div>
        <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"> Send funds to:</span>
            <input name="reciever" type="text" ng-model="sendTo" class="form-control" disabled>

          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"> Amount to send (in {{selectedCoin.symbol}}): </span>
              <input name="amount" type="number" class="form-control" placeholder="{{sendAmount}}" ng-disabled="true">
            <span class="input-group-addon"> Available: {{balanceData[1]}} {{selectedCoin.symbol}}</span>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"> Transaction/Miner fees (in BTC): </span>
            <input name="fees" type="number" step="0.00000001" ng-model="minerFees" class="form-control" 
            placeholder="0.0001 minimum" required>
            <span class="input-group-addon" > 
              Available Bitcoin: {{ balanceData[1]}} {{selectedCoin.symbol}}
              </span>
          </div>
          <input ng-model="marked" ng-hide="true" ng-init="marked = true" type="checkbox"> 
        </div>
      </div>
        <br>
      <input class="btn btn-primary btn-lg col-xs-push-3 col-xs-6" type="submit" value="Send Payment">
      </form>
    </div>
    </div>
    </div>
  </div>
</div>
