<div class="modal-body">
    <div class="text-left col-xs-7 modal-title">Confirm send</div><div class="text-right"><button ng-disabled="wating" class="btn btn-xs modal-cancel-btn" ng-click="cancel()">cancel | <span class="glyphicon glyphicon-remove"></span></button></div>
    <table>
        <tr><td height="30px"></td></tr>
        <tr>
        <td width="103px" height="30px" class="description-title">Token:</td><td class="description-text">{{getDisplayedAbbreviation()}}</td>
        </tr>
       
        <tr>
        <td width="103px" height="30px" class="description-title">Amount:</td><td class="description-text">{{convertSatoshiToDisplayedValue(sendAmount)}}</td>
        </tr>
       
        <tr>
        <td width="103px" height="30px" class="description-title">From:</td><td class="description-text">{{sendFrom}}</td>
        </tr>
        
        <tr>
        <td width="103px" height="30px" class="description-title">To:</td><td class="description-text">{{sendTo}}</td>
        </tr>
    </table>
    <hr>
    <span class="send-fee">Transaction fees: {{convertSatoshiToDisplayedValue(totalCost, true)}} bitcoins</span>
<div class="modal-footer footer-div">
 <br>
    <div class="row" ng-hide=transactionSuccess>
       <div ng-hide="btcValueChanged"> 
        <button ng-disabled="clicked" class="btn btn-lg modal-action-btn" ng-click="ok()">
            <img src="/assets/img/SendIcon_normal.png" class="action-img-normal"><img src="/assets/img/SendIcon_roll.png" class="action-img-roll"> Send funds
        </button>
        <img class="" src="/assets/img/spinner.gif" ng-show="waiting">
       </div>
    </div>
    <div class="row text-left" ng-show="btcValueChanged">
        <p class="description-text">choose what do you want to do:</p>
        <br>
        <button class="btn btn-lg modal-action-btn" ng-click="sendByValue()" style="font-size: 15px;">Send ${{value}}</button>
        <button class="btn btn-lg modal-action-btn" ng-click="sendByAmount()" style="font-size: 15px;">Send {{convertSatoshiToDisplayedValue(sendAmount)}} BTC</button>
        <button class="btn btn-lg modal-action-btn" ng-click="goBack()" style="font-size: 15px;">Go back and change the amount.</button>
    </div>
      <br>
    <div class="row">
      <div ng-show="transactionSuccess">
        <h4 class="pull-left" style="color:green"> Funds were sent successfully, 
        check your transaction <a target="_blank" href="{{url}}">here.</a></h4>
        <a href="/wallet/overview"><button class="btn btn-success" ng-click="cancel()">Close</button></a>
      </div>
      <div ng-show="transactionError">
        <h4 class="col-xs-12" style="color:red;"> Funds could not be sent: 
         {{error}} </h4>
      </div>
    </div>
</div>