<div class="modal-body">
    <h3 class="text-center"> Confirm Crowdsale Creation </h3>
      <h4>You'll create a crowdsale with this data:</h4>
      <ul>
        <li>Name: {{propertyName}}</li>
        <li>Description: {{propertyData}}</li>
        <li>Divisible: {{divisible}}</li>
        <li>Category: {{propertyCategory}}</li>
        <li>Subcategory: {{propertySubcategory}}</li>
        <li>Url: <a href="{{propertyUrl}}" target="_blank">{{propertyUrl}}</a></li>
        <li>Estimated initial early bird bonus: {{earlyBirdBonus}}%</li>
        <li>Percentage for issuer: {{percentageForIssuer}}%</li>
        <li>Deadline: {{deadline}}</li>
        <li>Issuer address: <a href="https://blockchain.info/address/{{selectedAddress}}?sort=0" target="_blank">{{selectedAddress}}</a></li>
        <li>Issuance rates: 
          <ul>
            <li ng-repeat="currency in currenciesDesired">
              {{currency.numberOfTokens}} tokens per {{currency.selectedCurrency.propertyName}} ({{currency.selectedCurrency.currencyId}}) invested
            </li>
          </ul>
        </li>
      </ul>
  <p><br>
  If the above is correct, please press Start the Crowdsale.
  </p>
  <div ng-if="signOffline">
    <hr>
    <p class="text-warning">
      You will need to sign this transaction offline and come back to broadcast it and finish the send.
    </p>
    <pre collapse="!readyToSign">{{unsignedTransaction}}</pre>
  </div>
</div>
<div class="modal-footer">
    <div class="row" ng-hide="transactionSuccess || readyToSign">
    <button ng-disabled="clicked" class="btn btn-primary" ng-click="ok()">Start the Crowdsale</button>
    <button ng-disabled="wating" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <img class="" src="/assets/img/spinner.gif" ng-show="waiting">
    </div>
      <br>
    <div class="row">
      <div ng-show="readyToSign">
        <h4 class="pull-left" style="color:green;">Your transaction was generated successfully, now save the text above and sign it on your Armory offline computer. Come back with the signed text to broadcast it.  
          </h4>
        <button ng-click="saveUnsigned(unsignedTransaction)" class="btn btn-success" ng-hide="saved">Save</button>
        <a href="/wallet/overview">
          <button ng-click="close()" class="btn" ng-class="{'btn-danger':unsaved,'btn-success':saved}">Close</button>
        </a>
      </div>
      <div ng-show="transactionSuccess">
        <h4 class="pull-left" style="color:green"> Crowdsale started successfully, 
        check your transaction <a target="_blank" href="{{url}}">here.</a></h4>
        <a href="/wallet/overview"><button class="btn btn-success" ng-click="cancel()">Close</button></a>
      </div>
      <div ng-show="transactionError">
        <h4 class="col-xs-12" style="color:red;"> Crowdsale could not be started: 
         {{error}} </h4>
      </div>
    </div>
</div>
