<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('wallet')>
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-10">
  <br>
  <br>
  <div class="panel panel-default">
    <h3 class="text-center panel-body"> Wallet History </h3>
  </div>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    This page contains your wallet history. You can click on transactions to view them too, later.
  </div>

  <div ng-controller="WalletHistoryController" ng-init="getData(selectedAddress)">
    
      <h4> Full Wallet History for
        <select ng-model="selectedAddress" ng-options="addrObject.address as addrObject.address for addrObject in addresses" 
          ng-change="getData(selectedAddress)">
        <option value="">-- choose address --</option>
        </select> 
      </h4>
    
    <table class="table table-striped table-hover table-condensed">
      <thead>
          <tr>
            <th>Transaction hash</th>
            <th>Currency</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Transaction time</th>
          </tr>
      </thead>
      <tbody>
      </tbody>

      <tr ng-repeat="transaction in history track by $index">
        <td ng-click="setHashExplorer(transaction)"> <a href="/explorer/inspector?view={{transaction.tx_hash}}">{{transaction.tx_hash_concat}}</a></td>
        <td>{{transaction.currency_str}}</td>
        <td>{{transaction.tx_type_str}}</td>
        <td>{{transaction.formatted_amount}}</td>
          <td>{{transaction.tx_time | date:'dd MMM HH:mma Z'}}</td>
      </tr>
    </table>
  </div>


</div>
