<div class="col-xs-12" ng-controller="WalletSellAssetsController">
  <div class="row">
    <h3 class="text-center" >New Sale Offer</h3>
    <br>
    <div ng-show="showErrors" class="alert alert-danger">{{error}}</div> 
  </div>
  <form name="saleForm" ng-submit="validateSaleForm(currencyUnit)">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="text-justify" >Choose coin:</h4>
      <div class="form-inline">
        <select class="form-control" ng-model="$parent.selectedCoin"
          ng-options="currency as currency.name for currency in currencySaleList"
          ng-change="setBalance()" ng-init="setBalance()" ng-disabled="true">
          <option value=""> -- Choose Coin -- </option>
        </select>
      </div> 
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h4 class="text-justify" >Sell from address:</h4>
      <div class="form-inline">
          <select class="form-control" ng-model="$parent.selectedAddress"
            ng-options="address for address in addressList"
            ng-change="setBalance()" ng-init="setBalance()">
            <option value=""> -- Choose Address -- </option>
          </select>
      </div> 
    </div>
    <div class="col-xs-6" style="padding-top:39px;"> 
      <button class="btn btn-primary btn-md" 
      ng-click="currencyUnit = 'stom'; amountUnit = 'mtow'; saleAmount = saleAmount * 1000; salePricePerCoin = salePricePerCoin * 100; buyersFee = buyersFee * 1000; minerFees = minerFees * 1000" ng-show="currencyUnit == 'stow' && amountUnit == 'wtow'" type="button">Convert to m{{selectedCoin.symbol}} </button>
      <button class="btn btn-primary btn-md" 
      ng-click="currencyUnit = 'stow'; amountUnit = 'wtow'; saleAmount = saleAmount / 1000; salePricePerCoin = salePricePerCoin / 100; buyersFee = buyersFee / 1000; minerFees = minerFees / 1000" ng-show="currencyUnit == 'stom' && amountUnit == 'mtow'" type="button">Convert to whole {{selectedCoin.symbol}} </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <div class="input-group">
        <span class="input-group-addon"> Number of coin to sell (in {{currencyUnit[currencyUnit.length-1]}}{{selectedCoin.symbol}}): </span>
          <input name="amount" type="number" step="{{amountUnit == 'wtow' ? 0.001 : 1}}" ng-model="saleAmount" class="form-control" 
          placeholder="{{{ balance: 100000, symbol: currencyUnit} | cryptocurrency}}" required>
        <span class="input-group-addon" > 
          Available: {{{ balance: balanceData[0], symbol: currencyUnit } | cryptocurrency}} 
          {{currencyUnit[currencyUnit.length-1]}}{{selectedCoin.symbol}}</span>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"> Price per coin (in BTC/{{ selectedCoin.symbol }}): </span>
        <input name="ppc" type="number" step="{{amountUnit == 'wtow' ? 0.01 : 1}}" ng-model="salePricePerCoin" class="form-control" 
          placeholder="{{{ balance: 1000000, symbol: currencyUnit} | cryptocurrency}}" required>
        <span class="input-group-addon" > 
          Total Sale Amount: {{ ({ balance: (saleAmount || 0), symbol: amountUnit } | cryptocurrency)*(salePricePerCoin || 0)}}
          BTC</span>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">
          Time given to buyer to pay: 
          <a href=""
            tooltip="Time in blocks the buyer has to complete his purchase (1 block approx. 10 minutes)"
            tooltip-append-to-body="true"
            tooltip-placement="left" 
            tooltip-trigger="click"> <strong>(?)</strong>
          </a>
        </span>
        <input name="blocks" type="number" step="1" ng-model="saleBlocks" class="form-control" placeholder="10 blocks" required>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"> Buyer's fee (in {{currencyUnit[currencyUnit.length-1]}}{{selectedCoin.symbol}}): </span>
        <input name="buyerfee" type="number" step="{{amountUnit == 'wtow' ? 0.0001 : 0.1}}" ng-model="buyersFee" class="form-control" 
        placeholder="{{{ balance: 10000, symbol: currencyUnit } | cryptocurrency}} minimum" required>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"> Miner fees (in {{currencyUnit[currencyUnit.length-1]}}BTC): </span>
        <input name="fees" type="number" step="{{amountUnit == 'wtow' ? 0.0001 : 0.1}}" ng-model="minerFees" class="form-control" 
        placeholder="{{{ balance: 10000, symbol: currencyUnit } | cryptocurrency}} minimum" step="0.0001" required>
        <span class="input-group-addon" > 
          Available Bitcoin: {{ { balance: balanceData[1], symbol: currencyUnit } | cryptocurrency}}
          {{currencyUnit[currencyUnit.length-1]}}BTC
          </span>
      </div>
    </div>
  </div>
    <br>
  <input class="btn btn-primary btn-lg col-xs-push-3 col-xs-6" type="submit" value="Create Sale">
  </form>
</div>
