<ul class="list-unstyled">
<br>
<br>
<li><a class="" href="/wallet/overview"><span class="glyphicon glyphicon-dashboard"></span> Overview </a>
<br>
<br>
<li><a class="" href="/wallet/addresses"><span class="glyphicon glyphicon-list"></span> My Addresses </a>
<br>
<br ng-show="hasAddressesWithPrivkey">
<li ng-show="hasAddressesWithPrivkey"><a class="" href="/wallet/send"><span class="glyphicon glyphicon-transfer"></span> Send </a></li>
<br ng-show="hasAddressesWithPrivkey">
<li ng-show="hasAddressesWithPrivkey"><a class="" href="/wallet/trade"><span class="glyphicon glyphicon-globe"></span> Trade </a></li>
<br ng-show="hasAddressesWithPrivkey">
<li ng-show="hasAddressesWithPrivkey"><a class="" href="/wallet/pending"><span class="glyphicon glyphicon-flag"></span> Pending </a> </li>
<br>
<li ng-show="hasAddresses"><a class="" href="/wallet/history"><span class="glyphicon glyphicon-time"></span> History </a></li>
</ul>

