<br>
  <h4>
    <strong>Disclaimer:</strong>
    The current alpha wallet is available for initial testing – be advised that this 
    is changing very rapidly by a daily basis, and so the live product is still very 
    different from the vision – our job over the next weeks and months is ramping up this vision.
  </h4>
  <h4>
    Please don’t send any real money to this wallet yet, but just get a sense of the UI, 
    look at the code, and report bugs. The server that this wallet is hosted on currently 
    is a temporary testing server and should not receive any actual BTC/MSC deposits!
  </h4>
