  <div class="panel panel-default">
    <h3 class="text-center panel-body"> Trade Assets </h3>
  </div>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      This is the trading page, where you can start submitting orders or send money to others.
  </div>
<br>
  <h4>
    The current alpha wallet is available for initial testing – be advised that this 
    is changing very rapidly by a daily basis, and so the live product is still very 
    different from the vision – our job over the next weeks and months is ramping up this vision.
  </h4>
<br>
  <h4>
    Please don’t send any real money to this wallet yet, but just get a sense of the UI, 
    look at the code, and report bugs. The server that this wallet is hosted on currently 
    is a temporary testing server and should not receive any actual BTC/MSC deposits!
  </h4>
<br> 
  <h4>new Send Transactions? Sale Offer? Buy Offers?, how it is used, and who can send to whom /meta </h4>
