<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init="setView('explorer')">
  <div ng-include="templates['sidecar']"></div>
</div>

<div ng-controller="WalletAssetsFormController">
  <div ng-controller="TransactionGenerationController">
    <div class="col-xs-10" ng-controller="CrowdsaleIssuanceController">
      <br>
      <br>
      <div class="row">
        <h2 class="col-xs-9">Start a Crowdsale</h2>
        <div class="col-xs-3" style="padding-top: 20px">
          <div class="input-group pull-right">
            <span class="input-group-addon"> Environment: </span>
            <select name="ecosystem" class="form-control" ng-model="ecosystem" ng-change="setEcosystem()" disabled="">
              <option value="1"> Production </option>
              <option value="2"> Testing </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div ng-show="showErrors" class="alert alert-danger">
          <strong> {{error}} </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <form name="issuanceForm" ng-submit="validateIssuanceForm()">
            <div class="row">
              <h3 class="col-xs-12" style="color:lightgrey">Smart Property details</h3>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <div class="input-group">
                    <span class="input-group-addon"> Name: </span>
                    <input name="name" type="text" ng-model="propertyName" class="form-control" placeholder="ex: BobCoin" ng-maxlength="255" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <div class="input-group">
                    <span class="input-group-addon"> Divisible: </span>
                    <select name="type" class="form-control" ng-model="propertyType" required>
                      <option value="2"> Yes </option>
                      <option value="1"> No </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <combobox name="category" model-value="propertyCategory" placeholder="Select a category" label="Category:"
                  option-list="categories" value-selected="loadSubcategories(category)"></combobox>
                </div>
                <div class="col-xs-6">
                  <combobox name="subcategory" model-value="propertySubcategory" placeholder="Select a subcategory" label="Subcategory:"
                  option-list="subcategories"></combobox>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"> Property Url: </span>
                <input name="url" type="url" ng-model="propertyUrl" class="form-control" placeholder="Enter a web address for the user to get more info on the Smart Property" ng-maxlength="255" >
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" ng-model="propertyData" ng-maxlength="255" placeholder="Enter Smart Property description."></textarea>
            </div>
            <!--
            <br ng-hide="isNewProperty">
            <div class="input-group" ng-hide="isNewProperty">
            <span class="input-group-addon"> Previous Property Id: </span>
            <input name="previous" type="text" ng-model="previousPropertyId" class="form-control" placeholder="0 for a new smart property (or the existing property ID if replacing or appending)" ng-required="!isNewProperty">
            </div>
            <br>-->
            <div class="row">
              <h3 class="col-xs-12" style="color:lightgrey">Crowdsale details</h3>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6" style="padding-top: 34px">
                  <div class="input-group">
                    <span class="input-group-addon">Deadline: </span>
                    <input type="text" class="form-control" datepicker-append-to-body="true" datepicker-popup="{{format}}" ng-model="deadline"
                    is-open="opened" min-date="today" datepicker-options="dateOptions"  ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button> </span>
                  </div>
                </div>
                <div class="col-xs-6">
                  <timepicker ng-model="deadlineTime" ng-change="setDeadlineTime(deadlineTime)"></timepicker>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Percentage for issuer: </span>
                <input name="percentage" type="number" step="1" ng-model="percentageForIssuer" class="form-control" placeholder="For example: 10" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Initial early bird bonus percentage: </span>
                <input name="early" type="number" step="1" ng-model="earlyBirdBonus" class="form-control" placeholder="For example: 25" required>
              </div>
            </div>
            <div class="form-group">
              <div class="panel panel-default" ng-repeat="investment in currenciesDesired">
                <div class="panel-body form-inline">
                  <div class="form-group col-xs-5">
                    <input name="amount" type="number" step="1" ng-model="investment.numberOfTokens" class="form-control" placeholder="# of tokens" required>
                  </div>
                  <div class="form-group col-xs-7">
                    <label>per</label>
                    <select class="form-control" name="currencyDesired" ng-model="investment.selectedCurrency"
                    ng-options="currency as formatCurrencyDisplay(currency) for currency in investment.availableTokens"
                    ng-change="setAvailableTokens(investment)"></select>
                    <label>invested</label>
                  </div>
                  <button type="button" class="close" aria-hidden="true" ng-hide="singleCurrency" ng-click="removeCurrencyDesired(investment)">
                    &times;
                  </button>
                </div>
              </div>
            </div>
            <div class="panel panel-default" ng-hide="true">
              <div class="panel-body">
                <button type="button" class="btn btn-link" ng-click="addCurrencyDesired()">
                  + Add investment currency
                </button>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"> Issuance Address: </span>
                <select name="issuer" class="form-control" ng-model="walletAssets.selectedAddress"
                ng-options="address for address in addressList"
                ng-change="setBalance()" ng-init="setBalance()" required>
                  <option value=""> -- Choose Address -- </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"> Miner fees ( BTC ): </span>
                <input name="fees" type="number" ng-model="minerFees" class="form-control"
                placeholder="0.0001 suggested minimum" step="0.0001" min="0.0001" required>
                <span class="input-group-addon" > Available Bitcoin: {{ balanceData[1] }} BTC </span>
              </div>
            </div>
            <div class="row">
              <input class="btn btn-primary btn-lg col-xs-push-3 col-xs-6" type="submit" value="Start Crowdsale" ng-click="validateForm()">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
