<ul class="list-unstyled">
<strong> # Omniwallet Sidecar #</strong></a>
<br>
<br>
<li><a class="" href="/wallet/overview"> Overview </a>
<br>
<br>
<li><a class="" href="/wallet/addresses"> My Addresses </a>
<br>
<br ng-show="hasAddressesWithPrivkey">
<li ng-show="hasAddressesWithPrivkey"><a class="" href="/wallet/send"> Send </a></li>
<br ng-show="hasAddressesWithPrivkey">
<li ng-show="hasAddressesWithPrivkey"><a class="" href="/wallet/trade"> Trade </a></li>
<br ng-show="hasAddressesWithPrivkey">
<li ng-show="hasAddressesWithPrivkey"><a class="" href="/wallet/pending"> Pending </a> </li>
<br>
<li ng-show="hasAddresses"><a class="" href="/wallet/history"> History </a></li>
</ul>

