<div class="col-xs-10" ng-controller="AccountSettingsController">
  <div class="row">
    <div class="text-left om-title" >Account Settings</div>
  </div>
  <form name="myForm" class="form-horizontal">

    <div class="form-group">
      <label class="col-xs-3 control-label">Wallet ID: </label>
      <div class="col-xs-4"><p class="form-control-static">{{uuid}}</p></div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Wallet Password:</label>
      <div class="col-xs-6"><a href="" ng-click="changePassword()"><p class="form-control-static">Click Here To Change Your Wallet Password</p></a></div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">
        <a href=""
          tooltip="(Optional) Your email can be used to recover your Wallet ID if you lose/misplace it and eventually for notifications concerning
          wallet activity."
          tooltip-append-to-body="true" tooltip-placement="top"> <strong>Wallet Email:</strong></a>
      </label>
      <div class="col-xs-4">
        <input class="form-control" type="email" ng-model="email">
        <div collapse="!myForm.$error.email"><p class="alert-danger" align="center">Please enter a valid email</p></div>
      </div>
    </div> 

    <div class="form-group">
      <label class="col-xs-3 control-label">
          <a href=""
          tooltip="Choose the preffered currency you wish all balance information in your wallet to be diplayed in."
          tooltip-append-to-body="true" tooltip-placement="top"> <strong>Wallet Currency:</strong></a>
      </label>
      <div class="col-xs-4"><select class="form-control" data-ng-options="o.value as label(o.label,o.value) for o in currencylist" data-ng-model="selectedCurrency"></select></div>
    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">
          <a href=""
          tooltip="There are two types of ecosystems in the Masterprotocol, Production and Test. Enabling this option will display both in your wallet.
          Note: Disabling this option will not prevent you from receiving test ecosystem tokens. It will only filter it from your wallet display."
          tooltip-append-to-body="true" tooltip-placement="top"> <strong>Display Test Ecosystem:</strong></a>
        </label>
        <div class="col-xs-4">
          <p class="form-control-static">
            <input type="radio" ng-model="showtesteco" value="true" />Yes
            <input type="radio" ng-model="showtesteco" value="false" />No (Default)
          </p>
        </div>
    </div>
<!--
    <div class="form-group">
      <label class="col-xs-3 control-label">
          <a href=""
          tooltip="MasterProtocol Transactions are encoded into bitcoin multisig outputs which have the smallest amount of BTC needed associated with them. 
          Normally your sending address is the redeamer. Enabling this option will instead allows the developers to be the redeamers."
          tooltip-append-to-body="true" tooltip-placement="top"> <strong>Support the Developers:</strong></a>
      </label>
      <div class="col-xs-4">
        <p class="form-control-static">
          <input type="radio" ng-model="donate" value="true" />Yes
          <input type="radio" ng-model="donate" value="false" />No
        </p>
      </div>
    </div>
-->
    <div class="form-group">
      <label class="col-xs-3 control-label">
        <a href=""
          tooltip="Some DEx offers can no longer be completed because the cost to purchase the remaining tokens is less than the minimium
          amount allowed by the Bitcoin network. This option filters them out of the display list."
          tooltip-append-to-body="true" tooltip-placement="top"> <strong>Filter DEx dust level offers:</strong></a>
      </label>
      <div class="col-xs-4">
        <p class="form-control-static">
          <input type="radio" ng-model="filterdexdust" value="true" />Yes (Default)
          <input type="radio" ng-model="filterdexdust" value="false" />No
        </p>
      </div>
    </div>

    <button type="button" class="btn btn-primary" ng-model="singleModel" ng-click="save()" ng-disabled="myForm.$error.email">Save Preferences</button>
  </form>
  <br> 
  <div collapse="!saved">
    <div class="col-xs-8 alert alert-success alert-dismissable">
     <button type="button" class="close" aria-hidden="true" ng-click="saved=!saved">&times;</button>
     <strong>Success:</strong> Your Wallet has been updated. <br />
    </div>
  </div>
  <div collapse="!error">
    <div class="col-xs-8 alert alert-danger alert-dismissable">
     <button type="button" class="close" aria-hidden="true" ng-click="error=!error">&times;</button>
     <strong>Error:</strong> We seem to have encountered a problem updating your Wallet. <br />
             Please logout, close your browse, wait a minute then log back in and try again.<br />
    </div> 
  </div>

<br><br>
</div>
