<div class="om-container">
    <div class="text-left om-title">Addresses</div>
  <div ng-if="balances.invalidAddresses.length" class="alert alert-danger">
     <h3>Invalid Addresses in Your Wallet</h3>
     <table class="table table-striped table-hover table-condensed">
        <tr ng-repeat="address in balances.invalidAddresses">
          <td>{{address}}</td>
          <td><button class="btn btn-default" ng-click="openDeleteConfirmForm( address )">X</button></td>
       </tr>
    </table>
    <p>Maybe you should try <a href='' ng-click="openAddForm( 'BTC' )">adding it again?</a></p>
  </div>
  <div ng-include="templates['add_address']"></div>

  <div ng-if="balances.balances" ng-repeat="currency in balances.balances">
   <div ng-if="currency.balance>0 || currency.symbol == 'BTC'" >
    <div class="row">
      <div class="col-xs-4">
        <span class="currency-name">{{currency.name ? currency.name : currency.symbol}}</span>
      </div>
      <div class="col-xs-4">
          <span ng-if="currency.property_type != undefined && currency.property_type == 1" class="currency-total number" title="{{currency.balance}}" ng-bind-html="currency.balance | numeraljs: '0,0'"></span>
          <span ng-if="currency.property_type != undefined && currency.property_type == 2" class="currency-total number" title="{{currency.balance}}" ng-bind-html="currency.balance | numeraljs: '0,0.00000000'"></span>
          <span ng-if="currency.property_type == undefined" class="currency-total number" title="{{currency.balance}}"><span ng-bind-html="currency.balance | numeraljs: '0,0.00000000'"></span> {{currency.symbol}}</span>
            <span ng-show="currency.pendingneg<0" tooltip="This balance reflects Omni's pending transaction(s) with a total outgoing amount of {{currency.pendingneg*-1}} {{currency.name ? currency.name : currency.symbol}}">
              <a href="/about/faq" target="_new"><span class="glyphicon glyphicon-export"></span></a></span>
            <span ng-show="currency.pendingpos>0" tooltip="Oh Boy, Someone sent you something. When it confirms this balance will be updated">
              <br><a href="/about/faq" target="_new"><span class="glyphicon glyphicon-import"></span></a> (+<span ng-bind-html="currency.pendingpos | numeraljs: '0,0.00000000'"></span> Unconfirmed)</span>
      </div>
      <div class="col-xs-3">
        <span class="currency-value number" title="{{currency.value}}" ng-bind-html="currency.value | numeraljs: '$0,0.00':true"></span>
      </div>
    </div>
    <div class="row">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th>Address</th>
            <th class="text-center">Balance</th>
            <th class="text-center">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in currency.addresses">
            <td ng-show="{{item.offline}}"><img ng-src="{{item.qr}}" ng-show="showqr">
              <a href ng-click="showqr = !showqr"><span class="glyphicon glyphicon-qrcode" tooltip="Click to show/hide Address QR Code"></span></a>
              <span>{{item.address}}</span>
              <a href="/about/faq" target="_new"><span class="glyphicon glyphicon-off" tooltip="This is an Armory Offline address. (Click for more info)"></span></a></td>
            <td ng-show="{{item.private}}"><img ng-src="{{item.qr}}" ng-show="showqr">
              <a href ng-click="showqr = !showqr"><span class="glyphicon glyphicon-qrcode" tooltip="Click to show/hide Address QR Code"></span></a>
              <span>{{item.address}}</span>
              <a href="/about/faq" target="_new"><span class="glyphicon glyphicon-lock" tooltip="Your Wallet has the Private key for this address. (Click for more info)"></span></a></td>
            <td ng-hide="{{item.private}} || {{item.offline}}"><img ng-src="{{item.qr}}" ng-show="showqr">
              <a href ng-click="showqr = !showqr"><span class="glyphicon glyphicon-qrcode" tooltip="Click to show/hide Address QR Code"></span></a>
              <span>{{item.address}}</span></td>

            <td ng-if="currency.property_type != undefined && currency.property_type == 1" class="currency number" title="{{item.balance}}"><span ng-bind-html="item.balance | numeraljs: '0,0'"></span>
                 <span ng-show="item.pendingneg<0" tooltip="This balance reflects Omni's pending transaction(s) with a total outgoing amount of {{item.pendingneg*-1}} {{currency.name ? currency.name : currency.symbol}}">
                    <a href="/about/faq" target="_new"><span class="glyphicon glyphicon-export"></span></a></span>
                 <span ng-show="item.pendingpos>0" tooltip="Oh Boy, Someone sent you something from Omni. When it confirms this balance will be updated">
                    <br><a href="/about/faq" target="_new"><span class="glyphicon glyphicon-import"></span></a> (+<span ng-bind-html="item.pendingpos | numeraljs: '0,0.00000000'"></span> Unconfirmed)</span></td>

            <td ng-if="currency.property_type != undefined && currency.property_type == 2" class="currency number" title="{{item.balance}}"><span ng-bind-html="item.balance | numeraljs: '0,0.00000000'"></span>
                 <span ng-show="item.pendingneg<0" tooltip="This balance reflects Omni's pending transaction(s) with a total outgoing amount of {{item.pendingneg*-1}} {{currency.name ? currency.name : currency.symbol}}">
                    <a href="/about/faq" target="_new"><span class="glyphicon glyphicon-export"></span></a></span>
                 <span ng-show="item.pendingpos>0" tooltip="Oh Boy, Someone sent you something from Omni. When it confirms this balance will be updated">
                    <br><a href="/about/faq" target="_new"><span class="glyphicon glyphicon-import"></span></a> (+<span ng-bind-html="item.pendingpos | numeraljs: '0,0.00000000'"></span> Unconfirmed)</span></td>

            <td ng-if="currency.property_type == undefined" class="currency number" title="{{item.balance}}"><span ng-bind-html="item.balance | numeraljs: '0,0.00000000'"></span>
                 <span ng-show="item.pendingneg<0" tooltip="This balance reflects Omni's pending transaction(s) with a total outgoing amount of {{item.pendingneg*-1}} {{currency.name ? currency.name : currency.symbol}}">{{currency.symbol}}
                    <a href="/about/faq" target="_new"><span class="glyphicon glyphicon-export"></span></a></span>
                 <span ng-show="item.pendingpos>0" tooltip="Oh Boy, Someone sent you something from Omni. When it confirms this balance will be updated">
                    <br><a href="/about/faq" target="_new"><span class="glyphicon glyphicon-import"></span></a> (+<span ng-bind-html="item.pendingpos | numeraljs: '0,0.00000000'"></span> Unconfirmed)</span>
                 <span ng-show="item.pendingpos==0 && item.pendingneg==0">{{currency.symbol}}</span></td>

            <td class="currency number" title="{{item.value}}" ng-bind-html="item.value | numeraljs: '$0,0.00':true"></td>
            <td>
          		<div class="dropdown">
          		<a data-toggle="dropdown" href="#" class="btn btn-info btn-xs">Options</a>
          		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu9">
                              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="openDeleteConfirmForm( item )" >Remove from Wallet</a></li>
                              <li ng-show="{{item.offline}}" role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="openBroadcastTransactionForm(item.address)" >Broadcast Transaction</a></li>
          		  </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
   </div>
  </div>
</div>
