<div ng-controller="WalletAssetsFormController">
  <div ng-controller="TransactionGenerationController">
    <div class="col-xs-10" ng-controller="PropertyIssuanceController">
      <h4>
        <a href="/explorer/assets"> <strong> &lt; Go back </strong> </a>
      </h4>
      <div class="row">
        <div class="row">
         <div class="col-xs-9 text-left om-title">Create Smart Property</div>
          <div class="col-xs-3" style="padding-top: 20px">
          <div class="input-group pull-right">
            <span class="input-group-addon"> Environment: </span>
            <select name="ecosystem" class="form-control" ng-model="ecosystem" ng-change="setEcosystem()" disabled="">
              <option value="1"> Production </option>
              <option value="2"> Testing </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <form name="issuanceForm" ng-submit="validateIssuanceForm()">
            <div class="row">
              <h3 class="col-xs-12" style="color:lightgrey">Smart Property details</h3>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <div class="input-group">
                    <span class="input-group-addon"> Name: </span>
                    <input name="name" type="text" ng-model="propertyName" class="form-control" placeholder="ex: BobCoin" maxlength="255" ng-maxlength="255" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <div class="input-group">
                    <span class="input-group-addon"> Divisible: </span>
                    <select name="type" class="form-control" ng-model="propertyType" ng-change="typeChanged()" required>
                      <option value="2"> Yes </option>
                      <option value="1"> No </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <combobox name="category" model-value="propertyCategory" placeholder="Select a category" label="Category:"
                  option-list="categories" value-selected="loadSubcategories(category)"></combobox>
                </div>
                <div class="col-xs-6" ng-show="propertyCategory != ''">
                  <combobox name="subcategory" model-value="propertySubcategory" placeholder="Select a subcategory" label="Subcategory:"
                  option-list="subcategories"></combobox>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"> Property Url: </span>
                <input name="url" type="url" ng-model="propertyUrl" class="form-control" placeholder="Enter a web address for the user to get more info on the Smart Property" maxlength="255" ng-maxlength="255" >
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" ng-model="propertyData" maxlength="255" ng-maxlength="255" placeholder="Enter Smart Property description." rows="3"></textarea>
            </div>
            <!--
            <br ng-hide="isNewProperty">
            <div class="input-group" ng-hide="isNewProperty">
            <span class="input-group-addon"> Previous Property Id: </span>
            <input name="previous" type="text" ng-model="previousPropertyId" class="form-control" placeholder="0 for a new smart property (or the existing property ID if replacing or appending)" ng-required="!isNewProperty">
            </div>
            <br>-->
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"> Number of Tokens: </span>
                <input name="amount" type="number" step="1" ng-model="numberProperties" step="{{tokenStep}}" min="{{tokenMin}}" max="{{tokenMax}}" ensure-integer ensure-over="numberProperties" ensure-if="!isDivisible()" class="form-control" placeholder="Enter desired amount" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"> Issuance Address: </span>
                <select name="issuer" class="form-control" ng-model="walletAssets.selectedAddress"
                ng-options="address for address in addressList"
                ng-change="setBalance()" ng-init="setBalance()" required>
                  <option value=""> -- Choose Address -- </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"> Miner fees ( BTC ): </span>
                <input name="fees" type="number" ng-model="minerFees" class="form-control"
                placeholder="0.0001 suggested minimum" step="0.0001" min="0.0001" ng-change="calculateTotal(minerFees)" required>
                <span class="input-group-addon" > Available Bitcoin: {{ balanceData[1] }} BTC </span>
              </div>
            </div>
            <div class="row">
              <input class="btn btn-primary btn-lg col-xs-push-3 col-xs-6" type="submit" value="Create" ng-click="validateForm()">
            </div>
          </form>
          <div class="row">
            <div ng-show="showErrors" class="alert alert-danger">
              <strong> {{error}} </strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

