<div class="col-xs-12" ng-controller="WalletTradeAssetsController">
  <div class="row">
    <h3 class="text-center" >New Sale Offer</h3>
    <br>
    <div ng-show="showErrors" class="alert alert-danger">{{error}}</div> 
  </div>
  <form name="saleForm" ng-submit="validateSaleForm(currencyUnit)">
  <div class="row">
    <div class="col-xs-6">
      <h4 class="text-justify" >Sell type of coin:</h4>
      <div class="form-inline">
          <select class="form-control" ng-model="selectedCoin"
            ng-options="currency for currency in currencyList"
            ng-change="setBalance()" ng-init="setBalance()">
            <option value=""> -- Choose Coin -- </option>
          </select>
        </div> 
      <h6 class="text-justify"> Please make sure this is the currency you intend to trade with.</h6> 
      <h4 class="text-justify" >Sell from address:</h4>
      <div class="form-inline">
          <select class="form-control" ng-model="selectedAddress"
            ng-options="address for address in addressList"
            ng-change="setBalance()" ng-init="setBalance()">
            <option value=""> -- Choose Address -- </option>
          </select>
        </div> 
      <h6 class="text-justify"> Please make sure this is the address you are sending from.<br> 
      Note that we allow you to only send from addresses with a valid private key. </h6>
    </div>
    <div class="col-xs-6"> 
      <br><br><br><br><br><br><br><br><br>
      <button class="btn btn-primary btn-md" 
      ng-click="currencyUnit = 'stom'; amountUnit = 'mtow'" type="button">Convert to m{{selectedCoin}} </button>
      <button class="btn btn-primary btn-md" 
      ng-click="currencyUnit = 'stow'; amountUnit = 'wtow'" type="button">Convert to whole {{selectedCoin}} </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <div class="input-group">
        <span class="input-group-addon"> Number of coin to sell (in {{currencyUnit[currencyUnit.length-1]}}{{selectedCoin}}): </span>
          <input name="amount" type="number" ng-model="saleAmount" class="form-control" 
          placeholder="{{{ balance: 100000, symbol: currencyUnit} | cryptocurrency}}" required>
        <span class="input-group-addon" > 
          Available: {{{ balance: balanceData[0], symbol: currencyUnit } | cryptocurrency}} 
          {{currencyUnit[currencyUnit.length-1]}}{{selectedCoin}}</span>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"> Price per coin (in BTC/{{ selectedCoin }}): </span>
        <input name="ppc" type="number" ng-model="salePricePerCoin" class="form-control" 
          placeholder="{{{ balance: 1000000, symbol: currencyUnit} | cryptocurrency}}" required>
        <span class="input-group-addon" > 
          Total Sale Amount: {{ ({ balance: (saleAmount || 0), symbol: amountUnit } | cryptocurrency)*(salePricePerCoin || 0)}}
          BTC</span>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">
          Time given to buyer to pay: 
          <a href=""
            tooltip="Time in blocks the buyer has to complete his purchase (1 block approx. 10 minutes)"
            tooltip-append-to-body="true"
            tooltip-placement="left" 
            tooltip-trigger="click"> <strong>(?)</strong>
          </a>
        </span>
        <input name="blocks" type="number" ng-model="saleBlocks" class="form-control" placeholder="100 blocks" required>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"> Buyer's fee (in {{currencyUnit[currencyUnit.length-1]}}{{selectedCoin}}): </span>
        <input name="buyerfee" type="number" ng-model="buyersFee" class="form-control" 
        placeholder="{{{ balance: 10000, symbol: currencyUnit } | cryptocurrency}} minimum" required>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"> Transaction/Miner fees (in {{currencyUnit[currencyUnit.length-1]}}BTC): </span>
        <input name="fees" type="number" ng-model="minerFees" class="form-control" 
        placeholder="{{{ balance: 10000, symbol: currencyUnit } | cryptocurrency}} minimum" step="0.0001" required>
        <span class="input-group-addon" > 
          Available Bitcoin: {{ { balance: balanceData[1], symbol: currencyUnit } | cryptocurrency}}
          {{currencyUnit[currencyUnit.length-1]}}BTC
          </span>
      </div>
    </div>
  </div>
    <br>
  <input class="btn btn-primary btn-lg col-xs-push-3 col-xs-6" type="submit" value="Create Sale">
  </form>
</div>
