<div class="modal-body">
    <h3 class="text-center"> Confirm Sale Cancellation </h3>
  <p><br>
  You're about to cancel this sale. If this is correct, please press Cancel Sale below. 
  If you encounter an error or change your mind feel free to click away from the dialog and try again.
  </p>
  <div class="pull-right">
    <button ng-disabled="clicked" class="btn btn-primary" ng-click="ok()">Yes, cancel this sale</button>
    <img class="" src="/assets/img/spinner.gif" ng-show="waiting">
  </div>
  <br>
</div>
<div class="modal-footer">
    <div class="row">
      <div ng-show="sendSuccess" class="text-center">
        <h4 class="pull-right col-xs-12" style="color:green"> Sale cancelled successfully, 
        check your transaction <a target="_blank" href="{{url}}">here.</a></h4> <br> <h5><small>It can take up to 20 minutes to update the wallet, please do not make another cancellation during this time.</small></h5>
      </div>
      <div ng-show="sendError" class="text-center">
        <h4 class="col-xs-12" style="color:red;"> Sale not cancelled: 
         {{error}} </h4>
      </div>
    </div>
</div>
  
