<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('wallet')>
    <div ng-include="templates['sidecar']"></div>
</div>
<div class="col-xs-10" ng-controller="AccountSettingsController">
  <div class="panel-default">
    <div class="text-left panel-body om-title" >Account Settings</div>
  </div>
  Wallet ID: {{uuid}}  <br>
  Wallet Email: {{email}} <br>
  Show DEx dust transactions:  <br>
  Wallet Currency: (let users change currency)  <br>
  Donate to the Developers (Let the Developers redeem multisig outputs):  <br>

</div>
