<div class="modal-body">
    <h3 class="text-center"> Confirm Sale Order </h3>
    <h4 class="text-center">You're about to put <span class="text-info"> {{ convertSatoshiToDisplayedValue(saleAmount) | number:8 }} {{ getDisplayedAbbreviation() }}
            </span> on sale <br />
	at a price of <span class="text-info"> {{ salePricePerCoin / convertSatoshiToDisplayedValue( saleAmount, true) | number:8 }} BTC </span> per 
	    <span class="text-info">{{ getDisplayedAbbreviation() }} </span><br /> 
        plus charge <span class="text-info"> {{ convertSatoshiToDisplayedValue(buyersFee, true) | number:8 }} BTC</span> in fees <br />
	and allow <span class="text-info"> {{ saleBlocks }} blocks</span> to send payment.</h4>
  <p><br>
  If the above is correct, please press Send Funds.
  If you encounter an error, feel free to click away from the dialog and try again.
  </p>
</div>
<div class="modal-footer">
    <div class="row" ng-hide="sendSuccess">
    <button ng-disabled="clicked" class="btn btn-primary" ng-click="ok()">Yes, create this sale</button>
    <img class="" src="/assets/img/spinner.gif" ng-show="waiting">
    </div>
      <br>
    <div class="row">
      <div ng-show="sendSuccess">
        <h4 class="pull-left col-xs-10" style="color:green"> Sale created successfully, 
        check your transaction <a target="_blank" href="{{url}}">here.</a></h4>
	<a href="/wallet/overview"><button class="btn btn-success" ng-click="cancel()">Close</button></a>
      </div>
      <div ng-show="sendError">
        <h4 class="col-xs-12" style="color:red;"> Sale not created: 
         {{error}} </h4>
      </div>
    </div>
</div>
  
