<div class="modal-header">
  <h3>My Wallet Details</h3>
</div>
<div class="modal-body" ng-controller="WalletController">
<div class="alert alert-info">
      <center><strong>Welcome!</strong></center>We have created your wallet and added a new address to get you started.<br />
            <small>(Access this information at anytime by clicking the 'Wallet ID' Button in the upper left hand corner)</small>
</div>
    <div class="row">
            <div class="form-group col-xs-10 col-xs-push-1">
	    <h3 class="text-center panel-body">Wallet ID: <br /><small>{{ uuid }}</small></h3>        
          <strong> Make sure you save your Wallet ID. You need this to login to your wallet</strong>
     </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 col-xs-push-1">
        You can also save your quick-login link to easily return to your wallet at anytime: <br /><a style="color:black; text-decoration:underline" href="{{loginLink}}">{{loginLink}}</a></strong>
      </div>
    </div>
</div>
