<table class="table table-striped table-hover table-condensed">
  <caption> Wallet Trade: 
    <select ng-model="currPair" ng-options="pairObject as pairObject for pairObject in pairs"
      ng-change="getData(selectedAddress)">
    <option value="">-- choose currency pair --</option>
    </select> 
      for
    <select ng-model="selectedAddress" ng-options="addrObject.address as addrObject.address for addrObject in addresses" 
      ng-change="getData(selectedAddress)">
    <option value="">-- choose address --</option>
    </select> 
  </caption>
  <thead>
      <tr>
        <th>Transaction hash</th>
        <th>Type</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Transaction time</th>
      </tr>
  </thead>
  <tbody>
  </tbody>

  <tr ng-repeat="transaction in orderbook">
    {{transaction}}
    <td>{{transaction.tx_hash}}</td>
    <td>{{transaction.tx_type_str}}</td>
    <td>{{transaction.status}}</td>
    <td>{{transaction.formatted_amount}}</td>
      <td>{{transaction.tx_time | date:'dd MMM yyyy HH:mma Z'}}</td>
  </tr>
</table>
