<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('wallet')>
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-10" ng-controller="WalletSendController">
  <div class="text-center col-xs-8" >Wallet Send</div>
    <br>
  <div class="row">
    <div om-select addclass="col-xs-10" type="coin" text="Send money: " expr="setCoin"  options="{{currList}}"></div>
  </div>
    <br>
  <div class="row">
    <div om-select addclass="col-xs-10" type="address" text="From address: " expr="setAddress" options="{{addrList}}"></div>
  </div>
    <br>
  <div class="row">
    <div om-input addclass="col-xs-8" text="Amount: " 
      placeholder="0.0" model="sendAmount" change="addToScope" data="balanceData" addons="Available: ,Est: "></div> 
  </div>
    <br>
  <div class="row">
    <div om-input model="sendTo" change="addToScope" addclass="col-xs-8" text="To: " placeholder="{{addrList[0]}}"></div> 
  </div>
    <br>
  <div class="row">
    <div id="fee-tooltip">
    <div om-input addclass="fees col-xs-8" text="Fees: " placeholder="0.00034BTC (Hover over me for more)" disable=1 ></div> 
    </div>
  </div>
    <br>
  <button class="btn btn-primary" ng-click="validateForm()" type="submit">Send Transaction</button>

</div>
