<div tooltip=""></div> <!-- initalize ui.bootstrap.tooltip (bad interaction with ng-route) -->

<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('wallet')>
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-10" ng-controller="WalletController">
  <div ng-include="templates['disclaimer']" ng-hide="disclaimerSeen"></div>
  <br>
  <br>
  <div class="panel panel-default">
    <h3 class="text-center panel-body">Wallet Overview <small>{{ uuid }}</small></h3>
  </div>
  <div ng-if="addrList.length > 0" class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Hey!</strong> This is the overview page, where you can get a broad look at your owned assets.
  </div>
  <div ng-if="addrList.length == 0">
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Welcome!</strong> We have set up a brand new wallet for you. You can use the links below to get started
    </div>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning:</strong> You must <strong>save your login link: <a style="color:black; text-decoration:underline" href="{{loginLink}}">{{loginLink}}</a></strong> to return to your wallet.
    </div>
  </div>

  <div class="row" >
    <div ng-controller="AssetTypesController" ng-init="refresh()" show-asset-types template="{{template}}">
    </div>
  </div>

</div>
