<div datepicker-popup="" ng-model="h" hidden></div> <!-- initalize ui.bootstrap.datepicker (bad interaction with ng-route) --> 
<timepicker ng-model="t" hidden></timepicker> <!-- initalize ui.bootstrap.timepicker (bad interaction with ng-route) -->
<div tooltip=""></div> <!-- initalize ui.bootstrap.tooltip (bad interaction with ng-route) -->
<progressbar hidden style="margin-top:10px" animate="false" value="0" type="success" max="100"></progressbar>
<div class="col-xs-10" ng-controller="WalletOverviewController">
    <div class="text-left om-title" >Overview</div>
  <div ng-if="addrList.length == 0">
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Welcome!</strong> We have set up a brand new wallet for you. You can use the links below to get started
    </div>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning:</strong> You must <strong>save your login link: <a style="color:black; text-decoration:underline" href="{{loginLink}}">{{loginLink}}</a></strong> to return to your wallet.
    </div>
  </div>

  <div class="row" ng-controller="AssetTypesController">

    <h3  ng-init="isLoading=true" ng-show="isLoading" class="text-center">Updating...<img src="/assets/img/spinner.gif"></h3>
    <div ng-hide="isLoading"><br /><br /><br /></div>   
    <div ng-init="refresh();modalOpened=false" show-asset-types template="{{template}}">


    </div>
  </div>
 </div>
