<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('wallet')>
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-10" ng-controller="WalletTradeController">

  <div class="row">
    <h3 class="col-xs-3 center-block"> Choose an action: </h3>
    <div class="col-xs-9">
      <button class="btn btn-primary btn-lg" ng-click="setView('simpleSend')" type="submit">Start new send transaction</button>
      <button class="btn btn-primary btn-lg" ng-click="setView('saleOffer')" type="submit">Start new sale offer</button>
      <button class="btn btn-primary btn-lg" ng-click="setView('buyOffer')" type="submit">Start new buy offer</button>
    </div>
  </div>

  <div class="row">
    <div ng-include="tradeView"></div>
  </div>

  <br><br>
  
  <div class="row">
    <div ng-include="history"></div>
  </div>
</div>


