<div class="col-xs-10">
  <div ng-if="! balances.balances">
    <h3>You don't currently have any cryptocurrency addresses in your wallet.</h3>
    <p>Why not go ahead and add one?</p>
    <div class="col-xs-10">
      <row>
        <div class="col-xs-3">
          <button "btn btn-default" ng-click="openAddForm( 'BTC' )" data-currency="BTC">
            Add Bitcoin (BTC) Address
          </button>
        </div>
        <div class="col-xs-3" ng-repeat="cdata in balances.currencies.data">
          <button "btn btn-default" ng-click="openAddForm( cdata.currency )" data-currency="{{cdata.currency}}">
            Add {{cdata.name}} ({{cdata.currency}}) Address
          </button>
      </row>
    </div>
  </div>
  <div ng-repeat="currency in balances.balances">
    <div class="col-xs-10">
      <div class="col-xs-4">
        <span class="currency-name">{{currency.name ? currency.name : currency.symbol}}</span>
      </div>
      <div class="col-xs-3">
        <span class="currency-total">{{currency.balance}} {{currency.symbol}}</span>
      </div>
      <div class="col-xs-3">
        <span class="currency-value">No Exchange</span>
      </div>
    </div>
    <div class="col-xs-10">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th>Address</th>
            <th>Balance</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in currency.addresses">
            <td>{{item.address}}</td>
            <td>{{item.value}}</td>
            <td>No Exchange</td>
            <td>
              <div ng-controller="ModalDemoCtrl">

                  <button class="btn btn-default" ng-click="open()">X</button>
                  <div ng-show="selected">Selection from a modal: {{ selected }}</div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div ng-controller="PopoverDemoCtrl">
                <button popover="{{content}}" popover-title="{{title}}" class="btn btn-default">Add {{currency.symbol}} Address</button>
              </div>
            </td>
            <td></td><td></td><td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> 
</div>
