<div class="row alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  This is the trading page, where you can start submitting orders or send money to others.
</div>

  <h1 class="row" style="color:lightgray"> Trade </h1>

  <ul class="row nav nav-pills" ng-init="setActiveCurrencyPair()">
      <li ng-repeat="currencyPair in currPairs" ng-class="isActiveCurrencyPair(currencyPair)">
        <a href="" ng-click="setActiveCurrencyPair(currencyPair)"> {{currencyPair[0]}} / {{currencyPair[1]}} </a>
      </li>
      <li ng-hide="true" ><a href=""> +Add </a></li> <!-- hidden until user currencies are born -->
  </ul>

  <div class="row" ng-show="onTradeView">
    <h3> <strong> {{ currAcronyms[ activeCurrencyPair[0] ] }} / {{ currAcronyms[ activeCurrencyPair[1] ] }} </strong> </h3> 
      <button type="button" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-signal"></span>
      </button>
      &nbsp;
      <button type="button" class="btn btn-default disabled">Last Price <br> <small> 0.00000000 </small> </button>
      &nbsp;
      <div class="btn-group">
      <button type="button" class="btn btn-default disabled">High <br> <small> 0.00000000 </small> </button>
      <button type="button" class="btn btn-default disabled">Low <br> <small> 0.00000000 </small> </button>
      <button type="button" class="btn btn-default disabled">Avg Price <br> <small> 0.00000000 </small> </button>
      <button type="button" class="btn btn-default disabled">Volume <br> <small> 0.00000000 </small> </button>
      <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown">
              24 hours 
              <span class="caret"></span> <br> &nbsp;
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Dropdown link</a></li>
              <li><a href="#">Dropdown link</a></li>
            </ul>
          </div>
        </div>
  </div>
  <div class="row" ng-controller="WalletTradeOverviewController" ng-init="global.getData()">
    <div class="row" >
      <div class="col-xs-9">
        <div class="row">
          <h3 class="col-xs-7"> <strong> Buy {{ currAcronyms[ activeCurrencyPair[1] ] }} </strong>
          <!--  <select ng-model="currPair" ng-options="pairObject as pairObject for pairObject in pairs"
              ng-change="getData(selectedAddress)">
            <option value="">-- choose currency pair --</option>
            </select> 
              for
            <select ng-model="selectedAddress" ng-options="addrObject.address as addrObject.address for addrObject in addresses" 
              ng-change="getData(selectedAddress)">
            <option value="">-- choose address --</option>
            </select> -->
          </h3>
      </div>
        <h1 class="col-xs-9"> |depth chart| </h1> 
      </div>
      <div class="col-xs-3"> 
        <h3> <strong> Sell {{ currAcronyms[ activeCurrencyPair[1] ] }} </strong> </h3>
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
            <button class="btn btn-primary" ng-click="setView('saleOffer')" type="submit">Start new sale offer</button>
            <br><br>
            </div>
          </div>
      </div>

    </div>

    <div class="col-xs-9">
      <select ng-model="selectedTimeframe"  
          ng-change="global.getData(selectedTimeframe)">
        <option value="">-- choose timeframe --</option>
        <option value="86400"> 24 Hours </option>
        <option value="604800"> 1 week </option>
        <option value="2419200"> 1 month </option>
        <option value="7257600"> 3 months </option>
      </select> <!-- <a href=""> filter </a> -->
      <button class="btn btn-primary btn-sm" 
      ng-click="currencyUnit = 'stom'" type="button">Convert to mBTC </button>
      <button class="btn btn-primary btn-sm" 
      ng-click="currencyUnit = 'stow'" type="button">Convert to whole BTC </button>
    </div>

    <h3 ng-show="orderbook.length == 0" class="text-center">Loading orders...<img src="/assets/img/34-1.gif"></h3>
    <table ng-hide="orderbook.length == 0" class="table table-striped table-hover table-condensed">
      <thead>
          <tr>
            <th>Transaction hash</th>
            <th>Price ({{ currencyUnit[3] +  activeCurrencyPair[0] + '/' + currencyUnit[3] + activeCurrencyPair[1] }}) </th>
            <th>Amount</th>
            <th>Total Cost</th>
            <th>Required Fee</th>
            <th>Block Time</th>
            <th> Buy </th>
          </tr>
      </thead>
      <tbody>
      </tbody>

      <tr ng-repeat="transaction in orderbook">
        <td ng-click="setHashExplorer(transaction)"> <a href="/explorer/inspector?view={{transaction.tx_hash}}">{{transaction.tx_hash_concat}}</a></td>
        <td>{{{ balance: transaction.formatted_price_per_coin, symbol: currencyUnit } | cryptocurrency }}</td> 
        <td>{{{ balance: transaction.formatted_amount, symbol: currencyUnit } | cryptocurrency}}</td> 
        <td>{{ ({ balance: transaction.formatted_bitcoin_amount_desired, symbol: currencyUnit } | cryptocurrency) }}</td> 
        <td>{{{ balance: transaction.formatted_fee_required, symbol: currencyUnit } | cryptocurrency}}</td> 
        <td>{{transaction.formatted_block_time_limit}}</td> 
        <td ng-show="(transaction.tx_hash.length == 64) && transaction.status == null && 
            !(transaction.from_address == selectedAddress)">
        <button class="btn btn-primary btn-sm" ng-click="setView('buyOffer', transaction)" type="submit">Buy coin</button>
        
        <td ng-show="transaction.from_address == selectedAddress"> Your offer/purchase </td>
      </td>
      </tr>

    </table>  
    
  </div>
