<div ng-controller="WalletAssetsFormController" ng-init="bitcoinValue=getBitcoinValue()">
  <div ng-controller="TransactionGenerationController">
  <div class="col-xs-10" ng-controller="WalletSendAssetsController">
    <div class="row">
       <div class="text-left om-title">Send</div>
      <div ng-show="showErrors" class="alert alert-danger"> <strong> {{error}} </strong> </div> 
      <form name="sendForm" ng-submit="validateForm()">
      <div class="row">
        <div class="col-xs-6">
          <h4 class="text-justify" >Choose coin:</h4>
          <div class="form-inline">
              <select name="coin" class="form-control" ng-model="walletAssets.selectedCoin"
                ng-options="currency as currency.name for currency in currencyList"
                ng-change="setBalance()" ng-init="setBalance()" required>
                <option value=""> -- Choose Coin -- </option>
              </select>
            </div> 
          <h4 class="text-justify" >Send from address:</h4>
          <div class="form-inline">
              <select name="sender" class="form-control" ng-model="walletAssets.selectedAddress"
                ng-options="address for address in addressList"
                ng-change="setBalance()" ng-init="setBalance()" required>
                <option value=""> -- Choose Address -- </option>
              </select>
            </div>
        </div>
      </div>
        <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"> To: </span>
            <input name="reciever" type="text" ng-model="sendTo" class="form-control" placeholder="Address" required>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"> Amount ( <strong>{{ balanceData[0] }} {{getDisplayedAbbreviation()}}</strong> Available ): </span>
	    <input id="amount" name="amount" type="number" ng-model="sendAmount" class="form-control" ng-change="changeValue()" value="sendAmount"
	    placeholder="{{ sendPlaceholderValue }}" step="{{ sendPlaceholderStep }}" min="{{ sendPlaceholderMin }}" required>
	   
	    <span ng-show="walletAssets.selectedCoin.symbol == 'BTC'" class="input-group-addon"> Value ( <strong><span title="{{balanceData[0]*bitcoinValue}}" ng-bind-html="balanceData[0]*bitcoinValue | numeraljs: '$0,0.00':true"></span></strong> Available ): </span>
	    <input ng-show="walletAssets.selectedCoin.symbol == 'BTC'" id="value" name="value" type="number" ng-model="value" class="form-control" ng-change="changeAmount()" value="value"
	    placeholder="{{ sendPlaceholderValue }}" step="Any" min="{{ sendPlaceholderMin }}">          
          </div>
          <br ng-hide="walletAssets.selectedCoin.symbol == 'BTC'">
	  <div class="input-group" style="width: 15%;" ng-hide="walletAssets.selectedCoin.symbol == 'BTC'">
            <span class="input-group-addon" style="padding: 0.65em;"> MasterProtocol Transaction Cost: 
    	 <a href=""
                tooltip="MasterProtocol Transactions require additional BTC. This is used when encoding/sending the Masterprotocol Transaction."
                tooltip-append-to-body="true"
                tooltip-placement="top"> <strong>(?)</strong>
              </a></span>
            <span class="input-group-addon"> ~ 0.00025 BTC </span>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"> Miner fees ( {{ balanceData[1] }} BTC Available ): </span>
            <input name="fees" type="number" ng-model="minerFees" class="form-control" 
            placeholder="0.0001 suggested minimum" step="0.00000001" min="0.0001" ng-change="calculateTotal(minerFees)" required>
          </div>
          <input ng-model="marked" ng-hide="true" ng-init="marked = false" type="checkbox"> 
        </div>
      </div>
        <br>
          <div class="input-group" style="width: 15%;">
            <span class="input-group-addon" style="padding: 0.65em;"> Total Transaction Cost: 
    	 <a href=""
                tooltip="Total transaction cost in BTC. Includes Miners fee and MasterProtocol costs."
                tooltip-append-to-body="true"
                tooltip-placement="top"> <strong>(?)</strong>
              </a></span>
            <span class="input-group-addon"> {{ totalCost }} BTC </span>
          </div>
          <br>
      <button class="btn btn-primary btn-lg col-xs-push-3 col-xs-6" type="submit" >Send Transaction</button>
      </form>
    </div>    
  </div>
</div>
