<div class="sidecar col-xs-2" ng-controller="SidecarController" ng-init=setView('wallet')>
    <div ng-include="templates['sidecar']"></div>
</div>

<div class="col-xs-10" ng-controller="WalletHistoryController" ng-init="getData(first)">
  <table class="table table-striped table-hover table-condensed">
    <caption> Wallet History for {{selectedAddress}}
      <select ng-model="selectedAddress" ng-options="addrObject.address as addrObject.address for addrObject in addresses" 
        ng-change="getData(selectedAddress)">
      <option value="">-- choose address --</option>
      </select> 
    </caption>
    <thead>
        <tr>
          <th>Transaction hash</th>
          <th>Currency</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Transaction time</th>
        </tr>
    </thead>
    <tbody>
    </tbody>

  <tr ng-repeat="transaction in history">
   {{transaction}}
   <td>{{transaction.tx_hash}}</td>
   <td>{{transaction.currency_str}}</td>
   <td>{{transaction.tx_type_str}}</td>
   <td>{{transaction.formatted_amount}}</td>
    <td>{{transaction.tx_time | date:'dd MMM HH:mma Z'}}</td>
  </tr>

</table>

</div>
</div>
