<div ng-controller="NavigationController" ng-init="getNavData()">
  <div class="navbar navbar-default navbar-fixed-top">

<a class="navbar-brand" href="/"><img src="/assets/img/logo.png" alt="mastercoin"></a>
        <div class="navbar-header" ng-show="user.loggedIn">
            <br /><div class="btn btn-default" ng-click="openUUIDmodal()">My Wallet<br /><small>{{ user.wallet.uuid }}</small></div>
        </div>

      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li ng-hide="user.loggedIn"><a href="/" ng-click="openCreateModal()">Create Wallet</a></li>
              <li ng-hide="user.loggedIn"><a href="/" ng-click="openLoginModal()">Login</a></li>
              <li ng-show="user.loggedIn"><a href="/wallet/overview">Wallet</a></li>
              <li><a href="/explorer/overview">Explorer</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/status">Status</a></li>
              <li ng-show="user.loggedIn"><a href="/" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
      </div>
  </div>
</div>

