<div class="main-container" ng-controller="HomeController">
  <div class="row mobile-centered om-title homepage-welcome">{{ 'HOMEPAGE.WELCOME' | translate }}</div>
  <div class="row visible-xs text-center"><button type="button" class="btn btn-secondary" ng-click="modalManager.openCreateModal()">{{ 'COMMON.CREATEWALLET' | translate }}</button></div>
  <div class="row visible-xs text-center"><button type="button" class="btn btn-main" ng-click="modalManager.openLoginModal()">{{ 'COMMON.LOGIN' | translate }}</button></div>
  <div class="row visible-xs text-center"><a href="/" ng-click="modalManager.openBalanceCheckModal()">{{ 'HOMEPAGE.BALANCECHECK' | translate }}</a></div>

  <div class="hidden-xs homepage-form">
    <form role="form" name="addressentry">
      <div class="form-group">
        <label for="AddressInput" class="om-subtitle homepage-form-title">{{ 'HOMEPAGE.BALANCECHECK' | translate }}</label>
        <span id="helpBlock" class="help-block help-text">{{ 'HOMEPAGE.ENTERVALIDADDRESS' | translate }}<small class="sm-help-text">{{ 'HOMEPAGE.ADDRESSEXAMPLE' | translate }}</small></span>
        <input type="text" class="form-control input-lg input-group input-white" name="AddressInput" id="AddressInput" ng-model="balanceAddress" ng-change="checkAddress=false">
      </div>
      <a ng-href="{{balanceURL}}" target="_blank" ng-click="checkBalance();" class="btn btn-main pull-right">{{ 'HOMEPAGE.CHECKBALANCE' | translate }}</a>
    </form>
  </div>
</div>
