<row>
  <div class="center-block col-xs-12">
    <h3 class="text-center">Balance Check</h3>
    <form class="form-horizontal" role="form" name="addressentry">
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
           <div class="input-group col-xs-10">
            <span ng-show="validate(balanceAddress)" class="glyphicon glyphicon-ok green input-group-addon input-group"></span>
            <input type="text" class="form-control input-group" name="address" id="address" placeholder="Address" ng-model="balanceAddress" ng-change="hasBalances=false">
            <span class="input-group-btn">
                <input type="button" ng-click="checkBalance();" ng-disabled="validate(balanceAddress) == false" class="btn btn-primary" value="Click!" />
            </span>
           </div>
           <span class="help-block"><small>Enter a valid Bitcoin Address, e.g. 1EXoDusjGwvnjZUyKkxZ4UHEf77z6A5S4P</small></span>
        </div>
      </div>
    </form>
    <div ng-if="hasBalances">
      <div class="asset-table">
        <div ng-repeat="currency in balances">
          <row class="col-xs-offset-2 col-xs-10">
            <div class="container-fluid">
              <div class="asset-item col-xs-4 text-left">
                <span>{{currency.name ? currency.name : currency.symbol}}</span>
              </div>
              <div class="asset-item col-xs-6 text-right number">
                <span ng-if="currency.property_type != undefined && currency.property_type == 1" class="currency" class="number" title="{{currency.balance}}" ng-bind-html="currency.balance | numeraljs: '0,0'"></span>
                <span ng-if="currency.property_type != undefined && currency.property_type == 2" class="currency" class="number" title="{{currency.balance}}" ng-bind-html="currency.balance | numeraljs: '0,0.00000000'"></span>
                <span ng-if="currency.property_type == undefined" class="currency" title="{{currency.balance}}"><span ng-bind-html="currency.balance | numeraljs: '0,0.00000000'"></span> {{currency.symbol}}</span>
              </div>
              <div class="asset-item col-xs-2 text-right number" title="{{currency.value | currency}}" ng-bind-html="currency.value | currency | numeraljs: '$0,0.00':true">
              </div>
            </div>
          </row> 
        </div>
      </div> 
    </div>
  </div>
</row>


<row>
<br />
<div class="container middle row">
  <div class="alert alert-custom alert-dismissable" ng-show="browser !== 'chrome'">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  Omniwallet recommends the use of Chrome, since the wallet may not yet function perfectly on other browsers.
  </div>
</div>
</row>

<row>
 <div class="col-xs-12"><br /><br /></div>
</row>


<row>
  <div class="col-xs-12 alert alert-info alert-dismissable hide">
   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
   <strong>Coming Soon:</strong> We are proud to announce that starting next week Omni will be moving to Beta status. <br />
           You will also be able to find us on the main domain:  http://www.omniwallet.org <br /> 
  </div>
</row>
