<script src="js/LoginController.js"></script>
<div class="col-xs-10" ng-controller="LoginController">
  <h1>Login</h1>
  <form novalidate class="simple-form">
    UUID: <input type="text" ng-model="login.uuid" /><br />
    Password: <input type="text" ng-model="login.password" /><br />
    <button ng-click="open(login)">Open Wallet</button>
  </form>
  <div ng-show="missingUUID" class="bg-danger">UUID Doesn't Exist!</div>
  <div ng-show="serverError" class="bg-danger">Server error, please try again</div>
</div>
