<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">
    <title>Send coins</title>
    <noscript>
    Java Script has been disabled!
    <meta http-equiv="refresh" content="0;url=javascript_required.html">
    </noscript>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/bootstrap-combobox.css" rel="stylesheet" />
    <link href="css/acceptform.css" rel="stylesheet" />
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="btcutils.js"></script>
    <script src="masterPage.js"></script>
    <script src="wallet.js"></script>
    <script src="sendform.js"></script>
    <script src="js/truncate.js"></script>
    <script src="js/BTCClientContext.js"></script>

    <!--BITCOIN-->
    <script type="text/javascript" src="js/BitcoinJS/crypto-js/crypto.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/crypto-js/sha256.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/crypto-js/ripemd160.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/jsbn/prng4.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/jsbn/rng.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/jsbn/jsbn.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/jsbn/jsbn2.js"></script>

    <script type="text/javascript" src="js/BitcoinJS/jsbn/ec.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/jsbn/sec.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/events/eventemitter.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/bitcoin.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/util.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/base58.js"></script>

    <script type="text/javascript" src="js/BitcoinJS/address.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/ecdsa.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/eckey.js"></script>

    <script type="text/javascript" src="js/BitcoinJS/opcode.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/script.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/transaction.js"></script>

    <script type="text/javascript" src="js/BitcoinJS/wallet.js"></script>
    <script type="text/javascript" src="js/BitcoinJS/txdb.js"></script>

    <script type="text/javascript" src="js/jquery.json-2.4.js"></script>

    <!--END BITCOIN-->


    <script src="js/bootstrap-combobox.js"></script>
    <script>
        var myApp = angular.module('myApp', ['truncate']);
    </script>
    <script src="js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrap">
        <div ng-controller="NavigationController" ng-init="getNavData()">
            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="/">
                            <img src="img/logo.png" alt="mastercoin">
                            <img src="ico/simplesend48b.png" style="height: 32px; width: 32px;" />
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="Send.html" class="c-visible-xs">Send</a></li>
                            <li><a href="Download.html" class="c-visible-xs">Download</a></li>
                            <li><a href="API.html" class="c-visible-xs">API</a></li>
                            <li><a href="License.html">License</a></li>
                            <li><a href="About.html">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container page-container">
                <div class="row">
                    <div class="no-fixed col-sm-9 col-sm-push-3 col-md-10 col-md-push-2">
                        <div class="AcceptOfferController" ng-controller="AcceptOfferController" ng-init="getSellofferData()">


                            <div class="col-md-6">
                                <h2>Send coins
                                </h2>


                                <div class="input string optional" id="fromAddressOrPublicKeyDiv">
                                    <!-- <div class="ui-widget">-->
                                    <label class="string optional" for="publicKey">Sender address or public key</label>

                                    <select class="select optional form-control form-control30px combobox"
                                        id="fromAddressOrPublicKey" name="fromAddressOrPublicKey">

                                        <!-- ng-model="transactionInformation.to_address"
                                                ng-change="comboBoxValueChange(this)"-->

                                    </select>
                                    <!-- </div>
                                        <button id="toggle">Show underlying select</button>-->
                                    <div id="verify">
                                        <button id="verifyButton" class="btn btn-primary verifyButton">Verify</button>
                                        <p id="verifyMessage" class="verifyMessage"></p>
                                        <img id="verifyLoader" class="verifyLoader loader"
                                            src="img/ajax_loader.gif" />
                                    </div>
                                </div>



                                <div class="input string optional">

                                    <label class="string optional" for="amount">Amount</label>
                                    <input class="string optional form-control" id="amount"
                                        ng-model="amount"
                                        ng-change="AmountChanged()"
                                        step="{{step}}"
                                        type="number">

                                </div>

                                <div class="input string optional">
									<label class="string optional" for="fee">Fee</label>
									<input class="string optional form-control" id="fee"
										ng-model="fee"
										step="0.0001"
										type="number">
                                </div>

                                <div class="input string optional">
                                    <label class="string optional" for="recipient">To</label>
                                    <input class="string optional form-control" ng-readonly="toAddrReadOnly" id="recipient"
                                        ng-model="toAddress"
                                        type="text">
                                </div>

                                <div class="input string optional">
                                    <label class="string optional" for="currency">Currency</label>
                                    <input class="string optional form-control" readonly="readonly" id="currency"
                                        ng-model="currency"
                                        type="text">
                                </div>

                                <div>
                                    <button class="btn btn-primary btnMargin"
                                        id="createRawTransaction">
                                        Prepare
                                    </button>

                                    <img id="createRawTransactionLoader"
                                        src="img/ajax_loader.gif" class="loader" />
                                </div>

                            </div>

                            <!--AFTER RESPONSE-->

                            <div class="col-md-10" id="createRawResponseForm" style="display: none;">

                                <div class="input string optional">
                                    <label class="string optional" for="sourceScript">Source script</label>
                                    <textarea readonly="readonly" class="form-control textareaScroll" rows="3" id="sourceScript"></textarea>

                                </div>
                                <div class="input string optional">
                                    <label class="string optional" for="transactionBBE">Transaction</label>
                                    <textarea readonly="readonly" class="form-control textareaScroll" rows="6" id="transactionBBE"></textarea>

                                    <div id="rawJsonRadio" class="btn-group" data-toggle="buttons">
                                        <label id="RawRadioBtn" class="btn btn-primary active">
                                            <input type="radio" name="options">
                                            Raw
                                        </label>
                                        <label id="JsonRadioBtn" class="btn btn-primary">
                                            <input type="radio" name="options">
                                            Json
                                        </label>
                                    </div>

                                </div>


                                <div class="input string optional">
                                    <label class="string optional" for="privateKey">Private key</label>
                                    <input class="string optional form-control" id="privateKey"
                                        ng-model="key" ng-change="keyChange()"
                                        type="text">
                                    <span class="invalidKey redText">Invalid key</span>
                                </div>

                                <br />
                                <div>
                                    <button class="btn btn-primary btnMargin"
                                        id="reSign">
                                        (re)Sign
                                    </button>
                                    <img id="reSignLoader"
                                        src="img/ajax_loader.gif" class="loader" />
                                </div>

                            </div>


                            <div class="col-md-10" id="reSignClickedForm" style="display: none;">

                                <div class="input string optional">
                                    <label class="string optional" for="signedTransactionBBE">Transaction</label>
                                    <textarea class="form-control textareaScroll" rows="6" id="signedTransactionBBE"></textarea>
									<span class="invalidTransaction redText">Invalid transaction</span>

									<div id="rawJsonRadioSigned" class="btn-group" data-toggle="buttons">
										<label id="RawRadioBtnSigned" class="btn btn-primary active">
											<input type="radio" name="options">
											Raw
										</label>
										<label id="JsonRadioBtnSigned" class="btn btn-primary ">
											<input type="radio" name="options">
											Json
										</label>
                                    </div>
                                </div>


                                <div>
                                    <button class="btn btn-primary btnMargin"
                                        id="send">
                                        Send
                                    </button>
                                    <p id="sendMessage"  class="verifySendStatus"></p>
                                    <img id="sendLoader"
                                        src="img/ajax_loader.gif"
                                        class="loader" />
                                </div>
								<div id="sendHyperlink">
								    Check transaction: <a id="sendLink" href="#">Hyperlink</a>
                                </div>
                               <p></p>
                                <p></p>

                            </div>



                        </div>

                    </div>

                    <div class="left_bar jumbotron col-sm-3 col-sm-pull-9 col-md-2 col-md-pull-10">
                        <nav>
                            <div class="navItems col-xs-6 col-sm-12 no-padding" ng-repeat="val in values">
                                <a href="index.html?currency={{val.currency}}" class="panel-link">
                                    <div class="panel panel-default {{val.selected}}">
                                        <div class="panel-heading">
                                            <img ng-src="img/{{val.trend}}Icon.png" />
                                            {{val.name}}
                                        </div>
                                        <div class="panel-body" ng-style="{'background': val.trend2}">
                                            <div class="col-xs-3 no-padding">{{val.currency}}</div>
                                            <div class="col-xs-9">{{val.name2}}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- /container -->
        </div>

        <div id="push"></div>
    </div>
    <div id="footer" ng-controller="RevisionController" ng-init="getData()">
      <div class="container c-footer-container">
        <div class="revision">Updated: {{revision.last_parsed}} rev <a href='{{revision.url}}'>{{revision.commit_hexsha|characters:6}}</a> ({{revision.commit_time}})</div>
        <div class="muted credit">&copy; Masterchain Grazcoin Grimentz 2013.</div>
      </div>
    </div>
</body>
</html>
