.middle {
  margin-top: 75px;
  height: 1400px; /* should remove this when we have content in the middle */
}
a {
   cursor: pointer;
}

.navbar-brand img {
  max-height: 10%;
}
.navbar-nav > li {
  padding-top: 5%;
}
