.middle {
  margin-top: 125px;
}
.arc path {
  stroke: #fff;
}
a {
   cursor: pointer;
}

.navbar-brand img {
  max-height: 10%;
}
.navbar-nav > li {
  padding-top: 5%;
}

.currency-name, .currency-total, .currency-value {
	font-weight: bold;
	font-size: 1.5em;
}

.currency {
	text-align: right;
}

.asset-table {
	padding-top: 50px;
}

.asset-item {
	font-size: 1.2em;
}

.landing-thumbnail {
	padding-top: 20px;
	border: 0;
}

input.search-query {
    padding-left:26px;
}

form.form-search {
    position: relative;
}

form.form-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top:10px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}
.alert {
    margin-top: 20px;
}
.alert-custom {
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -ms-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(top, #fbb450, #f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}