html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}
.brown{color:#9b846b}
.green{color:#61B329}
.info{background-color:#B0C4DE}
.om-container {
}
.om-body {
  margin-left: 100px;

}
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}
.sidebar :hover {
  background-color: #C4C6CC;
}
.om-title {
  font-size:300%;
  color:lightgray;
}
.missing-dex-alert{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom:6px;
}
.left {
  position: absolute;
  margin-top: 125px;
  margin-left: 150px;
}
.middle {
  margin-top: 125px;
}
.arc path {
  stroke: #fff;
}
a {
   cursor: pointer;
}
.navbar-brand img {
  max-height: 3.7em;
}
.navbar-nav > li {
  padding-top: 5%;
}
.footer .navbar-nav > li {
  padding-top: 0;
}
.modal-body{
  background-color: #fcfbfb;
}
.modal-title{
  padding-left: 0;
  font-size: 36px;
  color: #636363;
  font-family: 'Gudea', sans-serif;
}
.modal-action-btn{
  background-color: #f5f2f2;
  color: #44b8ef;
  font-size: 32px;
  font-family: 'Gudea', sans-serif;
  border-width: 1px;
  border-color: #e8e7e7
}
.modal-action-btn:hover{
  color: #2e508f;
}
.modal-action-btn:hover .action-img-roll{
  display: inline;
}
.modal-action-btn:hover .action-img-normal{
  display: none;
}
.action-img-normal{
  display: inline;
}
.action-img-roll{
  display: none;
}
.modal-cancel-btn{
  background-color: #ebebeb;
  color:#636363;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Gudea', sans-serif;
  margin-top: 16px;
}

/* MODAL WINDOWS STYLES */
.modal-header-row{
  margin-bottom: 30px;
}
.modal-row{
  margin-bottom: 5px;
}
.description-title{
  font-size: 18px;
  color: #b8b7b7;
  font-family: 'Gudea', sans-serif;
  font-weight: bold;
  float: left;
  width: 103px;
  height:30px;
}
.description-title-large{
  font-size: 18px;
  color: #b8b7b7;
  font-family: 'Gudea', sans-serif;
  font-weight: bold;
  float: left;
  width: 126px;
  height:30px;
}
.description-title-xlarge{
  font-size: 18px;
  color: #b8b7b7;
  font-family: 'Gudea', sans-serif;
  font-weight: bold;
  float: left;
  width: 200px;
  height:30px;
}
.description-text{
  font-size: 18px;
  color: #696969;
  font-family: 'Gudea', sans-serif;
  font-weight: bold;
}
.description-extra{
  font-size: 18px;
  color: #b8b7b7;
  font-family: 'Gudea', sans-serif;
  font-weight: bold;
}
.send-fee{
  font-size: 16px;
  color:#c4c4c4;
  font-family: 'Gudea', sans-serif;
}
.expandable-div{
  height: auto;
  width: 400px;
  overflow: hidden;
  word-wrap: break-word;
}
.expandable-div-rendered{
  transition: 1.0s;
  -webkit-transition: 1.0s;
}
.expanded-div{
  max-height: 200px;
}
.collapsed-div{
  max-height: 40px;
}
.footer-div{
  padding-bottom: 0px;
}
.horizontal-line{
  width: 400px;
  height: 5px;
  background-image:url('/assets/img/line.png');
  background-repeat: repeat;
  margin-left: 126px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.armory-unsigned{
  height:300px;
  overflow-y:auto;
}
.currency-name, .currency-total, .currency-value {
	font-weight: bold;
	font-size: 1.5em;
}

.currency {
	text-align: right;
}

.asset-table {
	padding-top: 50px;
}

.asset-table row {
	cursor: pointer;
}

.asset-item {
	font-size: 1.2em;
}

.landing-thumbnail {
	padding-top: 20px;
	border: 0;
}

input.search-query {
    padding-left:26px;
}

form.form-search {
    position: relative;
}

form.form-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top:10px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}
.alert {
    
}
.alert-custom {
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -ms-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(top, #fbb450, #f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.block-tx {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    background-color:#E4F1F2;
    border-radius:2px;
    margin:20px 0 10px;
    overflow:hidden;
    padding:15px;
    border:1px solid #eee;
    float:left;
    width:48%;
    height:320px;
}

.number {
    /*font-family: Inconsolata;*/
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}
.number .numeral-integer, .number .numeral-left {
    color: #484848;
    font-weight: bold;
    /*float: left;
    text-align: right;
    width: 50%;*/
}
.number .numeral-right {
    color: #7c7c7c;
    /*float: left;
    text-align: left;
    width: 50%;*/
}

/* Social icons (source: http://azmind.com/2012/11/06/social-icons-sprites-35-ready-to-use-icons-psd-png-html-css/) */
.icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}
 
.icons a.twitter { background: url(/assets/img/social-icons/twitter.png) left top no-repeat; }
.icons a.reddit { background: url(/assets/img/social-icons/reddit.png) left top no-repeat; }
.icons a.facebook { background: url(/assets/img/social-icons/facebook.png) left top no-repeat; }

.icons a:hover { background-position: left -34px; }
