.middle {
  margin-top: 125px;
}
.arc path {
  stroke: #fff;
}
a {
   cursor: pointer;
}

.navbar-brand img {
  max-height: 10%;
}
.navbar-nav > li {
  padding-top: 5%;
}

.currency-name, .currency-total, .currency-value {
	font-weight: bold;
	font-size: 1.5em;
}

.currency {
	text-align: right;
}

.asset-table {
	padding-top: 50px;
}

.asset-item {
	font-size: 1.2em;
}

.landing-thumbnail {
	padding-top: 20px;
	border: 0;
}

input.search-query {
    padding-left:26px;
}

form.form-search {
    position: relative;
}

form.form-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top:10px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}