<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">
    <title>Wallet</title>


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/masterPage.css" rel="stylesheet" />

    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="btcutils.js"></script>
    <script src="js/truncate.js"></script>
    <script>var myApp = angular.module('myApp', ['truncate']);</script>
    <script src="masterPage.js"></script>
    <script src="wallet.js"></script>


    <script src="js/bootstrap-combobox.js"></script>
    <script src="js/bootstrap.min.js"></script>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrap">
        <div ng-controller="NavigationController" ng-init="getNavData()">
            <!-- Fixed navbar -->
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="/"><img src="img/logo.png" alt="mastercoin"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Home</a></li>
                            <li><a href="Send.html" class="c-visible-xs">Send</a></li>
                            <li><a href="Download.html">Download</a></li>
                            <li><a href="API.html" class="c-visible-xs">API</a></li>
                            <li><a href="License.html">License</a></li>
                            <li><a href="About.html">About</a></li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="container page-container" ng-controller="WalletController">

                <div class="row">

                    <div class="no-fixed col-sm-9 col-sm-push-3 col-md-10 col-md-push-2">

                        <div class="inner">
                            <div class="row">
								<div class="col-md-12">
									<table class="table table-striped table-hover table-condensed">
										<tr>
											<td>Wallet UUID:</td>
											<td><span class="pull-right">{{uuid}}</span></td>
										</tr>
										<tr>
											<td>Tools</td>
											<td class="btnCell">
											<button type="button" ng-click="CreateNewWallet()" class="btc-tbl-btn pull-right btn btn-success btn-xs">Create new wallet</button>
											<button type="button" class="btc-tbl-btn pull-right btn btn-success btn-xs">Sync with server</button>
											</td>
										</tr>
									</table>
								</div>
            				</div>

                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-condensed">
                                        <caption>Table of addresses</caption>
                                        <thead>
                                            <tr>
                                                <th>Address</th>
                                                <th ng-repeat="header in currencies">{{header.name}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="addr in addressArray">
                                                <td>
                                                    <button type="button" ng-click="DeleteAddress($index)" class="btc-tbl-btn btn btn-success btn-xs">X</button>
                                                    <a href="Address.html?addr={{addr.address}}">{{addr.address}}</a>
                                                </td>
                                                <td ng-repeat="balance in addr.balance">
                                                    <a href="sendform.html?addr=&amount={{balance}}&from={{addr.address}}&currency={{currencies[$index].symbol}}"><button type="button" class="btc-tbl-btn btn btn-success btn-xs">Send</button></a>
                                                    <a href="sellform.html?addr=&amount={{balance}}&from={{addr.address}}&currency={{currencies[$index].symbol}}"><button type="button" class="btc-tbl-btn btn btn-success btn-xs">Sell</button></a>
						    {{balance}}
						</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="left_bar jumbotron col-sm-3 col-sm-pull-9 col-md-2 col-md-pull-10">
                        <nav>
                            <div class="navItems col-xs-6 col-sm-12 no-padding" ng-repeat="val in values">
                                <a href="index.html?currency={{val.currency}}" class="panel-link">
                                    <div class="panel panel-default {{val.selected}}">
                                        <div class="panel-heading">
                                            <img ng-src="img/{{val.trend}}Icon.png" />
                                            {{val.name}}
                                        </div>
                                        <div class="panel-body" ng-style="{'background': val.trend2}">
                                            <div class="col-xs-3 no-padding">{{val.currency}}</div>
                                            <div class="col-xs-9">{{val.name2}}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- /container -->
        </div>

        <div id="push"></div>
    </div>
    <div id="footer" ng-controller="RevisionController" ng-init="getData()">
	      <div class="container c-footer-container">
	        <div class="revision">Updated: {{revision.last_parsed}} rev <a href='{{revision.url}}'>{{revision.commit_hexsha|characters:6}}</a> ({{revision.commit_time}})</div>
	        <div class="muted credit">&copy; Masterchain Grazcoin Grimentz 2013.</div>
	      </div>
    </div>
</body>
</html>
