.amountWarning {
    display: none;
    position: absolute;
    right: -120px;
    margin-top: -25px;
    color:#0094ff;
}
  .verifyButton{

       position: absolute;
    right: -60px;
    margin-top: -39px;
   
  }
  
  .verifySendStatus {
      display: none;
      position: absolute;
      margin-top: -32px;
      margin-left: 70px;
   }
   
  .verifyMessage{
      display:none;
       position: absolute;
    margin-top: -32px;
  }
  
  #sendHyperlink{
      display:none;
  }
  
  .verifyLoader{
       display:none;
       position: absolute;
    right: -90px;
    margin-top: -35px;
  }
  
  .loader {
      width: 24px;
      height: 24px;
      display: none;
  }
  
  .showUntilAjax{
      display:inline;
  }
  .show3sec{
      display:inline !important;
}

  .redText{
      color:#d93838;
  }
  .greenText{
      color:#27dd3f;
      right: -90px;
  }
 
.invalidKey {
    display: none;
    position: absolute;
    right: -60px;
    margin-top: -27px;
 }

.invalidTransaction {
    /*display:none;*/
    position: absolute;
    right: -105px;
    margin-top: -130px;
}
@media only screen and (max-width: 991px) {
    /*@media only screen and (max-width: 970px) {*/
    .amountWarning{
        position:relative;
        right:0;
        margin-top:5px;
    }
    .verifyButton{
      position:relative;
        right:0;
        margin-top:5px;
  }
    .verifyMessage{
      margin-top: -27px;
  }
  
  .verifyLoader {
        position: absolute;
        /*right: -90px;*/
        left: 80px;
        margin-top: -30px;
    }

    .invalidKey {
        position: relative;
        right: 0px;
        margin-top: 0px;
    }

    .invalidTransaction {
        position: relative;
        right: 0px;
        margin-top: 0px;
    }
}

 .textareaScroll[readonly] {
        cursor:default !important;
    }

#buyerAddressOrPublicKeyDiv  .custom-combobox {
    position: relative;
    display: inline-block;
  }
#buyerAddressOrPublicKeyDiv  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
#buyerAddressOrPublicKeyDiv  .custom-combobox-input {
    margin: 0;
    padding: 0.3em;
  }
  .form-control30px{
      width:calc(100% - 30px);

  }

#buyerAddressOrPublicKeyDiv .combobox-container .add-on {
    height: 34px !important;
    width: 30px;
}

.combobox-selected {
}

#buyerAddressOrPublicKeyDiv .combobox-selected .caret {
    display: inline-block;
}



  .textareaScroll{
      overflow-y:scroll;
      resize:none;
      
  }
 

#rawJsonRadio {
    margin-top: 4px;
}

#rawJsonRadioSigned {
    margin-top: 4px;
}


  .input.string.optional{
      margin-bottom:12px;
  }

  #createRawResponseForm, #reSignClickedForm{
      margin-top:12px;
  }


  .btnMargin{
      margin-top:4px;
      margin-bottom:12px;
  }