<h2 class="om-subtitle">{{property.fixedissuance | assetIssuedType}} History <small>({{history.total}} transactions)</small></h2>
<div class="scroll">
  <div class="scroll-body" infinite-scroll='loadHistory()' infinite-scroll-disabled='history.loading || history.loaded' infinite-scroll-distance='3'>
    <div class="panel panel-asset-history" ng-repeat="transaction in history.transactions" 
      ng-class="{'panel-asset-history-purchase': transaction.isParticipation, 'panel-asset-history-close': transaction.isClose, 'panel-asset-history-create': transaction.isCreate}">
      <div ng-if="transaction.isParticipation" class="panel-body">
        <div class="row">
          <div class="col-xs-2"><h6 class="text-black">{{formatTransactionTime(transaction.blocktime,"elapsed")}}</h6><span class="text-muted">{{formatTransactionTime(transaction.blocktime)}}</span></div>
          <div class="col-xs-8">
            <div><img src="/assets/img/miniomni.png"><a href="https://blockchain.info/address/{{transaction.sendingaddress}}?sort=0">{{transaction.sendingaddress.substr(0,5)}}...{{transaction.sendingaddress.substr(-5,5)}}</a></div>
            <div ng-if="!property.divisible">Invested <span ng-bind-html="transaction.amount | numeraljs: '0,0'"></span> {{formatCurrencyName(transaction.propertyid)}} got <span ng-bind-html="transaction.purchasedtokens | numeraljs: '0,0'"></span> {{transaction.purchasedpropertyname}} tokens.
            </div>
            <div ng-if="property.divisible">Invested <span ng-bind-html="transaction.amount | numeraljs: '0,0.00000000'"></span> {{formatCurrencyName(transaction.propertyid)}} got <span ng-bind-html="transaction.purchasedtokens | numeraljs: '0,0.00000000'"></span> {{transaction.purchasedpropertyname}} tokens.
            </div>
          </div>
          <div class="col-xs-2">
            <span class="assets-history-badge">
              <div class="row badge" ng-hide="transaction.confirmations > 100"><img src="/assets/img/shouty.png" /> {{transaction.confirmations}} Confirmations</div>
              <div class="row"><a href="{{formatTransactionUrl(transaction.txid)}}" target="_blank">See transaction details</a></div>
            </span>
          </div>
        </div>
      </div>
      <div ng-if="transaction.isCreate" class="panel-body">
        <div class="row">
          <div class="col-xs-2"><h6 class="text-black">{{formatTransactionTime(transaction.blocktime,"elapsed")}}</h6><span class="text-muted">{{formatTransactionTime(transaction.blocktime)}}</span></div>
          <div class="col-xs-8">
            <img class="history-icon" src="/assets/img/asset-history-icons/created.png">
            <h5>Crowdsale was created</h5>
          </div>
          <div class="col-xs-2">
            <span class="assets-history-badge">
              <div class="row badge" ng-hide="transaction.confirmations > 100"><img src="/assets/img/shouty.png" /> {{transaction.confirmations}} Confirmations</div>
              <div class="row"><a href="{{formatTransactionUrl(transaction.txid)}}" target="_blank">See transaction details</a></div>
            </span>
          </div>
        </div>
      </div>
      <div ng-if="transaction.isClose" class="panel-body">
        <div class="row">
          <div class="col-xs-4"><h6 class="text-black">{{formatTransactionTime(transaction.blocktime,"elapsed")}}</h6><span class="text-muted">{{formatTransactionTime(transaction.blocktime)}}</span></div>
          <div class="col-xs-8">
            <img src="/assets/img/assets-history-icons/close.png" alt="{{transaction.type}}">
            <h5>Crowdsale was closed from further participation</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default" ng-show='history.loading'>
      <div class="panel-body text-center">
        <img src="/assets/img/loading.gif"/>Loading transactions
      </div>
    </div>
  </div>
</div>