<div class="row table-header hidden-xs">
	<div class="col-sm-3">{{'TABLE.ASSETS.ID' | translate}}</div>
	<div class="col-sm-3">{{'TABLE.ASSETS.NAME' | translate}}</div>
	<div class="col-sm-3">{{'TABLE.ASSETS.AMOUNT' | translate}}</div>
	<div class="col-sm-3">{{'TABLE.ASSETS.URL' | translate}}</div>
</div>
<div class="row table-row" ng-repeat="asset in assets">
	<div class="visible-xs col-xs-5">{{'TABLE.ASSETS.ID' | translate}}</div>
	<div class="col-xs-7 col-sm-3">{{asset.propertyid}}</div>
	<div class="visible-xs col-xs-5">{{'TABLE.ASSETS.NAME' | translate}}</div>
	<div class="col-xs-7 col-sm-3"><a href="/assets/details/{{asset.propertyid}}">{{asset.name}}</a></div>
	<div class="visible-xs col-xs-5">{{'TABLE.ASSETS.AMOUNT' | translate}}</div>
	<div class="col-xs-7 col-sm-3">{{asset.totaltokens}}</div>
	<div class="visible-xs col-xs-5">{{'TABLE.ASSETS.URL' | translate}}</div>
	<div class="col-xs-7 col-sm-3"><a href="{{url}}" target="_blank">{{asset.url}}</a></div>
</div>