<div class="row hidden-xs">
	<div class="col-sm-3">{{'ASSET_HISTORY_FIXEDISSUANCE_FALSE' | translate}}</div>
	<div class="col-sm-3">{{'ASSET_CROWDSALE_ACCEPTEDCURRENCY' | translate}}</div>
	<div class="col-sm-2">{{'CROWDSALE_DETAILS_TIME' | translate}}</div>
	<div class="col-sm-2">{{'CROWDSALE_TABLE_BOUGHT' | translate}}</div>
	<div class="col-sm-2">{{'CROWDSALE_TABLE_CREATED' | translate}}</div>
</div>
<div class="row" ng-repeat="crowdsale in crowdsales">
	<div class="col-xs-12 col-sm-3"><label class="visible-xs">{{'ASSET_HISTORY_FIXEDISSUANCE_FALSE' | translate}}</label>
		{{asset.propertyid}}
	</div>
	<div class="col-xs-12 col-sm-3"><label class="visible-xs">{{'ASSET_CROWDSALE_ACCEPTEDCURRENCY' | translate}}</label>
		{{crowdsale.propertydesiredName}} / {{'ASSET_CROWDSALE_RATE' | translate}} ({{crowdsale.tokensperunit}})
	</div>
	<div class="col-xs-12 col-sm-3"><label class="visible-xs">{{'CROWDSALE_DETAILS_TIME' | translate}}</label>
		<div id="timerWrapper-{{crowdsale.propertyid }}"></div>
	</div>
	<div class="col-xs-12 col-sm-3"><label class="visible-xs">{{'CROWDSALE_TABLE_BOUGHT' | translate}}</label>
		{{crowdsale.tokensissued}}
	</div>
	<div class="col-xs-12 col-sm-3"><label class="visible-xs">{{'CROWDSALE_TABLE_BOUGHT' | translate}}</label>
		{{crowdsale.totaltokens}}
	</div>
</div>