<timer end-time=1422831721308>
    <span class="countdown-group">
      <span class="countdown-number">{{days}}</span>
      <div class="countdown-label">day{{daysS}}</div>
    </span>
    <span class="countdown-group">
      <span class="countdown-number">{{hours}}</span>
      <div class="countdown-label">hour{{hoursS}}</div>
    </span>
    <span class="countdown-group">
      <span class="countdown-number">{{minutes}}</span>
      <div class="countdown-label">minute{{minutesS}}</div>
    </span>
    <span class="countdown-group">
      <span class="countdown-number">{{seconds}}</span>
      <div class="countdown-label">second{{secondsS}}</div>
    </span>
</timer>