<timer end-time={{endtime}}>
    <span class="countdown-group">
      <span class="countdown-number">{{days}}</span>
      <p class="text-uppercase">day{{daysS}}</p>
    </span>
    <span class="countdown-group">
      <span class="countdown-number">{{hours}}</span>
      <p class="text-uppercase">hour{{hoursS}}</p>
    </span>
    <span class="countdown-group">
      <span class="countdown-number">{{minutes}}</span>
      <p class="text-uppercase">minute{{minutesS}}</p>
    </span>
    <span class="countdown-group">
      <span class="countdown-number">{{seconds}}</span>
      <p class="text-uppercase">second{{secondsS}}</p>
    </span>
</timer>