<div class="container-fluid" ng-repeat="asset in wallet.assets">
	<div ng-if="asset.balance>0 || asset.symbol == 'BTC'" >
		<div class="row">
			<div class="col-xs-11">
				<div class="col-xs-12 col-sm-6">{{asset.name}} ({{asset.id}})</div>
				<div class="col-xs-6 col-sm-4">
					<span ng-if="asset.divisible != undefined && !asset.divisible" class="currency" title="{{asset.balance}}" ng-bind-html="asset.balance | numeraljs: '0,0'"></span>
	                <span ng-if="asset.divisible != undefined && asset.divisible" class="currency" title="{{asset.balance}}" ng-bind-html="asset.balance | numeraljs: '0,0.00000000'"></span>
	                <span ng-if="asset.divisible == undefined" class="currency" title="{{asset.balance}}"><span ng-bind-html="asset.balance | numeraljs: '0,0.00000000'"></span></span>
				</div>
				<div class="col-xs-6 col-sm-2" title="{{asset.value}}" ng-bind-html="asset.value | numeraljs: '$0,0.00':true"></div>
			</div>
			<div class="col-xs-1"><div class="radio inline btn-collapse"><span></span><input type="radio" name="details" ng-model="asset.showDetails" checked=""><span></span></div></div>
		</div>
		<div class="row" collapsed="asset.showDetails">
			<table class="table">
				<thead>
					<tr>
						<th>{{ 'COMMON_ADDRESS' | translate }}</th>
						<th class="hide-xs"></th>
						<th class="hide-xs"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="address in asset.addresses()">
						<td ng-show="address.pubkey != undefined">
							<img ng-src="{{address.qr}}" ng-show="showqr"><a href ng-click="showqr = !showqr">{{address.address}}</a> 
							<a href="/about/faq" target="_new">
								<span class="glyphicon glyphicon-off" tooltip="This is an Armory Offline address. (Click for more info)"></span>
							</a>
						</td>
			            <td ng-show="address.privkey != undefined">
			            	<img ng-src="{{address.qr}}" ng-show="showqr"><a href ng-click="showqr = !showqr">{{address.address}}</a> 
			            	<a href="/about/faq" target="_new">
			            		<span class="glyphicon glyphicon-lock" tooltip="Your Wallet has the Private key for this address. (Click for more info)"></span>
			            	</a>
			            </td>
			            <td ng-hide="address.privkey != undefined || address.pubkey != undefined">
			            	<img ng-src="{{address.qr}}" ng-show="showqr"><a href ng-click="showqr = !showqr">{{address.address}}</a>
			            </td>
			            <td ng-if="asset.divisible != undefined && !asset.divisible" class="currency number" title="{{address.balance}}" ng-bind-html="address.balance | numeraljs: '0,0'"></td>
			            <td ng-if="asset.divisible != undefined && asset.divisible" class="currency number" title="{{address.balance}}" ng-bind-html="address.balance | numeraljs: '0,0.00000000'"></td>
			            <td ng-if="asset.divisible == undefined" class="currency number" title="{{address.balance}}"><span ng-bind-html="address.balance | numeraljs: '0,0.00000000'"></span> {{currency.symbol}}</td>
			            <td class="currency number" title="{{address.value}}" ng-bind-html="address.value | numeraljs: '$0,0.00':true"></td>
			            <td>
			          		<div class="dropdown">
			          		<a data-toggle="dropdown" href="#" class="btn btn-info btn-xs"> {{ 'COMMON_ACTIONS' | translate }} </a>
			          		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu9">
	                              <li role="presentation">
	                              	<a role="menuitem" tabindex="-1" href="#" ng-click="openDeleteConfirmForm( address )" >
	                              		{{'COMMON_REMOVEADDRESS' | translate}}
	                              </a></li>
	                              <li ng-show="address.pubkey != undefined" role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="openBroadcastTransactionForm(address.address)" > {{ 'COMMON_BROADCAST' | translate}} </a></li>
			          		  </ul>
			              </div>
			            </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>