<div class="container-fluid" ng-repeat="asset in wallet.assets">
	<div ng-if="(asset.balance>0 || asset.symbol == 'BTC') && ((asset.id < 2147483648 && asset.id != 2) || showtesteco === 'true')" class="asset-table">
		<div class="row">
			<div class="col-xs-11">
				<div class="col-xs-12 col-sm-5" ng-if="asset.symbol!='BTC'">{{asset.name || asset.symbol | truncate:14}} ({{asset.id}})</div>
				<div class="col-xs-12 col-sm-5" ng-if="asset.symbol=='BTC'">{{ 'COMMON.BITCOIN' | translate }}</div>
				<div class="col-xs-6 col-sm-4 text-right">
					<span ng-if="asset.divisible != undefined && !asset.divisible" class="currency" title="{{asset.displayBalance}}" ng-bind-html="asset.displayBalance | bigjs: '0,0'"></span>
					<span ng-if="asset.divisible != undefined && asset.divisible" class="currency" title="{{asset.displayBalance}}" ng-bind-html="asset.displayBalance | bigjs: '0,0.00000000'"></span>
					<span ng-if="asset.divisible == undefined" class="currency" title="{{asset.displayBalance}}"><span ng-bind-html="asset.displayBalance | bigjs: '0,0.00000000'"></span></span>
					<span ng-show="asset.displayPendingNeg<0" tooltip="This balance reflects the total outbound amount of {{asset.displayPendingNeg*-1}} {{asset.name ? asset.name : asset.symbol | truncate:14}} in your pending transaction(s)">
					  <a href="/about/faq" target="_new"><span class="glyphicon glyphicon-export"></span></a></span>
					<span ng-show="asset.displayPendingPos>0" tooltip="To be added to your balance when confirmed">
					  <br><a href="/about/faq" target="_new"><span class="glyphicon glyphicon-import"></span></a> (+<span ng-bind-html="asset.displayPendingPos | bigjs: '0,0.00000000'"></span> Unconfirmed)</span>
				</div>
				<div class="col-xs-6 col-sm-3 text-right" title="{{asset.value}}" ng-bind-html="asset.value | numeraljs: '$0,0.00':true"></div>
			</div>
			<div class="col-xs-1 collapse-toggle"><div class="checkbox inline btn-collapse"><span></span><input type="checkbox" name="{{asset.symbol}}"  ng-init="asset.hideDetails=true" ng-model="asset.hideDetails"><span></span></div></div>
		</div>
		<div class="row" collapse="asset.hideDetails">
			<div class="col-xs-12">
				<table class="table">
					<thead>
						<tr>
							<th class="hide-xs"><i class="icon-l"></i></th>
							<th>{{ 'COMMON.ADDRESS' | translate }}</th>
							<th class="hide-xs">{{ 'COMMON.BALANCE' | translate }}</th>
							<th class="hide-xs">{{ 'COMMON.VALUE' | translate }}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="address in asset.addresses()">
							<td class="hide-xs"></td>
							<td ng-show="address.pubkey != undefined">
								<img ng-src="{{address.qr}}" ng-show="showqr"><a href ng-click="showqr = !showqr">{{address.hash}}</a> 
								<a href="/about/faq" target="_new">
									<span class="glyphicon glyphicon-off" tooltip="This is an Armory Offline address. (Click for more info)"></span>
								</a>
							</td>
				            <td ng-show="address.privkey != undefined">
				            	<img ng-src="{{address.qr}}" ng-show="showqr"><a href ng-click="showqr = !showqr">{{address.hash}}</a> 
				            	<a href="/about/faq" target="_new">
				            		<span class="glyphicon glyphicon-lock" tooltip="Your Wallet has the Private key for this address. (Click for more info)"></span>
				            	</a>
				            </td>
				            <td ng-hide="address.privkey != undefined || address.pubkey != undefined">
				            	<img ng-src="{{address.qr}}" ng-show="showqr"><a href ng-click="showqr = !showqr">{{address.hash}}</a>
				            </td>
				            <td ng-if="asset.divisible != undefined && !asset.divisible" class="currency number text-right" title="{{address.getDisplayBalance(asset.id)}}"> <span ng-bind-html="address.getDisplayBalance(asset.id) | bigjs: '0,0'"></span>
						<span ng-show="address.getPendingNeg(asset.id)<0" tooltip="This balance reflects the total outbound amount of {{address.getPendingNeg(asset.id)*-1}} {{currency.name ? currency.name : currency.symbol | truncate:14}} in your pending transaction(s)">
			                    <a href="/about/faq" target="_new"><span class="glyphicon glyphicon-export"></span></a></span>
			                 <span ng-show="address.getPendingPos(asset.id)>0" tooltip="To be added to your balance when confirmed">
			                    <br><a href="/about/faq" target="_new"><span class="glyphicon glyphicon-import"></span></a> (+<span ng-bind-html="address.getPendingPos(asset.id) | bigjs: '0,0.00000000'"></span> Unconfirmed)</span>
				            </td>
				            <td ng-if="asset.divisible != undefined && asset.divisible" class="currency number text-right" title="{{address.getDisplayBalance(asset.id)}}"> <span ng-bind-html="address.getDisplayBalance(asset.id) | bigjs: '0,0.00000000'"></span>
						<span ng-show="address.getPendingNeg(asset.id)<0" tooltip="This balance reflects the total outbound amount of {{address.getPendingNeg(asset.id)*-1}} {{currency.name ? currency.name : currency.symbol | truncate:14}} in your pending transaction(s)">
			                    <a href="/about/faq" target="_new"><span class="glyphicon glyphicon-export"></span></a></span>
			                 <span ng-show="address.getPendingPos(asset.id)>0" tooltip="To be added to your balance when confirmed">
			                    <br><a href="/about/faq" target="_new"><span class="glyphicon glyphicon-import"></span></a> (+<span ng-bind-html="address.getPendingPos(asset.id) | bigjs: '0,0.00000000'"></span> Unconfirmed)</span>
				            </td>
				            <td ng-if="asset.divisible == undefined" class="currency number text-right" title="{{address.getDisplayBalance(asset.id)}}"><span ng-bind-html="address.getDisplayBalance(asset.id) | bigjs: '0,0.00000000'"></span> {{currency.symbol}}
						<span ng-show="address.getPendingNeg(asset.id)<0" tooltip="This balance reflects the total outbound amount of {{address.getPendingNeg(asset.id)*-1}} {{currency.name ? currency.name : currency.symbol | truncate:14}} in your pending transaction(s)">
			                    <a href="/about/faq" target="_new"><span class="glyphicon glyphicon-export"></span></a></span>
			                 <span ng-show="address.getPendingPos(asset.id)>0" tooltip="To be added to your balance when confirmed">
			                    <br><a href="/about/faq" target="_new"><span class="glyphicon glyphicon-import"></span></a> (+<span ng-bind-html="address.getPendingPos(asset.id) | bigjs: '0,0.00000000'"></span> Unconfirmed)</span>
				            </td>
				            <td class="currency number text-right" title="{{address.getDisplayBalance(asset.id) * asset.price}}" ng-bind-html="address.getDisplayBalance(asset.id) * asset.price | numeraljs: '$0,0.00':true"></td>
				            <td>
				          		<div class="dropdown">
				          		<a data-toggle="dropdown" href="#" class="btn btn-tertiary btn-xs"> {{ 'COMMON.ACTIONS' | translate }} </a>
				          		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu9">
		                              <li role="presentation">
		                              	<a role="menuitem" tabindex="-1" href="#" ng-click="modalManager.openDeleteConfirmModal( address )" >
		                              		{{'COMMON.REMOVEADDRESS' | translate}}
		                              </a></li>
		                              <li ng-show="address.pubkey != undefined" role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="modalManager.openBroadcastArmoryOfflineTransactionModal(address.hash)" > {{ 'COMMON.BROADCAST' | translate}} </a></li>
				          		  </ul>
				              </div>
				            </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
