<div class="col-xs-12" ng-controller="WalletBuyAssetsController">
  <div class="row">
      <h3 class="text-left om-title" >Accept Offer</h3>
    <br>
    <div ng-show="showErrors" class="alert alert-danger">
      {{error}}
    </div>
  </div>
  <div ng-hide="addressList.length > 0">
    No Funds on Addresses with private keys to complete the purchase!
    <br />
    Send some funding to an address on the <a class="" href="/wallet/addresses"> My Addresses </a> page or add an address with funds.
  </div>
  <form name="buyForm" ng-submit="validateBuyForm()" ng-show="addressList.length > 0">
      <div class="row">
        <div class="col-xs-6">
          <h4 ng-hide="hideForm" class="text-justify" >Buying Address:</h4>
          <div ng-hide="hideForm" class="form-inline">
            <select class="form-control" ng-model="$parent.$parent.selectedAddress"
            ng-options="address for address in addressList"
            ng-change="setBalance()" ng-init="setBalance()">
              <option value=""> -- Choose Address -- </option>
            </select>
          </div>
        </div>
      </div>
      <div ng-hide="hideForm" class="row">
        <div class="col-xs-12">

          <br>
          <div class="input-group" tooltip="Opens in new Window/Tab">
            <span class="input-group-addon">Sale Offer (ID / hash):</span>
            <a href="/explorer/inspector?view={{buySaleID}}" target="_blank">
            <input name="buyhash" type="text" ng-model="buySaleID" class="form-control" ng-init="buySaleID=global['buyOffer'].tx_hash" disabled>
            </a>
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon">Price per coin: </span>
            <input type="number" class="form-control"
            placeholder="{{ global['buyOffer'].formatted_price_per_coin }} BTC" disabled>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon">Seller's address: </span>
            <input type="text" class="form-control" placeholder="{{global['buyOffer'].from_address}}" disabled>
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon"> Sale fee : </span>
            <input type="number" class="form-control"
            placeholder="{{ global['buyOffer'].formatted_fee_required }} BTC" disabled>
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon"> Payment Timeframe : <a href=""
              tooltip="If your reservation offer is accepted and validated you will have to complete the payment within this time frame."
              tooltip-append-to-body="true"
              tooltip-placement="top"> <strong>(?)</strong> </a> </span>
            <input type="number" class="form-control"
            placeholder="{{ global['buyOffer'].formatted_block_time_limit }} Blocks. (Approx {{ (global['buyOffer'].formatted_block_time_limit * 10)/60 | number:2}} hours based on an average of 10min/block)" disabled>
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon"> Amount to accept ({{ displayedAbbreviation }}): </span>
            <input name="amount" type="number" ng-model="buyAmount" class="form-control"
            placeholder="For example: {{ sendPlaceholderValue }} (Max {{ global['buyOffer'].formatted_amount_available }})" step="{{ sendPlaceholderStep }}" min="{{ sendPlaceholderMin }}" 
            max="{{ global['buyOffer'].formatted_amount_available }}" required>
            <span class="input-group-addon" > Available to accept: {{ global['buyOffer'].formatted_amount_available }} {{ displayedAbbreviation }} </span>
          </div>
          <br>

          <div class="input-group">
            <span class="input-group-addon"> Approx Cost : <a href=""
              tooltip="If your reservation offer is accepted and validated, you will have to pay this amount to complete the transaction."
              tooltip-append-to-body="true"
              tooltip-placement="top"> <strong>(?)</strong> </a> </span>
            <input type="number" class="form-control"
            placeholder="{{ ( global['buyOffer'].formatted_price_per_coin * buyAmount ) | number:8 }} BTC" disabled>
            <!-- need to update this to dynamic cost/currency type once metadex launces -->
          </div>
          <br>
          <div class="input-group" style="width: 15%;">
            <span class="input-group-addon" style="padding: 0.65em;"> MasterProtocol Transaction Cost: 
            <a href=""
                tooltip="MasterProtocol Transactions require additional BTC. This is used when encoding/sending the Masterprotocol Transaction."
                tooltip-append-to-body="true"
                tooltip-placement="top"> <strong>(?)</strong>
              </a></span>
            <span class="input-group-addon"> ~ 0.00025 BTC </span>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"> Miner fees ( BTC ): </span>
            <input name="fees" type="number" ng-model="minerFees" class="form-control"
            placeholder="0.0001 suggested minimum" step="0.0001" min="0.0001" ng-change="calculateTotal(minerFees)" required>
            <span class="input-group-addon" > Available Bitcoin: {{ balanceData[1] }} BTC </span>
          </div>
          <br>
          <div class="input-group" style="width: 15%;">
            <span class="input-group-addon" style="padding: 0.65em;"> Total Transaction Cost: 
    	 <a href=""
                tooltip="Total transaction cost in BTC. Includes Miners fee and MasterProtocol costs."
                tooltip-append-to-body="true"
                tooltip-placement="top"> <strong>(?)</strong>
              </a></span>
            <span class="input-group-addon"> {{ totalCost }} BTC </span>
          </div>
        </div>
      </div>
      <br>
      <input ng-disabled="hideForm" class="btn btn-primary btn-lg col-xs-push-3 col-xs-6" type="submit" value="Send Reservation">
  </form>
</div>
