<div class="col-xs-12" ng-controller="WalletSellAssetsController" ng-init="setHasCoins(hideForm)">
  <div class="row">
    <h3 class="text-left om-title" >New Sale Offer</h3>
    <br>
    <div ng-show="showErrors" class="alert alert-danger">{{error}}</div> 
  </div>
  <form name="saleForm" ng-submit="validateSaleForm()">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="text-justify" >Choose coin:</h4>
      <div class="form-inline">
        <select class="form-control" ng-model="$parent.$parent.selectedCoin"
          ng-options="currency as currency.name for currency in currencySaleList"
          ng-change="setBalance()" ng-init="setBalance()" ng-disabled="true">
          <option value=""> -- Choose Coin -- </option>
        </select>
      </div> 
    </div>
  </div>
  <div ng-hide="hideForm" class="row">
    <div class="col-xs-6">
      <h4 class="text-justify" >Sell from address:</h4>
      <div class="form-inline">
          <select class="form-control" ng-model="$parent.$parent.selectedAddress"
            ng-options="address for address in addressList"
            ng-change="setBalance()" ng-init="setBalance()">
            <option value=""> -- Choose Address -- </option>
          </select>
      </div> 
    </div>
  </div>
  <div ng-hide="hideForm" class="row">
    <div class="col-xs-12">
      <br>
      <div class="input-group">
        <span class="input-group-addon"> Sell Quantity ( {{getDisplayedAbbreviation()}} ): </span>
          <input name="amount" type="number" ng-model="saleAmount" class="form-control"
            step="{{ sendPlaceholderStep }}" min="{{ sendPlaceholderMin }}" required>
          <span class="input-group-addon" > 
            Available: {{ balanceData[0] }} {{ getDisplayedAbbreviation() }}
          </span>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"> Total Bitcoin desired ( # BTC for {{ saleAmount || 0 }} {{ getDisplayedAbbreviation() }}): 
        <a href=""
            tooltip="Enter the total # of bitcoins you would want to receive if you sold all {{ saleAmount || 0 }} {{ getDisplayedAbbreviation() }}"
            tooltip-append-to-body="true"
            tooltip-placement="top" > <strong>(?)</strong>
          </a>
	</span>
        <input name="ppc" type="number" step="0.00000001" ng-model="salePricePerCoin" class="form-control"
          placeholder="0.10000000" min=".00005750" required>
        <span class="input-group-addon"> 
          Price per coin: {{  (saleAmount && salePricePerCoin) ? (( salePricePerCoin || 0) / ( saleAmount || 0) | number:8) : 0  }}
          BTC</span>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">
          Time given to buyer to pay: 
          <a href=""
            tooltip="Time in blocks the buyer has to complete his purchase (1 block approx. 10 minutes)"
            tooltip-append-to-body="true"
            tooltip-placement="top" > <strong>(?)</strong>
          </a>
        </span>
        <input name="blocks" type="number" step="1" ng-model="saleBlocks" class="form-control" placeholder="10 blocks" min="10" required>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon"> Buyer's fee ( {{ getDisplayedAbbreviation() }} ): </span>
        <input name="buyerfee" type="number" step="0.0001" ng-model="buyersFee" class="form-control" 
        placeholder="0.0001 suggested minimum" min="0.0001" required>
      </div>
      <br>
      <div class="input-group" style="width: 15%;">
            <span class="input-group-addon" style="padding: 0.65em;"> MasterProtocol Transaction Cost: 
            <a href=""
                tooltip="MasterProtocol Transactions require additional BTC. This is used when encoding/sending the Masterprotocol Transaction."
                tooltip-append-to-body="true"
                tooltip-placement="top"> <strong>(?)</strong>
              </a></span>
            <span class="input-group-addon"> ~ 0.00025 BTC </span>
      </div>
      <br>
      <div class="input-group">
          <span class="input-group-addon"> Miner fees ( BTC ): </span>
          <input name="fees" type="number" ng-model="minerFees" class="form-control" 
          placeholder="0.0001 suggested minimum" step="0.0001" min="0.0001" ng-change="calculateTotal(minerFees)" required>
          <span class="input-group-addon" > 
          Available Bitcoin: {{ balanceData[1] }} BTC
          </span>
      </div>
      <br>
      <div class="input-group" style="width: 15%;">
            <span class="input-group-addon" style="padding: 0.65em;"> Total Transaction Cost: 
    	 <a href=""
                tooltip="Total transaction cost in BTC. Includes Miners fee and MasterProtocol costs."
                tooltip-append-to-body="true"
                tooltip-placement="top"> <strong>(?)</strong>
              </a></span>
            <span class="input-group-addon"> {{ totalCost }} BTC </span>
      </div>
    </div>
  </div>
    <br>
  <input ng-disabled="hideForm" class="btn btn-primary btn-lg col-xs-push-3 col-xs-6" type="submit" value="Create Sale">
  </form>
</div>
