<div ng-controller="ExchangeOverviewController" ng-init="loadMarkets()">
  <div class="row">

    <div class="col-sm-3 text-left om-title">{{ 'EXCHANGE.TRADE.TITLE' | translate}}</div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right" ng-include="'/views/assets/partials/form_ecosystem.html'"></div>

    <div class="col-sm-2 text-right" style="float:right">
      <button class="btn btn-main" ng-click="setView('saleOffer')" ng-disabled="!account.loggedIn"> {{ 'EXCHANGE.TRADE.SELL' | translate }}</button>
    </div>

    <div class="col-xs-12">
      <div ng-show="showNoCoinAlert" class="alert alert-danger alert-dismissible missing-dex-alert" role="alert">
        {{ 'EXCHANGE.TRADE.NOCOINS.LEAD' | translate}} {{ activeCurrency.displayname }} {{'EXCHANGE.TRADE.NOCOINS.TRAIL' | translate}}
        <button type="button" class="close" ng-click="hideNoCoinAlert();">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">{{ 'COMMON_CLOSE' | translate}}</span>
        </button>
      </div>
    </div>

    <div>
      <div class="col-sm-6">

        <select class="form-control" ng-model="selectedCurrency"
          ng-change="setActiveCurrency()" ng-options="currency as currency.displayname for currency in markets">
        </select>

      </div>
    </div>
  </div>

 <hr />
 <div ng-include="'/views/exchange/partials/dex.html'"></div>

</div>

