<div class="modal-header">
  <div class="text-left modal-title col-md-11">{{ 'MODALS.BROADCAST.TITLE' | translate}}</div><div class="text-right"><button ng-disabled="wating" class="btn modal-cancel-btn" ng-click="close()"></button></div>
</div>
<form novalidate class="form-horizontal">
  <div class="modal-body">
    <p>
      {{ 'MODALS.BROADCAST.INSTRUCTIONS' | translate}}
    </p>
    <h5>{{ 'MODALS.BROADCAST.ADDRESS' | translate}}: <strong>{{broadcastAddress}}</strong></h5>
    <div class="control-group">
      <label class="control-label" for="signedtx">{{ 'MODALS.BROADCAST.SIGNED' | translate}}</label>
      <div class="controls">
        <textarea rows="16" class="form-control input-sm" ng-model="transaction.signedHex" id="signedtx"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row" ng-hide="transactionSuccess">
      <button ng-disabled="clicked" class="btn btn-main" ng-click="ok(transaction.signedHex)">{{ 'MODALS.CONFIRM.BROADCAST' | translate}}</button>
      <button ng-disabled="wating" class="btn btn-tertiary" ng-click="cancel()">{{ 'COMMON.CANCEL' | translate}}</button>
      <img class="" src="/assets/img/spinner.gif" ng-show="waiting">
    </div>
      <br>
    <div>
      <div ng-show="transactionSuccess">
        <h4 class="pull-left" style="color:green"> {{ 'MODALS.BROADCAST.SUCCESS' | translate}} <a target="_blank" href="{{url}}">{{ 'MODALS.CONFIRM.HERE' | translate }}.</a></h4>
        <a href="/wallet/overview">
          <button class="btn btn-success" ng-click="close()">{{ 'COMMON.CLOSE' | translate}}</button>
        </a>
      </div>
      <div ng-show="transactionError">
        <h4 class="col-xs-12" style="color:red;"> {{ 'MODALS.BROADCAST.FAIL' | translate}}: 
         {{error}} </h4>
      </div>
    </div>
  </div>
</form>
