<div class="modal-header">
  <div class="text-left modal-title col-md-11">{{ 'MODALS.IMPORT.WALLET.TITLE' | translate}}</div><div class="text-right"><button ng-disabled="wating" class="btn modal-cancel-btn" ng-click="close()"></button></div>
</div>
<form name="bkpentry" class="form-horizontal" style="margin-bottom:20px, margin-top:20px" ng-submit="startImport(walletData)">
  <div class="modal-body">
    <div class="row" ng-hide="importFinished">
      <div class="form-group col-md-10 col-md-push-1">
        <label class="control-label">{{ 'MODALS.IMPORT.WALLET.UPLOAD' | translate}}:</label>
        <input type="file" name="privkey" class="form-control" fileread="walletData" ng-model="walletData" ng-required="true">
        <span style="color:red" ng-show="privkeyentry.walletData.$dirty && !validate(walletData)">{{ 'MODALS.IMPORT.WALLET.INVALID' | translate}}.</span>
      </div>
    </div>
    <div class="row" ng-show="importFinished">
      <ul>
        <li ng-repeat="item in summary" style="color: {{item.color}};">{{item.message}}</li>
      </ul>
    </div>  
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-main" value="Import Wallet" ng-disabled="!walletData || processing" ng-hide="importFinished">
    <button type="button" class="btn btn-tertiary" ng-disabled="processing" ng-click="cancel()" ng-hide="importFinished">{{ 'COMMON.CANCEL' | translate}}</button>
    <button type="button" class="btn btn-success" ng-click="close()" ng-show="importFinished">{{ 'COMMON.CLOSE' | translate}}</button>
    <progressbar ng-show="processing" style="margin-top:10px" animate="false" value="(completed * 100) / total" type="success" max="100"><b ng-show="completed > 0">{{completed}} / {{total}}</b></progressbar>
    <h4  ng-hide="importFinished" style="color: {{progressColor}};">{{progressMessage}}</h4>
  </div>
</form>